[2021-12-08 15:01] #219 closed

[2021-12-09 01:51] #376 closed

[2021-12-09 15:21] tidal opened #507 "Create separate composer packages for contrib repository and SDK components."
_This topic has been discussed in different threads so this an issue for this task to be referenced._

According to the [spec](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/library-guidelines.md#opentelemetry-client-generic-design) the OpenTelemetry client should be distributed as (at least) 4 packages.
The individual components of the [contrib repo](https:/

[2021-12-09 15:48] tidal commented on #507
All issues in https://github.com/open-telemetry/opentelemetry-php/issues/464 have to be solved to allow splitting the main PHP libary.

[2021-12-09 15:51] tidal commented on #507
See discussions in: https://github.com/open-telemetry/opentelemetry-php/issues/220 , https://github.com/open-telemetry/opentelemetry-php-contrib/issues/21

[2021-12-09 17:04] tidal opened #508 "Create unified HTTP Client (Wrapper)"
In order to reduce dependencies in the HTTP exporters as unified HTTP Client (Wrapper) should be created.
The HTTP Client (Wrapper) should be configurable by users, if needed.
The HTTP Client (Wrapper) should be usable by other components (for exmple detectors).
The HTTP Client (Wrapper) must be able to work with PSR compatible implementations.

[2021-12-09 17:07] #223 closed

[2021-12-09 17:10] tidal commented on #507
related: https://github.com/open-telemetry/opentelemetry-php/issues/356

[2021-12-10 00:01] brettmc commented on #382
Closing due to no feedback, I think the issue has been fixed now.

[2021-12-10 00:01] #382 closed

[2021-12-10 15:52] dkarlovi commented on #219
@tidal this seems to be a misunderstanding: the exception thrown here doesn't relate to the spec in any way, it's a way to improve DX as you're implementing the SDK in your own app, warning of a common setup issue. It's meant to be thrown in `debug` mode only, assuming the SDK gets such a mode (as outlined in https://github.com/open-telemetry/opentelemetry-php/issues/219#issuecomment-816544097).

[2021-12-13 19:15] tidal opened #568 "[opentelemetry-php-contrib] Create Symfony InstrumentationBundle"

[2021-12-13 19:22] tidal opened #567 "[opentelemetry-php-contrib] Create Symfony DebugBundle"
The DebugBundle should enhance the Symfony [Profiler](https://symfony.com/doc/current/profiler.html) with a view of
telemetry data collected by opentelemetry-php. Custom data-collectors and profiler templates need to be created for this to work.

[2021-12-14 15:16] tidal commented on #219
@dkarlovi
Sorry, this ticket has been a bit all over the place. If you think there is a misunterstanding, I will try to address your concerns.

The ticket has initially been about missing exceptions, and what you describe is a bit more. We are trying to get rid of exceptions atm, and replace them with logging etc., so there will no silent failing

In general there will probably no "debug mode" at

[2021-12-14 15:21] dkarlovi commented on #219
@tidal you seem to have a much better idea where the work is going so I deferring to you to make these decisions, I wanted to clarify the point of the initial issue which was created based on my feedback on the (then) SDK state.

About the Symfony specific (no bundle, three bundles, config parsing), I don't think we need to discuss it in detail here. :+1: Thanks!

[2021-12-14 17:00] tidal commented on #415
@Grunet
Did you plan to work on this? Otherwise we can add a `help-wanted` label.

[2021-12-14 17:07] tidal commented on #445
Since semantic conventions landed in https://github.com/open-telemetry/opentelemetry-php/pull/502, the respective constants can be used to implement this feature.

[2021-12-14 19:38] tidal commented on #328
@bobstrecansky
Could we settle on making retries a configurable option (default=off)? As outlined above, I don't see how we can implement this otherwise without creating complaints/bug-tickets of SDK users in the future.
On the other hand we could use this setting for other exporters as well.

[2021-12-15 04:40] Grunet commented on #415
Nope not at the moment. Required a bit more familiarity with the library overall than I had/still have to properly tackle I think. And yeah the label seems useful to me.

[2021-12-15 05:05] Grunet commented on #296
FWIW I think I'll break this up into several PRs just to keep them a little smaller and less daunting for me to tackle... so like the first one to create the span converter, then the next to do the thrift over http transmission, then the next to add protobug/grpc support (if needed), etc...

[2021-12-15 06:12] tidal commented on #296
@Grunet
Fair enough. Do you also want to tackle the generation of the thrift files?
They should go into a thrift/jaeger sub-directory and I think we will not need all of the thrift files, so for example the agent one might not be needed?

[2021-12-15 19:01] bobstrecansky commented on #328
After discussing this in the SIG meeting: Yes, this sounds reasonable to me.

[2021-12-15 20:05] brettmc commented on #301
Discussed in SIG today to put this on hold, awaiting the outcome of https://github.com/open-telemetry/opentelemetry-specification/issues/2207

[2021-12-15 23:33] #221 closed

[2021-12-16 04:49] brettmc opened #515 "tests crash on 8.1 with fiber support"
Test suite crashes on php 8.1 with fiber support: https://github.com/open-telemetry/opentelemetry-php/runs/4528730866?check_suite_focus=true#step:12:47

https://github.com/open-telemetry/opentelemetry-php/blob/main/src/Context/fiber/zend_observer_fiber.php#L34
If that line is removed, it results in a segfault though.
The part above that line is used to load the C headers once and only once, that's

[2021-12-16 15:09] bobstrecansky commented on #484
This has been completed for opentelemetry-php.  I'll need to request the same access for opentelemetry-php-contrib to do the same there.

[2021-12-16 18:43] bobstrecansky commented on #484
I've completed the same for opentelemetry-php-contrib.  I believe this work has been completed.  I'm going to close this ticket.

[2021-12-16 18:43] #484 closed

[2021-12-16 22:53] brettmc opened #516 "[meta] php 8.1 support"
PHP 8.1 has been released, and there are some issues to fix to make the library compatible.

Issues that we are currently aware of with opentelemetry-php + 8.1:
- [x] #489
- [x] #515
- [ ] protobuf deprecation notices

[2021-12-18 16:07] Nevay commented on #515
This should preferably be fixed in the phpunit config, there is no reason that this constant should be serialized.

Could use a different approach to keep the FFI reference alive, tests pass locally with this patch:
[code]

[2021-12-18 22:32] brettmc commented on #515
@Nevay - is the idea of keeping the reference alive related to garbage collection? If so, stashing it in a static variable makes sense.

[2021-12-19 00:03] Nevay commented on #515
Yes, the registered observer callbacks become invalid if the FFI::load() instance is gc'ed; the callbacks then result in segfaults (FFI::scope() returns a persistent FFI instance that won't be freed - [ffi.c](https://github.com/php/php-src/blob/php-8.1.0/ext/ffi/ffi.c#L2314-L2337)).

[2021-12-20 19:38] tidal opened #566 "[opentelemetry-php-contrib] AWS: Fix examples"
The AWS examples are broken at the moment

[2021-12-20 19:41] tidal opened #565 "[opentelemetry-php-contrib] AWS: Use PSR Http Client instead of Guzzle"
The AWS components have a dependency on Guzzle at the moment.
This should be changes to use generic PSR HTTP Clients like in the main library.

[2021-12-22 22:57] tidal opened #519 "Move PrometheusExporter into Contrib package"
The PrometheusExporter is currently located inside of the SDK package/directory.
It should live inside of the Contrib package/directory.

[2021-12-23 23:23] #515 closed

[2021-12-24 23:17] brettmc opened #523 "create FFI + fiber example"
Create a working example for FFI preloading of fiber code. eg when used with php-fpm.

(Should consider moving the header file to the toplevel directory if we want to document the usage with `ffi.preload`, but not sure whether that is something we should support/document for now.)

_Originally posted by @Nevay in https://github.com/open-telemetry/opentelemetry-php/pull/517#discussion_r771930476_

[2021-12-25 15:47] #523 closed

[2021-12-29 03:26] tidal opened #527 "Separate Integration Tests from Unit Tests."
At the moment Integration Tests and Unit Tests are run as one test suite.
This creates false positives in code coverage because of code execution in the Integration Tests leaking into the Unit Tests' code coverage reports.

- Separate Integration and Unit Tests into dedicated sub-directories of `tests` (`tests/Unit` + `tests/Integration`) and adjust Namespaces accordingly.
- Separate Integration a

[2021-12-29 03:35] tidal opened #528 "Move Integration Tests out of Unit Tests."
At the moment there are a few tests marked as Unit tests, which are actually integration tests. They test side-effects of a class or do not provide isolation through mocks, stubs or test-doubles. They create false positives in code coverage because of code execution in the  leaking into the Unit Tests' code coverage reports.

- Move "integration test like" tests from Unit Tests into the Integratio

[2021-12-29 03:50] tidal opened #529 "Unify Test Coding Style"
At the moment tests have very different coding styles. Some use a `@test` annotation, some use a `test`method prefix, Some use `snake-case`, some use `pascal-`or `camel-case` and mixtures of all those variants.
This severly limits the readabilty of the tests, so they signatures of the test methods should be unified.
As the specific style is a matter of taste and/or habit, the best way to find a un

[2021-12-29 03:53] tidal opened #530 "[meta] Improve tests"
- [x] #527
- [x] #528
- [x] #529

[2021-12-29 14:47] #464 closed

[2021-12-31 02:19] #519 closed

[2022-01-03 12:43] kpratyus commented on #298
I have started looking into the possible implementations for this issue. I had a discussion with @tidal in the last sig and there were few suggestions on how we could proceed. So I would be glad if this issue could be assigned to me.
Thanks

[2022-01-03 15:02] sonro commented on #529
Hello, I would like to help with the testing improvements and I want to start with this issue. I have recently researched developer's preferences regarding snake_case vs camelCase in function/variable naming.

In modern PHP testing, it seems to be split pretty evenly between the two; with a slight edge to camelCase. However, from my research, people find snake_case preferable for longer function/m

[2022-01-03 15:59] tidal commented on #529
@sonro
Hi, and thank you for wanting to contribute.

Yes, absolutely!

Do you want us to assign you to the issue?

[2022-01-03 16:29] sonro commented on #529
Sure, go ahead.

[2022-01-04 09:55] farooqte96 opened #534 "Integrate PHP app with OTLP Exporter to send traces to aws-otel-collector"
Hi

I have a PHP application for which i want to send traces to aws-xray. It looks like we need to manually instrument the PHP application so it sends first all traces to [aws-otel-collector](https://github.com/aws-observability/aws-otel-collector/blob/main/docs/developers/ecs-demo.md) using OTLP Exporter. I checked the example implementation provided here: https://github.com/open-telemetry/opente

[2022-01-04 10:07] #529 closed

[2022-01-04 10:10] brettmc commented on #534
Hi @farooqte96
AlwaysOnOTLPGrpcExample[1+2].php look like they have not been updated since we made some changes, they definitely will not work. I haven't personally used it, but there is an example for aws-xray over in https://github.com/open-telemetry/opentelemetry-php-contrib/tree/main/examples/aws - scanning over them, they also need updating (contributions welcome!!) - but I think if you use o

[2022-01-04 10:16] tidal commented on #534
Yes, the AWS examples need an update -> https://github.com/open-telemetry/opentelemetry-php-contrib/issues/35

I did not include these changes, when updating the AWS components' code to work with the latest SDK changes.

@farooqte96 These changes are not releaes yet, but in the main branch, and we are working on publishing the AWS components (and other components) as a separate package.

[2022-01-05 12:45] sajjadgol opened #539 "AlwaysOnJaegerExamplePHP Fatal error: Uncaught Error: Call to undefined method OpenTelemetry\SDK\Trace\TracerProvider::addSpanProcessor()"
[code]
error :
Starting AlwaysOnJaegerExamplePHP Fatal error:  Uncaught Error: Call to undefined method OpenTelemetry\SDK\Trace\TracerProvider::addSpanProcessor() ....

section of my code : ( copy from  https://github.com/open-telemetry/opentelemetry-php/blob/0.0.4/examples/AlwaysOnJaegerExample.php)

[2022-01-05 13:22] #527 closed

[2022-01-05 13:26] tidal commented on #539
related: https://github.com/open-telemetry/opentelemetry-php/issues/426

[2022-01-06 00:40] brettmc commented on #528
I'm working on this. Am moving a few obvious integration tests across into the `Integration` area, but also annotating existing unit tests with `@covers` to reduce false coverage, which should make clearer what is not being tested properly.

[2022-01-06 00:42] brettmc commented on #516
there are two PRs against protobuf which address 8.1 deprecation notices, so hopefully one will be accepted and will make its way through into a release. I've tested otel-php against my PR, and it removes/silences all notices.

[2022-01-06 08:17] brettmc commented on #458
This exporter was refactored a little while back, and the http exporting logic was moved into a trait, `HttpSpanExporterTrait`. The try/catch has been updated during that refactor, but the if/then referred to here [is still there](https://github.com/open-telemetry/opentelemetry-php/blob/56cf2db1412198541773c8d0381961f111d907da/src/SDK/Trace/Behavior/HttpSpanExporterTrait.php#L56).
I think the logi

[2022-01-06 08:21] brettmc commented on #445
It looks like this is partially addressed in #537

[2022-01-06 10:56] #539 closed

[2022-01-07 08:50] sajjadgol commented on #539
thank you @tidal @brettmc

[2022-01-07 10:52] brettmc commented on #357
This is still an issue with the `ext-protobuf` extension (3.19.1 and 3.19.2), but not with the protobuf package. This has implications for both of the OTLP exporters, which may use the protobuf extension for improved performance.

[2022-01-11 16:28] markvdlaan93 opened #546 "Multi span traces"
Currently, I try to create a single trace with multiple spans. Is this something that is supported at the moment? My code looks like this:
[code]

[2022-01-11 18:40] tidal commented on #546
Yes, it is. Take a look at this example:

[code]

[2022-01-11 20:34] markvdlaan93 commented on #546
Thanks for the example. The crucial thing that I was missing was the order of the end calls. The last child span end must be called first. Quite logical if you think about it but maybe good to add this example somewhere so that it is clear for other how to implement this feature.

[2022-01-12 13:59] bobstrecansky commented on #546
Thanks for the report @markvdlaan93 !  Will be happy to merge a PR if you open one adding this example.

[2022-01-12 14:00] bobstrecansky commented on #458
Sounds good; let's close this issue.

[2022-01-12 14:00] #458 closed

[2022-01-13 04:32] #357 closed

[2022-01-17 02:22] Grunet commented on #427
FWIW I think I'm realizing after looking at this for Jaeger Thrift spans that the linked spec may actually apply to all of the exporters (unless their specs have language overriding it) and that each exporter may need to do something slightly differently to handle it.

And I think the OTLP to Collector case I looked at above still has the problem with the proto file too afaict.

[2022-01-17 02:24] Grunet commented on #427
Oh also it [doesn't look like any language anywhere respects the otel.dropped_links_count afaict](https://grep.app/search?q=otel.dropped_links_count), so maybe that's just "dead spec"

[2022-01-17 02:36] Grunet commented on #427
Actually wait I'm not seeing anywhere outside of the Java language library and maybe collector code referencing the keys for dropped attributes and dropped events

[Lack of otel.dropped_attributes_count](https://grep.app/search?q=otel.dropped_attributes_count)
[Lack of otel.dropped_events_count](https://grep.app/search?q=otel.dropped_events_count)

[2022-01-17 02:51] Grunet commented on #427
I opened up [an issue](https://github.com/open-telemetry/opentelemetry-specification/issues/2268) around this in the specification repo

[2022-01-17 09:56] markvdlaan93 commented on #546
@bobstrecansky Okay sure. Somewhere this week, I'll open a PR.

[2022-01-17 10:03] markvdlaan93 opened #549 "Set same root span for multiple child spans"
Currently, I'm trying to connect multiple spans to the a single root span. Whatever I try, it keeps nesting the spans. In the code below, dbQueryOne and dbQueryTwo span should be linked to the root span. What happens now is that dbQueryTwo is connected to dbQueryOne and dbQueryOne is connected to the root span. I've tried to call addLink on both spans but that doesn't work. Code:

[code]

[2022-01-17 11:20] tidal commented on #549
You must not call `activate` on the child spans.

(btw.: You might want to use a `BatchSpanProcessor` instead of a `SimpleSpanProcessor`, as the SimpleSpanProcessor creates an HTTP request for every single span)

[2022-01-17 12:16] markvdlaan93 commented on #549
@tidal Okay great. That did the job. I'll close this issue. Thanks for the help!

[2022-01-17 12:16] #549 closed

[2022-01-17 14:53] markvdlaan93 opened #550 "Context Propagation - How to get the context of a span?"
Currently, I'm looking into implementing Context Propagation for cross-service tracing. I'm struggle to understand how to exactly implement this based on the current structure. The propagator expects a Context object to inject to. How to get the context to which a specific span is wired? It seems like I only have SpanContextInterface at my disposal. Here's my code:

[code]

[2022-01-18 12:38] markvdlaan93 commented on #550
I will close this question. I didn't understand why the Context class was implemented statically. Each request does have a different context which is why it shouldn't be a problem to just call Context::getCurrent();

[2022-01-18 12:38] #550 closed

[2022-01-18 22:26] brettmc commented on #550
@markvdlaan93 - if you get this all working, we'd love an example to add to the collection :)

[2022-01-19 01:09] markvdlaan93 commented on #550
@brettmc I will for sure :-)

[2022-01-21 20:41] #473 closed

[2022-01-21 22:39] tidal opened #552 "Contributers onboarding."
As discussed in the SIG meeting, we want to to create a github action which welcomes new contributers and adds more information tp the requierements for otel contributers, especially signing the CLA.

Also there should be a welcome message for people opening an issue for the first time.

Both  should be setup for the main and the contrib repo.

[2022-01-23 10:01] tidal opened #564 "[opentelemetry-php-contrib] AWS: Fix Detectors"
Recent changes in [main library version 0.0.5](https://github.com/open-telemetry/opentelemetry-php/tree/0.0.5) have broken the AWS detectors.

- Fix AWS detectors
- Remove conflict warning from main and AWS composer json
- Bump opentelemetry-php requirement to version 0.0.5 in main and AWS composer json

[2022-01-23 10:02] brettmc commented on #552
There is a github [welcome-bot app](https://github.com/apps/welcome) which looks like it can do this. It does require some permissions on the repo (read/write on PRs and issues)

[2022-01-23 10:12] tidal commented on #552
@brettmc
The bot is an app, and installing an app requires otel bureaucracy.
This task can easily be done with github-script -> https://github.com/actions/github-script#welcome-a-first-time-contributor

[2022-01-23 10:19] tidal commented on #552
@brettmc
If you want to give this a shot, just remove me and Bob from the assignees.  :o)

[2022-01-23 10:36] tidal opened #553 "Extract generated code into separate repos/packages"
Generated code (proto, thrift) should be extracted into separated repositories, so it can automatically be updated and follow versioning of the upstream.
The generated packages can then be required by the library.

[2022-01-26 02:40] Grunet commented on #296
Here are the remaining things from the spec needed for converting from OTEL to Jaeger Thrift spans (assuming "dropped" things are still not needed right now per the confusion in #427)

- [Resource](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/trace/sdk_exporters/jaeger.md#resource)
- [Error flag](https://github.com/open-telemetry/opentelemetry-specification

[2022-01-27 13:16] markvdlaan93 opened #557 "Context propagation - Extracting context remains empty"
Currently, I'm trying to work out an example for context propagation. I have two services that communicate with each other through an endpoint. I injected a hardcoded uuid through the TraceContextPropagator class and I try to extract it in the other service but it remains empty. How to correctly set the traceparent so that the context is shared?

[code]

[2022-01-27 15:47] tidal commented on #557
The "carrier" is supposed to transport tracing information over the wire. I case of HTTP calls it's usually done in the headers, but it could also be metadata in an gRPC call or a stamp in a messaging system and so on. That's why it's called "carrier" and not "headers".

The point of the TraceContextPropagator is to extract tracing information in W3C TraceContext format to and from HTTP headers.
I

[2022-01-27 22:29] brettmc commented on #557
It looks like you're trying to propagate trace headers for distributed tracing, in which case the example tidal suggested does this.
I thought from your previous question that you were trying to propagate arbitrary "other" data, which I believe is what [baggage](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/baggage/api.md#propagation) is for.

[2022-01-28 09:14] markvdlaan93 commented on #557
@brettmc My goal is to glue spans together into a single trace over multiple services. I thought the concept of baggage was used for that.

@tidal Thanks for the example. That will definitely help to make this working.

[2022-01-28 17:51] markvdlaan93 commented on #557
Thanks again for the example. After adding the carrier array to the request header, it worked.

[2022-01-28 17:51] #557 closed

[2022-01-28 18:04] markvdlaan93 opened #558 "Make it possible to pass OTEL_EXPORTER_OTLP_HEADERS and OTEL_EXPORTER_OTLP_ENDPOINT directly to the constructor of Otlp Exporter"
**Is your feature request related to a problem?**
At the moment, it is only possible to set OTEL_EXPORTER_OTLP_ENDPOINT and OTEL_EXPORTER_OTLP_HEADERS through the environment:
[code]

**Describe the solution you'd like**
I would like to pass the endpoint and headers directly to the constructor:
[code]

**Describe alternatives you've considered**
I've used the current solution but putenv seems to b

[2022-01-28 21:29] brettmc commented on #558
I think `::fromConnectionString()` is the right the place to do this - it already accepts an endpoint url (but does nothing with it at the moment)

[2022-01-28 21:46] brettmc commented on #558
Looking at the otlp http exporter, I think you're right - especially when comparing it with the grpc exporter, where everything is a constructor arg with defaults as required.
Also consider that the `::fromConnectionString` method could be improved, since it accepts an endpoint URL but does not use it.

[2022-01-29 07:06] tidal commented on #557
@markvdlaan93
No problem. Given that this is the most important use-case for tracing in the first place, it's really not well explained and documented at the moment. We are aware of that.
In the future this will probably also be way easier to set up, as it's not very intuitive or easy to understand at the moment.

[2022-02-02 23:47] brettmc commented on #516
Nearly there - my google/protobuf PR has been merged, so whenever the next release comes out (3.19.5 or 3.20.0), our 8.1 tests should start passing.

[2022-02-07 09:49] enumag opened #577 "Stackdriver Exporter"
I'd like to use OpenTelemetry PHP and connect it to https://cloud.google.com/trace.

It seems that an exporter for Stackdriver doesn't exist yet and couldn't find an issue for it either.

How difficult do you think it would be?

[2022-02-07 10:28] tidal commented on #577
No there is neither an exporter for Stackdriver nor an issue yet. We are still in the process of getting the library stable, so that's where our main focus is at the moment. However feel free to create a feature request for whatever you think would be a worthwhile addition. There is a lot of stuff missing at the moment.

I am not familiar with the specifics of Stackdriver/Google Cloud Trace, but f

[2022-02-08 03:17] bobstrecansky commented on #577
You can also perform this action with our current state by posting to the OpenTelemetry collector and having the collector communicate with Google Cloud Trace.  I'm very familiar with this setup and have used something similar in a production environment.  Happy to answer other questions.

[2022-02-08 06:18] enumag commented on #577
@bobstrecansky Can you share some details how to make the collector communicate with cloud trace? I couldn't find any mention of Stackdriver or GCP or anything related in the [docs](https://opentelemetry.io/docs/collector/).

[2022-02-11 14:16] bobstrecansky commented on #356
There is not a way to install only the API package today.  This is not currently on our roadmap.

[2022-02-14 22:16] bobstrecansky opened #579 "Update environment variables due to spec change"
[This spec change](https://github.com/open-telemetry/opentelemetry-specification/pull/2240) needs to be implemented for OpenTelmetry PHP.

[2022-02-15 07:59] yuktea commented on #579
@bobstrecansky I'm interested in working on this, could you please assign it to me?

[2022-02-15 10:56] enumag commented on #577
@bobstrecansky What I'm confused about is how does the collector authenticate to Google Cloud to be able to send data there? Your example doesn't have any place where some authentication token would go...

[2022-02-15 15:08] #579 closed

[2022-02-15 19:46] haad commented on #402
Hmm so what would be actual way how we can add auto tracers to quite simple sympfony based php application.

Is it even possible without extension and can it work without any library changes ?

[2022-02-15 22:11] tidal commented on #402
@haad
In case of Symfony that's fairly easy and doesn't need any extension or changes to the library.
First off Symfoyn exposes life-cyle events, which are easy to hook into.
You can find an example here:
https://github.com/opentelemetry-php/otel-sdk-bundle-example-sf5/blob/main/src/EventSubscriber/OtelKernelSubscriber.php

But even without events it's possible to create decoraters for all types o

[2022-02-16 08:43] bobstrecansky commented on #577
Oh!  You must create a service account in GCP with the proper permissions.  You can generate credentials in JSON format, and use the `GOOGLE_APPLICATION_CREDENTIALS` environment variable for authentication.

[2022-02-16 08:45] bobstrecansky commented on #577
Documentation for this can be found here:
https://cloud.google.com/docs/authentication/getting-started

[2022-02-16 13:53] bobstrecansky commented on #405
Yes!  I think we could use a lot more documentation.  That documentation is built here:
https://github.com/open-telemetry/opentelemetry-php/blob/main/website_docs/getting-started.md
Our documentation is unorganized and not complete.  Using other languages as a template would probably help a lot.

[2022-02-16 14:57] chalin commented on #405
Great. It would help enormously if the PHP docs were in the website repo. Note that other SIGs have made the choice to move their docs to the website repo since we [last exchanged on the topic in September](https://github.com/open-telemetry/opentelemetry-php/issues/423#issuecomment-929217971), including:

- **Java**: https://github.com/open-telemetry/opentelemetry.io/issues/989
- **Python**: https

[2022-02-16 15:00] chalin commented on #423
Here's an invitation to reconsider your decision: https://github.com/open-telemetry/opentelemetry-php/issues/405#issuecomment-1041579478. If you agree, please reopen this issue @bobstrecansky. Thanks.

[2022-02-16 17:34] bobstrecansky commented on #423
@chalin - I guess I'm not certain of the severity or timeline for this change.  If moving this to the opentelemetry.io repo will reduce friction for you, I'm happy to do so; we were just given the option earlier.

[2022-02-16 22:57] chalin commented on #423
Yes, very much so!

Wonderful, @cartermp and I gladly accept your offer then! Could you please reopen this issue and assign it to me? I'll be moving the PHP docs over shortly.

[2022-02-17 14:36] enumag commented on #577
Ah so basically the collector just requires the `GOOGLE_APPLICATION_CREDENTIALS` env var and it will work. Alright, that sounds cool!

[2022-02-17 21:20] kishannsangani opened #584 "Add OTEL_PHP_DETECTORS environment variable"
Add OTel PHP specific OTEL_PHP_DETECTORS environment variable to set up a given comma-separated list of detectors.

[2022-02-17 21:21] kishannsangani commented on #584
@brettmc, can you assign this issue to me and add appropriate labels as well?

[2022-02-18 11:33] tidal commented on #530
@stale
Don't even try

[2022-02-18 11:38] tidal commented on #298
@stale: 滚!

[2022-02-18 11:39] tidal commented on #445
@stale
真的吗？

[2022-02-18 11:43] tidal commented on #528
@stale:
你很烦人!

[2022-02-18 11:47] tidal commented on #301
@stale
会读吗？

[2022-02-18 11:49] tidal commented on #415
@Stale
#suchdanandrenjob!

[2022-02-18 11:55] tidal commented on #508
@stale
ickwarnda

[2022-02-18 12:03] tidal commented on #426
@stale
你要这样做吗？

[2022-02-18 12:07] tidal commented on #481
@stale
jehwoandersmakiern!

[2022-02-18 12:15] tidal commented on #447
@stale
移动！

[2022-02-18 12:20] tidal commented on #507
@stale
Kennstedenübadenrobota?

[2022-02-20 19:22] tidal opened #586 "Use Environment constants and accessor in Environment Resource Detector."
The [Environment Resource Detector](https://github.com/open-telemetry/opentelemetry-php/blob/main/src/SDK/Resource/Detectors/Environment.php) has been missed in the refactoring of the Env Var handling.

- Use [Environment Constants](https://github.com/open-telemetry/opentelemetry-php/blob/main/src/SDK/Common/Environment/Variables.php) in [Environment Resource Detector](https://github.com/open-tele

[2022-02-21 01:39] #564 closed

[2022-02-21 18:40] kishannsangani commented on #586
Hey @tidal, can you assign this issue to me? I will be working on a similar issue related to the environment variable for the resource detector(#584).

[2022-02-21 18:46] tidal commented on #586
@kishannsangani
Yes, sure. Thanks!

[2022-02-21 21:35] tidal opened #589 "Fix W3C TraceContext Validation Tests."
At the moment the [Tests ](https://github.com/open-telemetry/opentelemetry-php/tree/main/tests/TraceContext/W3CTestService) to tun the [W3C Distributed Tracing Validation Service](https://github.com/w3c/trace-context/tree/main/test) are broken and need to be fixed.
Also the tests setup is rather convoluted as it creates a Symfony project to run the tests against. This can be much more simplified b

[2022-02-23 01:04] tidal opened #590 "Support Per-Signal Environment Variables in OTLP Exporters."
At the moment the OTLP [gRPC](https://github.com/open-telemetry/opentelemetry-php/blob/d2a90236325ea8ff6da5bf90d16e05e36ad0b8de/src/Contrib/OtlpGrpc/Exporter.php) and [HTTP](https://github.com/open-telemetry/opentelemetry-php/blob/d2a90236325ea8ff6da5bf90d16e05e36ad0b8de/src/Contrib/OtlpHttp/Exporter.php) Trace Exporters only allow for configuration via generic environment variables.
(e.g. `OTEL_E

[2022-02-23 03:06] yuktea commented on #590
I would like to try this out, could you please assign it to me? @tidal

[2022-02-23 15:57] tidal commented on #586
implemented in https://github.com/open-telemetry/opentelemetry-php/pull/592

Thanks @kishannsangani

[2022-02-23 15:57] #586 closed

[2022-02-23 20:28] kishannsangani opened #593 "Use Environment constants and accessor in SpanProcessorFactory"

[2022-02-23 22:11] kishannsangani commented on #593
@tidal can you update labels? This is not a bug.

[2022-02-23 22:43] #593 closed

[2022-02-27 01:32] #327 closed

[2022-02-27 01:32] #345 closed

[2022-02-27 01:32] #283 closed

[2022-02-27 01:32] #226 closed

[2022-02-27 01:32] #224 closed

[2022-02-27 01:32] #300 closed

[2022-02-27 01:32] #294 closed

[2022-02-27 01:32] #400 closed

[2022-02-27 01:32] #227 closed

[2022-02-27 01:32] #441 closed

[2022-02-27 03:31] Grunet commented on #326
Oh this one can actually be closed. I think I made the PR and it was merged but at the time didn't know how to reference this issue so it would auto-close on-merge.

I made a note to follow up on it but never did...

[2022-02-27 09:52] tidal commented on #326
@Grunet
Ok, thanks for the info.
Closing.

[2022-02-27 09:52] #326 closed

[2022-02-28 11:38] #590 closed

[2022-03-02 15:23] #584 closed

[2022-03-02 16:40] bobstrecansky commented on #577
@enumag - I'm going to close this because I think we've resolved all your issues.  Feel free to reopen if needed.

[2022-03-02 16:40] #577 closed

[2022-03-03 14:45] bobstrecansky commented on #405
@yuktea mentioned she would like to work on this.

[2022-03-04 12:44] chalin commented on #405
Thanks @yuktea! Maybe the best would be to coordinate with @cartermp, who has a better idea of what work needs to be done, unless you (@bobstrecansky et all) have specific pages you'd like @yuktea to start working on?

@yuktea - by the way, the website/communications team meets every other week. For details, see our [Meeting doc](https://docs.google.com/document/d/1wW0jLldwXN8Nptq2xmgETGbGn9eWP8fi

[2022-03-04 15:32] yuktea commented on #405
Yes, I'll coordinate with them 👍

[2022-03-04 17:00] yuktea commented on #481
@tidal I'll work on this 🙂

[2022-03-05 14:01] elarity commented on #550
You can try the way below. That is : use storeInContext() method of a span object to "convert" it.

$ctx = $childSpan->storeInContext(Context::getCurrent());
TraceContextPropagator::getInstance()->inject($carrier, null, $ctx);

This is what I practiced.

[2022-03-08 09:51] kishannsangani commented on #574
@tidal can you assign this issue to me?

[2022-03-09 00:27] mtk3d commented on #565
Hello 👋
I prepared PR for this issue https://github.com/open-telemetry/opentelemetry-php-contrib/pull/50/files 😃

[2022-03-09 14:03] tidal commented on #565
implemented in: https://github.com/open-telemetry/opentelemetry-php-contrib/pull/50

[2022-03-09 18:39] bobstrecansky commented on #516
I think we can close this now because this fix has been hotpatched upstream.

[2022-03-09 18:39] #516 closed

[2022-03-10 22:09] #558 closed

[2022-03-10 23:41] tidal commented on #500
I will unassign this issue from me, because I don't have time atm to finish it.
However it's not complicated to implement, if anybody interested, and I can help out with my WIP.

[2022-03-11 14:53] ibrambe opened #605 "[opentelemetry-php-contrib] OtelSdkBundle: Could not build SpanExporter (otlphttp)"
MacOS 12.2.1
PHP 7.4.21
Symfony 5.4.6
guzzlehttp/guzzle ^7.4
open-telemetry/opentelemetry-php-contrib ^0.0.2
docker collector

[code]

Initialization of the exporter fails, I could get my proof of concept working by changing it to this, but of course, this only works for otlphttp.

[code]

Also tried `OpenTelemetry\Contrib\OtlpHttp\Exporter::fromConnectionString`, but Psr17FactoryDiscovery does no

[2022-03-11 15:15] tidal commented on #605
@ibrambe
Thank you for your bug report.
I will have a look into this. I'm currenty working on some refactoring for the bundle.

[2022-03-13 21:44] mtk3d commented on #566
I could take care of that

[2022-03-14 23:37] mtk3d commented on #566
PR in progress: https://github.com/open-telemetry/opentelemetry-php-contrib/pull/52

[2022-03-16 15:36] bobstrecansky commented on #566
PR merged.  Happy to close this if you believe it's completed.

[2022-03-16 22:39] mtk3d commented on #566
Thanks for merge. There are two apps in the examples, first one is fixed by this PR and I will fix the second one until the next week, then I think this issue will be completed.
I think there is still issue with te first example app, where the calls to AWS services are not showing in X-Ray dashboard. I tried to find how this should work, and if those calls should be presented in X-Ray traces, but

[2022-03-17 21:13] tidal opened #613 "Support DotEnv libraries in resolving of Environment Variables"
At the moment Environment Variables injected by libraries like [symfony/dotenv](https://github.com/symfony/dotenv) or [vlucas/phpdotenv](https://github.com/vlucas/phpdotenv) through `.env` files cannot be resolved in the SDK, since variables injected in that way are not accessible by `getenv` or `filter_input(INPUT_ENV, $variableName)`.

- Support resolving of injected Environment Variables by add

[2022-03-17 21:16] tidal commented on #605
related: https://github.com/open-telemetry/opentelemetry-php/issues/451

[2022-03-17 21:17] tidal commented on #605
related: https://github.com/open-telemetry/opentelemetry-php/issues/613

[2022-03-17 21:23] tidal commented on #605
This is an issue, which will be fixed with the exporter refactoring (WIP).

However for now you can do the following as a workaround:

[code]
If the endpoint URL for the collector is different to the default (`https://localhost:4318/v1/traces`),
you can set it via the `OTEL_EXPORTER_OTLP_ENDPOINT` Environment Variable.
Once https://github.com/open-telemetry/opentelemetry-php/issues/613 is implemet

[2022-03-18 12:22] #613 closed

[2022-03-19 20:08] tidal opened #618 "Refactor SpanContext"
`OpenTelemetry\API\Trace\SpanContext` could use some refactorings.

- Remove `use OpenTelemetry\API\Trace as API;`
- Move factory methods into dedicated factory
- Move validation methods into dedicated validatoe
- Move constructor and properties to the top

[2022-03-19 20:19] tidal opened #619 "Move InstrumentationLibrary key generation out of TracerProvider"
The generation of a key for a InstrumentationLibrary should be moved out of the [TracerProvider class](https://github.com/open-telemetry/opentelemetry-php/blob/main/src/SDK/Trace/TracerProvider.php#L69) into a utility class in `SDK/Common/Util`,  since this funtionality is not only required in the `Trace` component/signal.

- Move key generation logic in `TracerProvider::getTracer`  into a dedicat

[2022-03-19 22:09] tidal opened #621 "Implement factory for ResourceInfo"
At the moment most of the methods in [ResourceInfo](https://github.com/open-telemetry/opentelemetry-php/blob/main/src/SDK/Resource/ResourceInfo.php) are factory methods. To better comply with [SRP](https://en.wikipedia.org/wiki/Single-responsibility_principle) those methods should be extracted into a factory class.

[2022-03-19 22:15] tidal opened #622 "Add tests for Resource Detectors"
At the moment there are no Unit Tests for the [Resource Detectors](https://github.com/open-telemetry/opentelemetry-php/tree/main/src/SDK/Resource/Detectors).

[2022-03-20 22:24] chalin opened #625 "[opentelemetry-php-contrib] Add link to opentelemetry.io under About section of opentelemetry-php-contrib"
I can't open an issue over https://github.com/open-telemetry/opentelemetry-php-contrib, so I'm opening it here.

Under the **About** section of the opentelemetry-php-contrib repo (which you can access from the main repo page -- click the gear icon next to the About title):

- Under **Website**, add https://opentelemetry.io

We're looking to do this uniformly for all OTel org repos.

For example:

[2022-03-21 05:31] kishannsangani commented on #622
@tidal can you assign this issue to me?

[2022-03-21 07:37] kpratyus commented on #618
I can work on this issue. Could I get this assigned?

[2022-03-21 10:53] tidal commented on #618
@kpratyus
Sure, thank you!

[2022-03-21 14:00] kishannsangani commented on #621
@tidal I would like to work on this. Can you help me?

[2022-03-21 14:06] tidal commented on #621
@kishannsangani
Sure, we'll talk on slack.

[2022-03-21 17:59] #622 closed

[2022-03-23 19:18] kishannsangani opened #629 "Refactor ResourceInfo tests"
ResourceInfo tests have to be refactored for the following reasons:
1. They highly overlap with individual Resource Detectors tests
2. Some functions have been moved to ResourceInfoFactory
3. Some of them are integration tests rather than unit tests

[2022-03-24 02:54] #621 closed

[2022-03-25 07:01] markvdlaan93 opened #630 "How to get the attributes of a SpanInterface?"
For testing purposes, I would like to get the attributes of SpanInterface to check whether my code behaves as it should be. The SpanInterface only has methods to set attributes, not to get them. Is it possible to fetch the attributes of a SpanInterface after it is created?

[2022-03-25 10:33] DrLuke opened #631 "Jaeger thrift exporter exports spanIds as "7fffffff" for some IDs"
The Jaeger `SpanConverter` converts the hexadecimal `spanId` to an integer [here](https://github.com/open-telemetry/opentelemetry-php/blob/2b72c92fcb30ed241c64c2bea613e7d3bb6ac7cb/src/Contrib/Jaeger/SpanConverter.php#L103), which is then, according to the [thrift span specification](https://github.com/open-telemetry/opentelemetry-php/blob/2b72c92fcb30ed241c64c2bea613e7d3bb6ac7cb/thrift/jaeger/Span

[2022-03-25 10:39] tidal commented on #631
@DrLuke
Thank you for the bug report.

[2022-03-25 10:39] tidal commented on #631
@Grunet
Could you take a look at this?

[2022-03-25 13:41] tidal opened #632 "Move stack trace formatting out of Span class"
The method [formatStackTrace ](https://github.com/open-telemetry/opentelemetry-php/blob/main/src/SDK/Trace/Span.php#L175) should be moved from `Span` into a dedicated Util/Formatter class in the `SDK\Common` namespace since formatting stack traces is not the responsibility of a `Span`.

- Move logic in `formatStackTrace`  from `Span` into a dedicated Util/Formatter class
- Add Backward compatibili

[2022-03-25 15:31] DrLuke commented on #631
[code]

Should do the trick to shift the value into the correct range

[2022-03-25 21:41] brettmc commented on #630
The easiest way is to just export your spans (eg using the ConsoleSpanExporter, from the examples). If you want to do it programatically, `getAttributes` is part of `SpanDataInterface`, and I think you can just call `toSpanData()` on either a ReadableSpanInterface or ReadWriteSpanInterface. Any span you've created should implement one of these interfaces.

[2022-03-26 14:46] #630 closed

[2022-03-26 16:27] Grunet commented on #631
Yeah that looks accurate to me from what I can tell. The other languages I double checked all seem to have built-in ways of converting from 64-bit byte strings to uint64 to int64 seamlessly, but I haven't been able to find an equivalent in PHP so far (since uint64 doesn't exist?).

I think @DrLuke 's shifting solution will probably work, maybe with some extra handling for when the uint64 should be

[2022-03-26 17:20] tidal commented on #631
@Grunet
Ok, thank you.
I suggest you can just write an integration test as a regression test, because there are a lot of parts/classes involved.

[2022-03-26 17:37] Grunet commented on #631
FYI I've been running into precision issues with subtracting large integers. Like if I try to do (2^63 - 1) - (2^63) I end up with 0 instead of -1

[code]

But if I instead try using the[ bcmath](https://www.php.net/manual/en/book.bc.php) extension's functions (in an online repl, the dev image doesn't seem to have it) I can get the correct answer
[code]

I haven't been able to find a package versi

[2022-03-26 17:51] Grunet commented on #631
Ah I did just find [brick\math](https://github.com/brick/math) that seems like it provides "BigInteger" style arbitrary precision arithmetic capabilities.

I'll give it a go to see if it works here without the bcmath or gmp extensions (though I think the READme says it will use those if installed) but does this feel like the right option if so? It seems [pretty popular on Packagist](https://packag

[2022-03-26 18:23] Grunet commented on #631
Yeah that seemed to knockout all my test cases in one fell swoop using @DrLuke 's strategy.

I'll go ahead and plan to get a clean PR with that in place later today.

[2022-03-29 01:35] #631 closed

[2022-03-29 02:12] xinfeingxia85 opened #638 "EndpointURL cannot set with no-environment variables when using OtlpGrpc exporter"
**Describe your environment**
PHP: 8.1.3
OpenTelemetry-php: v0.0.8
PHP Framework: Lavarel

**Steps to reproduce**

[code]

**What is the expected behavior?**
I expect that all trace data can be sent successfully.

**What is the actual behavior?**
All trace data cannot be sent to OTLP collector.
I found that the endpointUrl was always http://localhost:4318 with no-environment variable.
Because the

[2022-03-29 02:39] brettmc commented on #638
Thanks for the bug report. I've validated it, and agree that it is a bug.

[2022-03-29 08:37] #638 closed

[2022-03-30 01:55] Grunet commented on #296
FYI all the Thrift aspects of the spec have been implemented to this point to my knowledge.

I'm still working out what gRPC/proto support is for exactly and why many of the other languages don't seem to have it

[2022-03-30 02:00] tidal commented on #296
@Grunet
Thanks for all your work!
Closing this.

[2022-03-30 02:00] #296 closed

[2022-03-30 02:23] Grunet commented on #296
Yup np.

And just to wrap up the gRPC/protobuf conversation, re-reading the [Jaeger doc section](https://www.jaegertracing.io/docs/1.32/apis/#span-reporting-apis) on this and also the feature request for this in [the .NET library](https://github.com/open-telemetry/opentelemetry-dotnet/issues/2122), it seems like the use cases break down as follows

- Using a local Jaeger Agent
    - the Jaeger Age

[2022-03-30 05:43] #356 closed

[2022-03-30 05:43] #534 closed

[2022-03-30 07:15] saktib opened #641 "TraceId mismatches between otel library & jager collector when request processed through JaegerAgentExporter Thrift using UDP"
**Describe your environment**
This issue persists irrespective of the php -v and environment. Verified using main branch as well.

**Steps to reproduce**
By using jaegertracing/all-in-one image we can spin up jager agent & collector locally.
Then use the otel library to create a span that will have traceId and SpanId with 32 char hex string.
While using JaegerAgentExporter to send the traceId and

[2022-03-30 16:17] #641 closed

[2022-03-30 19:03] #552 closed

[2022-03-30 19:13] brettmc commented on #625
Updated the website link to opentelemetry.io

[2022-03-30 19:13] #625 closed

[2022-04-01 16:12] DrLuke opened #649 "[opentelemetry-php-contrib] Add some way to reset/create new TracerProvider in Symfony Bundle"
**Is your feature request related to a problem?**
I have a long running process in symfony processing messages from a queue, so the kernel isn't restarted between traces. Currently it is impossible to start a fresh trace for each handled message unless you manually recreate and overwrite the `TracerProvider` in the container.

**Describe the solution you'd like**
Symfony has a [mechanism](https://

[2022-04-02 03:28] tidal commented on #649
@DrLuke Thanks for the feature request!

This is super valuable feedback and in general, if you have any feature requests regarding the Bundle or maim library, please request away! :)

However this points more to a lack in documenation/examples from our side, and it's not really intuitive how to create a new trace in the same process.
The `TraceProvider` is part  of the Otel specification, which i

[2022-04-02 11:18] DrLuke commented on #649
Thank you so much for the detailed explanation and the example!

[2022-04-02 15:23] tidal opened #652 "Refactor Configuration.php"

[2022-04-02 15:24] tidal opened #653 "Refactor OtelSdkExtension.php"

[2022-04-04 15:13] tigrannajaryan commented on #301
I added a draft proposal to support plain HTTP transport in OpAMP: https://github.com/open-telemetry/opamp-spec/pull/70

The primary use case I have is for Otel SDK remote configuration, so it would be great to know what folks here think about it.

[2022-04-05 09:59] DrLuke commented on #649
@tidal

I've been struggling with this for the past couple days because I kept getting the same `TraceId` even though I detached the root span (and all activated child spans, detaching the root span returns `0`) as in your example. I noticed that when the [context storage](https://github.com/open-telemetry/opentelemetry-php/blob/57076b50d505a9057ae1dc56516a59e0d4a3fcc1/src/Context/Context.php#L26)

[2022-04-05 10:56] DrLuke commented on #649
Oops, the issue was that I activated the root span twice on accident, but only detached once. Thus the first root span remained in storage and each new span would inherit the TraceId from that.

[2022-04-05 14:07] tidal commented on #649
Hmm, that still seems like quite unintuitive behavior, if not like a bug.

I will take a look, if I have time.

[2022-04-08 09:29] Fydon commented on #225
Hi. This issue has a wont fix label and the [compliance matrix](https://github.com/open-telemetry/opentelemetry-specification/blob/main/spec-compliance-matrix.md) shows this as not supported, linking to this issue. I take it from the pull request linked to this that it has been implemented?

[2022-04-08 09:32] kishannsangani commented on #225
Hey @Fydon, yes this has been implemented.

[2022-04-09 08:02] #402 closed

[2022-04-10 15:37] sanketmehta28 commented on #328
Hi @tidal and @bobstrecansky : Can you assign this to me?

[2022-04-11 05:54] kishannsangani commented on #574
@tidal can you remove the stale tag from this? I will work on this soon.

[2022-04-11 16:42] bobstrecansky opened #658 "PHP Contribution to the OpenTelemetry Demo Application"
The [OpenTelemetry Demo Application](https://docs.google.com/document/d/1nCV32KvYzowspjWk9ym6MoLOc-1D_RF-EcX7Dnf_VcE/edit) needs some input from the PHP crowd.

We'd like to help the end-to-end demo application include PHP!

[2022-04-12 07:56] amber0612 commented on #632
@tidal Please assign this issue to me. Thanks!

[2022-04-13 17:49] brettmc opened #660 "protobuf generation broken"
Recently, our protobuf generation process (`make protobuf`) has stopped working, due to the image we use (socialpoint/protobuf-tools) no longer being available on docker hub.
It looks like https://docs.buf.build/introduction is the new way to generate APIs, so this could be investigated as a possible solution.

**Steps to reproduce**
Run `make protobuf`

**What is the expected behavior?**
Regenera

[2022-04-14 18:55] ditsuke commented on #619
@tidal I'd like to be assigned.

[2022-04-14 19:36] ditsuke commented on #618
@kpratyus, are you still working on this issue? If not, I'd love to take this up instead. :)

[2022-04-15 12:16] #619 closed

[2022-04-17 05:26] #481 closed

[2022-04-20 17:40] bobstrecansky commented on #589
@yuktea is going to work on this.

[2022-04-20 17:47] #629 closed

[2022-04-23 13:10] brettmc commented on #660
It looks like the opentelemetry-proto repo is already set up to generate language-specific protobuf code... `make gen-php` looks to generate sensible output, and it might be as simple as swapping our current build process over to that.

[2022-04-27 12:09] #660 closed

[2022-04-27 16:33] sergey-telpuk opened #666 "Ability to add a parent context to a span: parent trace_id, parent span_id"
Hello, how can I use `startAndActivateSpanFromContext` for setting traceID and root spanID ?
It looks after refactoring  @Blacksmoke16 #422  the logic was broken. Pls point how to do the same with new logic.

[2022-04-27 21:13] tidal commented on #666
Could you please point us to what exactly you are referring to or give more context?
(Neither the TraceId or SpanId are meant to be set by a user).

[2022-04-27 21:24] sergey-telpuk commented on #666
This startAndActivateSpanFromContext function was deleted. How can I set context without this function. Also this function wasn't deleted in tests. I guess we have invalid tests.

[2022-04-28 04:09] tidal commented on #666
[code]

Could you please tell, what tests you are referring to?

[2022-04-28 06:12] sergey-telpuk commented on #666
![image](https://user-images.githubusercontent.com/4964014/165688591-ffa2cfbf-f003-4955-9826-23f45c205ef3.png)

[2022-04-28 06:21] sergey-telpuk commented on #666
Also, I found this solution instead of that function. Pls, say it's correct for embedding span from another microservice? I want to do the same as #244
[code]

[2022-05-04 11:14] brettmc commented on #666
Hi @sergey-telpuk, it looks like you're trying to do [distributed tracing](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/overview.md#tracing-signal)? The "right way" to do that is with [TraceContextPropagator](https://github.com/open-telemetry/opentelemetry-php/blob/main/src/API/Trace/Propagation/TraceContextPropagator.php), and there is an example of using

[2022-05-04 11:32] brettmc opened #671 "tracing with async php runtimes"
**Describe your environment**
Using an async (not-shared-nothing) PHP runtime (eg roadrunner, swoole, react) where a long-lived application is used to service multiple requests.
Since we use a single shared `ContextStorage`, a call to `$span->activate()` will set the active span in that single context storage. Then, any other requests executed in the same process/worker will be parented to that sp

[2022-05-04 12:40] brettmc opened #672 "subtree split"
opentelemetry-php is currently published as a single package containing API, SDK, Contrib, etc.
It should eventually be a set of individually-installable components which have a logical set of dependencies on each other (eg API is installable by itself, SDK requires API, Contrib requires API + SDK, etc).
We think the way to do this is by doing a subtree split, and Timo has done a lot of the requir

[2022-05-04 14:11] sergey-telpuk commented on #666
@brettmc Hi, I'm trying to add send trace_id, spain_id to another service for creating the child span and add to parent. I work with event drive design.

[2022-05-04 23:06] brettmc commented on #672
closing, duplicate of #507

[2022-05-04 23:06] #672 closed

[2022-05-04 23:24] brettmc commented on #666
If you are just generating one trace, then the current active span is stored in a static `ContextStorage` which will be used by span builder. So, you should not need to provide parent span context, as by default it will find the active span and use that as the parent.

[2022-05-05 08:35] sergey-telpuk commented on #666
@brettmc thanks, one more question about using uber-trace-id, do you guys have example for it?

[2022-05-05 13:19] bobstrecansky commented on #666
I believe `uber-trace-id` is an OpenTracing idiom, not an OpenTelemetry idiom.  What problem are you attempting to solve with `uber-trace-id`?

[2022-05-05 14:38] sergey-telpuk commented on #666
Got it, I hoped that this repo has ready example like jagger uber-trace-id, thanks.

[2022-05-08 12:55] tidal commented on #671
That sounds like a good idea.
I would like if we also can make use of the strength of roadrunner, swoole, react, etc.
So what about we create adapter for the different runtimes?
For the runtime detectors, we just need to implement them once for the attributes,
and we could reuse the detectors.
Also we may introduce a `ContextProvider` so we have a consistent pattern across all the components.

[2022-05-08 14:13] brettmc commented on #671
It's an interesting idea to be able to detect a runtime, and ContextProvider might be a good abstraction to hide storage complexities, but I do think that `ContextStorage` is the key.
I've got some changes in a branch which work (can have multiple traces being created at the same time), but it's not the most elegant solution - I will submit as a draft PR to seek feedback. The idea is that a static

[2022-05-11 08:11] DrLuke commented on #572
I'd just like to chime in that adding metrics to the bundle would be very much appreciated :)

[2022-05-12 04:13] Grunet commented on #671
Fwiw from what I understand of otel-js so far (for node and browsers) they seem to require consumers to be pretty explicit about creating/passing context around for connecting parent/child spans (at least from what I can tell from their examples at least, like this one - https://github.com/open-telemetry/opentelemetry-js/blob/main/examples/basic-tracer-node/index.js#L48 - and using their api a bit

[2022-05-12 15:29] Nevay commented on #671
Execution switches should preferably be handled within the global `ContextStorage` (as already done for `Fiber`s; these kinds of execution switches were the reason why I created the context storage abstraction in the first place).

A basic implementation for Swoole can be found [here](https://github.com/Nevay/opentelemetry-php/blob/e8fa4fd09a3971ab6ebb1fe224e34d356d998c7c/src/Context/Swoole/Swoole

[2022-05-12 22:14] brettmc commented on #671
@Nevay thanks for the update. I'm not clear on whether what you're working on is a complete replacement for #674 ... I did consider using the forking concept, but I did not get very far (I'm wary of my approach's requirement to  create infinite ContextStorage instances, so I certainly see the benefits if it can work). If you can find a few minutes to catch me on CNCF slack and get me up to speed o

[2022-05-19 17:15] bobstrecansky opened #678 "Laravel Example"
Currently we have a [Laravel Integration Guide](https://github.com/open-telemetry/opentelemetry-php/blob/main/docs/laravel-integration.md) that is aimed at very new contributors.

We'd love to have an example that uses more of Laravel best practices as described by their [documentation](https://laravel.com/docs/9.x/lifecycle).

[2022-05-19 17:16] bobstrecansky opened #679 "Symfony Example"
Currently we have a [Symfony Integration Guide](https://github.com/open-telemetry/opentelemetry-php/blob/main/docs/laravel-integration.md](https://github.com/open-telemetry/opentelemetry-php/blob/main/docs/symfony-integration.md)) that is aimed at very new contributors.

We'd love to have an example that uses more of Symfony best practices as described by their [documentation](https://symfony.com/

[2022-05-24 13:17] #671 closed

[2022-05-27 22:59] willarmiros opened #688 "Add AWS SDK Instrumentation"
**Is your feature request related to a problem?**

I am unable to easily instrument [aws-sdk-php](https://github.com/aws/aws-sdk-php) clients for tracing.

**Describe the solution you'd like**

The expected outcome is an instrumentation library that can be used to capture the requests made to AWS resources via the AWS SDK for PHP as spans.

**Describe alternatives you've considered**

None

**Addi

[2022-05-29 11:20] kishannsangani opened #690 "Implement PropagatorFactory"
**Is your feature request related to a problem?**
According to the opentelemetry-specification [here](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/sdk-environment-variables.md#general-sdk-configuration), OTEL_PROPAGATORS variable can be used to configure propagators from the environment but currently, there is no mechanism to retrieve the list of propagator

[2022-05-29 11:21] kishannsangani commented on #690
@brettmc, @tidal, @bobstrecansky
Can you assign this issue to me?

[2022-05-29 20:53] tidal commented on #500
Reopening this ticket, since @kishannsangani will add a PR for the Single Header B3protocol.

[2022-05-31 05:39] brettmc commented on #690
As well as a PropagatorFactory, I think maybe we also need a singleton class which holds a collection of propagators (a bit like `MultiSpanProcessor`). and that's the class we'd interact with (I'm imagining that it also implements appropriate propagator interfaces (`TextMapPropagatorInterface`?), then iterates over defined propagators. The factory could be used by its `getInstance()` method, if no

[2022-06-02 02:26] kishannsangani commented on #690
@brettmc that is a great idea! I will raise a couple of PRs to get this implemented, starting with `TextMapPropagatorInterface`.

[2022-06-03 13:13] #632 closed

[2022-06-03 18:19] DrLuke opened #700 "OTLP exporter for metrics"
Currently there is only a [`PrometheusExporter`](https://github.com/open-telemetry/opentelemetry-php/blob/main/src/Contrib/Prometheus/PrometheusExporter.php) available to export metrics.

otel-col can read prometheus metrics and convert them to OTLP, but it would be a lot nicer to avoid this unnecessary conversion step.

[2022-06-04 09:05] DrLuke commented on #679
The [SDK bundle](https://github.com/open-telemetry/opentelemetry-php-contrib/tree/main/src/Symfony/OtelSdkBundle) had a readme that explains exactly what you need to do to get started with adding open-telemetry to your existing symfony application. Using a bundle is the best practice for a case like this.

I think having a symfony integration guide that start by explaining how to set up a symfony

[2022-06-04 17:31] yuktea commented on #445
#537, #607 and #627 have addressed parts of this PR. Can someone confirm if the issue should be closed or give some context if we still have something to cover?

[2022-06-05 03:09] Grunet commented on #688
I think this may be possible in userland today, though I have yet to try it myself (but have been wanting to). I think there would be 2 main aspects

1) Injecting an OTEL-ified version of Guzzle into the AWS SDK as described in their docs [here](https://docs.aws.amazon.com/sdk-for-php/v3/developer-guide/guide_handlers-and-middleware.html) on handlers and middleware.
2) Injecting OTEL into a Guzzle

[2022-06-05 04:15] Grunet commented on #688
I made a little POC of the 2nd bullet here - https://github.com/Grunet/opentelemetry-php/tree/poc-for-instrumenting-guzzle - the basics seemed to work fine from what I could tell.

I'm struggling to figure out how to make an auto-instrumentation version of this though. PHP's reflection APIs don't seem to support modifying constructors, and the [runkit PHP extension](https://github.com/runkit7/runk

[2022-06-07 12:09] bobstrecansky opened #702 "InstrumentationScope Alias"
We should make an alias for `InstrumentationScope` to `InstrumentationLibrary`, so if anyone calls the previous {deprecated} function, we can maintain backwards compatibility.

[2022-06-07 12:21] bobstrecansky opened #703 "Investigate Trace / Context Interaction"
We'd like to investigate [Trace/Context interaction](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/trace/api.md#context-interaction)

We'd like to ensure we have good methods for getting and setting the active span.

[2022-06-07 12:23] bobstrecansky opened #704 "Defining attributes at span creation"
The spec compliance matrix defines:

Documentation defines adding attributes at span creation as preferred [here](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/trace/api.md#span-creation)

Let's implement this.

[2022-06-07 12:28] bobstrecansky opened #705 "Fetch InstrumentationScope from ReadableSpan"
The spec compliance matrix defines [Fetch InstrumentationScope from ReadableSpan](https://github.com/open-telemetry/opentelemetry-specification/blob/9abbdd39d0b35f635f833f072013431da419894e/specification/common/mapping-to-non-otlp.md#instrumentationscope)

We need to implement this.

[2022-06-07 12:34] bobstrecansky commented on #298
@kpratyus are you still planning on finishing this?

[2022-06-07 12:37] bobstrecansky commented on #299
We need to have a central entry point in order to have global error handling.

[2022-06-07 12:53] bobstrecansky commented on #298
@brettmc mentioned looking at the [PSR](https://www.php-fig.org/psr/psr-14/) for this.

[2022-06-07 13:07] #445 closed

[2022-06-07 13:21] bobstrecansky commented on #568
This is actively being worked on : https://github.com/open-telemetry/opentelemetry-php-contrib/pull/58

[2022-06-07 13:30] bobstrecansky commented on #605
@ibrambe - did this workaround resolve your issue?

[2022-06-07 13:35] bobstrecansky commented on #666
I think this can be closed.  @sergey-telpuk - please reopen if your issue isn't resolved.

[2022-06-07 13:35] #666 closed

[2022-06-07 14:28] amber0612 commented on #704
Hey @bobstrecansky, Can u please assign this issue to me. Thanks.

[2022-06-08 02:27] Grunet commented on #427
Per the conversation in the associated spec issue, this is implemented in several other languages, I just didn't find them in my original code search.

I can take a look to see if I understand what the PHP changes would be like

[2022-06-08 02:58] Grunet commented on #427
So for exporting to Jaeger and Zipkin, I'm guessing it's probably just a matter of updating the span converters to conditionally convert the properties to the corresponding Jaeger and Zipkin constructs (like [how Python did](https://github.com/open-telemetry/opentelemetry-python/search?q=otel.dropped_attributes_count)). It looks like both should be mapped to the respective "Tag" construct for Jaeg

[2022-06-08 08:14] #605 closed

[2022-06-10 00:30] #702 closed

[2022-06-14 04:04] Grunet commented on #705
@bobstrecansky it looks like @brettmc updated this for the Jaeger and Zipkin cases at some point per [this search](https://github.com/open-telemetry/opentelemetry-php/search?q=otel.scope.name).

Is the concern that this needs to be added to other non-OTLP exporter cases in the repo?

Or maybe that the instrumentation library piece needs to be added back for backwards compatibility? (for what exact

[2022-06-14 04:35] Grunet commented on #703
So if I'm following when the spec says "All the above functionalities operate solely on the context API, and they MAY be exposed as either static methods on the trace module, or as static methods on a class inside the trace module" does that recommend for PHP these be static methods, it's just up in the air which class exactly to stick them on?

I've also added some details on what a couple of oth

[2022-06-14 17:17] bobstrecansky commented on #705
This issue is mostly a placeholder to ensure that all of that spec compliant matrix is completed.  Looks like you've done a bunch of sleuthing; I believe this is done for us.  That deprecated bit shouldn't matter for us, maybe?  We should probably instrument those as well for consistency's sake.

[2022-06-15 04:22] brettmc commented on #705
It looks like we can fetch the instrumentation scope from a span, so as Bob said we just needed to verify that we have implemented per spec, and you could submit a PR against the compliance matrix to complete this issue.

[2022-06-15 12:24] brettmc commented on #690
Discussed in SIG today, agreed that initial implementation should be in API (since the spec requires that propagators work with an API-only installation)

[2022-06-15 12:40] brettmc commented on #690
@kishannsangani the spec also requires a [composite propagator](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/context/api-propagators.md#composite-propagator) - do you think that could be part of this issue, or separate?

[2022-06-15 17:04] Nevay opened #709 "`AttributesInterface` should be immutable"
`AttributesInterface` should be immutable to ensure that immutable objects containing attributes are not indirectly mutable.

[2022-06-16 10:45] Nevay opened #712 "`Otlp\SpanConverter` has to group by resource"
The [span converter](https://github.com/open-telemetry/opentelemetry-php/blob/3c6c53bf2f419ba464dd53b4075568e8586a9a2a/src/Contrib/Otlp/SpanConverter.php#L216) has to create a `ResourceSpans` per `ResourceInfo` instead of creating a single `ResourceSpans` containing all resource attributes and spans.

[code]

[2022-06-16 11:13] Nevay opened #715 "`SpanProcessor` incorrect calls to `SpanExporter::forceFlush()`"
- `SimpleSpanProcessor::forceFlush()` has to force-flush exporter
- `BatchSpanProcessor::onEnd()` shouldn't force-flush exporter

[2022-06-16 11:53] brettmc commented on #715
I agree with `SimpleSpanProcessor::forceFlush()`, but the conditional flush in `BatchSpanProcessor::onEnd()` seems critical to the batching functionality. Is the issue that we're using the `forceFlush()` mechanism not for its intended purpose?

[2022-06-16 12:40] Nevay commented on #715
The batching functionality doesn't depend on force-flushing; the batch processor should still call `::export()` with the batch in `::onEnd()`, just without calling `::forceFlush()` afterwards.

[SpanExporter::forceFlush()](https://github.com/open-telemetry/opentelemetry-specification/blob/5fb819c72e34cb21fe1ce5acba1dc93c2216ecb1/specification/trace/sdk.md#forceflush-2)

[2022-06-20 14:14] tidal opened #718 "Resolve Deptrac baseline"
The [deptrac](https://github.com/qossmic/deptrac) dependency check reports a (supposedly) dependency violation, which has been added in the [deptrac baseline file](https://github.com/open-telemetry/opentelemetry-php/blob/main/deptrac.baseline.yaml).

This violation should be resolved (either be fixing the cause or confirming the violation error to be a bug on deptrac's side)

[2022-06-20 15:31] Grunet commented on #705
Spun up https://github.com/open-telemetry/opentelemetry-specification/pull/2622 on the assumption that the breaking changes the other libraries have to worry about are about direct consumers relying on the old instrumentation library piece, not backends (from looking through a few more PRs of other language libraries linked to that main spec PR, erlang being the only one I've seen so far that did

[2022-06-20 21:16] Grunet commented on #703
I'm wondering if a trait would be an appropriate PHP-approach to this? I can try to draft one and see what it feels like

[2022-06-20 22:27] Grunet commented on #703
I was thrown off by this language from the spec ""This is equivalent to getting the implicit context, then inserting the Span to the context." which seemed to imply the current context should be mutated, but after looking into what JS/Java/Python are doing I think the wording is just not ideal and you are supposed to make a new context like usual

JS - https://github.com/open-telemetry/opentelemet

[2022-06-20 23:41] #507 closed

[2022-06-22 13:11] brettmc commented on #704
Discussed in SIG. We think that all this ticket is asking for is that documentation be added/updated/confirmed (probably just inline phpdoc, as we don't have good usage documentation yet). The doco/comment should inform users of the API that "adding attributes at span time is preferred over adding them after span creation" (for reasons we don't fully understand, but that is what the spec says).

[2022-06-22 13:32] tidal opened #723 "Extract functionality of AbstractSpan to ensure separation of concerns."
At the moment AbstractSpan doesn't really have a separation of concerns as it is doing too many different things. Different responsibilities of the class should be extracted and the class be replaced with a BC Layer.

- Move methods `activate` and `storeInContext` in a trait (eg.: "SpanTrait) which concreate Span implementation will use.
- Move the lookup methods in a "Manager" class.
- Move facto

[2022-06-22 23:58] brettmc commented on #704
@amber0612 - thinking about this more, I think the idea is that samplers _could_ use attributes to make sampling decisions (although none of the default ones do)... eg "sample 100% of requests where country=USA", and if those attributes are not provided at span creation time, they're not available to make sampling decisions from.

[2022-06-23 01:52] Grunet commented on #723
Yeah let me see if I can do this while tackling #703, since that seemed like they'd depend on the 2nd and 3rd bullet point

Otherwise I'll try it out on a separate PR afterwards

[2022-06-23 03:06] Grunet commented on #426
Is there anything concrete left to do on this issue? I noticed just now looking at them altogether they're a tad disorganized (I guess at least at the file level) and as a result it's a little hard to tell what's there or not.

Would renaming the files per @tidal's suggestion and then organizing them into folders/sub-folders be enough? Or do folks think more is needed around this area before the b

[2022-06-23 03:22] Grunet commented on #723
Yeah looking at it more closely it seems like it will probably deserve its own PR. I can still plan to give it a try though

[2022-06-23 08:53] tidal commented on #426
@Grunet

That would definitly be a great start (there's probably always room for improvement).
However some examples might be outdated or broken.
Especially we should get rid of all:
[code]
and try-catch blocks
[code]

[2022-06-23 10:54] #709 closed

[2022-06-24 10:21] tidal opened #727 "Refactor TraceState's __toString method"
[TraceState's __toString method](https://github.com/open-telemetry/opentelemetry-php/blob/main/src/API/Trace/TraceState.php#L98) should be refactored for better performance and readability

- Remove unnessesary cloning of current instance
- Reverse check to a guard clause:
[code]

[2022-06-24 10:29] tidal opened #728 "Move development information from the main README into a dedicated DEVELOPMENT.md"
At the moment the information on development takes a lot of space in the main README.
We want to move this information into a dedicated DEVELOPMENT.md

~- Move development info into new DEVELOPMENT.md~
- LInk DEVELOPMENT.md from main README.md

[2022-06-26 18:18] tidal opened #730 "Make open-telemetry/opentelemetry an All-in-One Package"
Since we now distribute the different components of the library as separated packages, we want to make the global package [open-telemetry/opentelemetry](https://packagist.org/packages/open-telemetry/opentelemetry) an all-in-one package which comes with all necessary dependencies. This should make it easy to try out the functionality of the library.

- Add a `psr/http-factory-implementation` to the

[2022-06-27 06:37] amber0612 commented on #727
Please assign this to me @tidal.

[2022-06-27 14:18] tidal opened #732 "Invalid @covers annotations in SpanTest create warning in PHPunit runs"
**Steps to reproduce**
vendor/bin/phpunit tests/Unit/SDK/Trace/SpanTest.php

**What is the expected behavior?**
No warning

**What is the actual behavior?**

warning:
`"@covers ..." is invalid

[2022-06-27 18:25] tidal opened #733 "Support Attribues in InstrumentationScope and Signal Providers"
Related OTEP and Spec PR:
https://github.com/open-telemetry/oteps/blob/main/text/0201-scope-attributes.md
https://github.com/open-telemetry/opentelemetry-specification/pull/2579

[2022-06-29 04:24] Grunet commented on #703
Summarizing the discussion from the linked PR #720, I think functionality is in place to meet this part of the spec, but the exact presentation of the APIs might deserve a little tweaking, which can be looked at and evaluated in #723

Specifically the APIs for getting and setting the active span at this point in time are very similar to Java's, namely

[code]

If instrumentation libraries later ne

[2022-06-29 04:56] Grunet commented on #723
@tidal it looks like what's currently living in AbstractSpan at the moment almost exactly mirrors what's [in Java's version](https://github.com/open-telemetry/opentelemetry-java/blame/main/api/all/src/main/java/io/opentelemetry/api/trace/Span.java#L35) ([this PR](https://github.com/open-telemetry/opentelemetry-java/pull/1843) and [this other PR](https://github.com/open-telemetry/opentelemetry-java

[2022-06-29 13:41] #678 closed

[2022-06-29 13:41] #679 closed

[2022-06-30 00:51] #727 closed

[2022-06-30 00:51] #704 closed

[2022-06-30 10:30] #733 closed

[2022-06-30 10:36] tidal opened #738 "Use in InstrumentationScope Attribues in OTLP Exporters once respective proto files are released."
Support for InstrumentationScope Attribues is not released in proto files yet. Once this is shipped the OTLP Exporters should be updated to export them.

related:
- https://github.com/open-telemetry/opentelemetry-php/issues/733
- https://github.com/open-telemetry/opentelemetry-php/pull/735

[2022-07-01 08:50] amber0612 commented on #732
@tidal Please assign this to me

[2022-07-01 16:45] #712 closed

[2022-07-02 16:45] #728 closed

[2022-07-02 21:01] tidal opened #747 "Create OpenTracing Shim"
Specification Reference:
https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/compatibility/opentracing.md
OpenTracing PHP repository:
https://github.com/opentracing/opentracing-php

[2022-07-02 21:05] tidal opened #748 "Create OpenCensus Shim"
Specification Reference:
https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/compatibility/opencensus.md
OpenCensus PHP repository:
https://github.com/census-instrumentation/opencensus-php

[2022-07-03 09:58] #426 closed

[2022-07-03 12:06] tidal opened #749 "Remove ResourceConstants"
The [ResourceConstants](https://github.com/open-telemetry/opentelemetry-php/blob/main/src/SDK/Resource/ResourceConstants.php) class  has been deprecated since the introduction of semantic conventions in release[ 0.0.4](https://github.com/open-telemetry/opentelemetry-php/releases/tag/0.0.4). It should be removed now, since it's not used anywhere in the library or the contrib repository's components

[2022-07-06 02:47] Grunet commented on #301
Am I understanding [the spec](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/sdk-configuration.md) correctly in that it's saying all SDK configuration needs to be possible via PHP, and then anything else (e.g. environment variable handling) needs to be built on top of that?

Or is it saying something deeper or more broad? (the PR that introduced it is coy on

[2022-07-06 02:59] Grunet commented on #747
I'm guessing this one doesn't need to be thought out from scratch too much, and just following along with another language's implementation (or 2) with the spec at hand will get 90% of the way there.

Like for JS it looks like they managed this in roughly 400 lines of TS code - https://github.com/open-telemetry/opentelemetry-js/tree/f59c5b268bd60778d7a0d185a6044688f9e3dd51/packages/opentelemetry-s

[2022-07-08 11:40] trboltom opened #754 "Demo is not working?"
**Describe your environment**
Docker image provided in the example (`ghcr.io/open-telemetry/opentelemetry-php/opentelemetry-php-base:8.1`), tested on MacOS Monteray and Ubuntu.

**Steps to reproduce**
1. clone this repository
2. follow steps provided in https://github.com/open-telemetry/opentelemetry-php/tree/main/examples/traces/demo
3. In browser go to http://localhost:16686/search

**What is th

[2022-07-08 14:41] #754 closed

[2022-07-09 13:25] tidal opened #757 "Create an issue template for instrumenation requests/ideas"
We want to have an issue template to make it easier to add requests for instrumentations of specific PHP packages, libraries, frameworks, applications, etc.

The template should add the following labels automatically
- enhancement
- help wanted
- instrumentation
- opentelemetry-php-contrib
- package

[2022-07-09 13:42] tidal opened #758 "[meta] Documentation for OpenTelemetry PHP"
Meta issue for documentations regarding OpenTelemetry PHP.

- [ ] Add READMEs to individual packages
  - [x] https://github.com/open-telemetry/opentelemetry-php/issues/770
  - [x] https://github.com/open-telemetry/opentelemetry-php/issues/772
  - [x] https://github.com/open-telemetry/opentelemetry-php/issues/771
  - [x] https://github.com/open-telemetry/opentelemetry-php/issues/773
  - [x] https:/

[2022-07-09 13:45] tidal commented on #405
Closing this issue in favor of https://github.com/open-telemetry/opentelemetry-php/issues/758 , since the website docs are not maintained in this repo anymore.

[2022-07-09 13:45] #405 closed

[2022-07-11 14:24] #705 closed, assigned to nobody

[2022-07-11 18:24] CalinBolea commented on #749
I'll take this.

[2022-07-11 19:21] #749 closed

[2022-07-13 12:14] #732 closed

[2022-07-13 12:15] bobstrecansky commented on #299
This is configurable enough because it uses a PSR-3 Logger (this is similar to what Java does)

[2022-07-13 13:26] #703 closed

[2022-07-14 04:18] brettmc commented on #298
I think this is now done - we report on errors now. We can emit more errors in future, probably based on beta release feedback.

[2022-07-14 04:18] #298 closed

[2022-07-14 14:27] trivikr opened #766 "[PHP] Add Project Status table for each Signal in README top section"
**Is your feature request related to a problem? Please describe.**

The Project Status of Traces/Metrics/Logs Signals in OpenTelemetry is difficult to find in OpenTelemetry for ~~Java~~ PHP.

**Describe the solution you'd like**
Add Project Status Table at the top of README, similar to how it's done in other implementations:

- .NET https://github.com/open-telemetry/opentelemetry-dotnet
- Go https

[2022-07-14 15:00] trivikr commented on #766
On a quick look at version numbers and GitHub projects, this is what I think the table is:

| Signal  | Status       | Project |
| ------- | ------------ | ------- |
| Traces  | Experimental | N/A     |
| Metrics | Experimental | N/A     |
| Logs    | N/A          | N/A     |

If it's incorrect, please provide the correct table in this GitHub issue, so that it can be updated on README.

[2022-07-14 22:47] brettmc commented on #766
@trivikr - the table looks correct to me. Did you want this assigned to you?

[2022-07-15 05:34] amber0612 commented on #415
One fix that i tried is [https://replit.com/@amberkhandelwal/Is-Iterable-Empty#main.php](this).
I believe it will be more efficient solution.

[2022-07-15 06:30] tidal commented on #766
-> https://github.com/open-telemetry/opentelemetry-java

[2022-07-15 13:13] trivikr commented on #766
I'd use issue with OpenTelemetry Java as a reference while copying requests. Updated it to use PHP.

[2022-07-15 13:17] trivikr commented on #766
The consensus is being achieved towards treating website as authoritative, and provide a link to website instead.

https://github.com/open-telemetry/opentelemetry-java/pull/4612#issuecomment-1185118267

We'll request the status page to link to language instrumentation links instead of GitHub READMEs in https://github.com/open-telemetry/opentelemetry.io/issues/1548

[2022-07-16 12:44] tidal opened #769 "Fix Class Names and Directory Structure of Contrib Unit Tests."
At the moment all [unit tests in the Contrib package](https://github.com/open-telemetry/opentelemetry-php/tree/main/tests/Unit/Contrib) just live in one single directory. The name of the tests and the directory structure should reflect the ones of the tested classes.

[2022-07-16 12:53] tidal opened #770 "Create README for API package"
The [API package](https://github.com/open-telemetry/opentelemetry-php/tree/main/src/API) should have a README which explains its content, main components and at least give a rough overview over their usage. It also should link to the installation instructions of the main README.

[2022-07-16 12:55] tidal opened #771 "Create README for Context package"
The [Context package](https://github.com/open-telemetry/opentelemetry-php/tree/main/src/Context) should have a README which explains its content, main components and at least give a rough overview over their usage. It also should link to the installation instructions of the main README.

[2022-07-16 12:56] tidal opened #772 "Create README for SDK package"
The [SDKpackage](https://github.com/open-telemetry/opentelemetry-php/tree/main/src/SDK) should have a README which explains its content, main components and at least give a rough overview over their usage. It also should link to the installation instructions of the main README.

[2022-07-16 12:58] tidal opened #773 "Create README for SemConv package"
The [SemConv  package](https://github.com/open-telemetry/opentelemetry-php/tree/main/src/SemConv) should have a README which explains its content, main components and at least give a rough overview over their usage. It also should link to the installation instrcustions of the main REAME.

[2022-07-16 12:59] tidal opened #774 "Create README for Contrib package"
The [Contrib package](https://github.com/open-telemetry/opentelemetry-php/tree/main/src/Contrib) should have a README which explains its content, main components and at least give a rough overview over their usage. It also should link to the installation instrcustions of the main REAME.

[2022-07-16 21:42] tidal commented on #723
@Grunet
Sorry, I thought I already answered you, but I must have forgotten to hit the submit button.
However I don't want to repeat that wall-of-text, so I make it short.

Absolutely not!!! First of all staying consistent with anything Java is rarely a good idea, very often the opposite. (Been there done that.) I don't see any benefit in copying questionable design choices (like for example adding

[2022-07-18 03:34] Grunet commented on #723
Yeah that all seems reasonable to me. @brettmc @Nevay does @tidal's reasoning above seem appropriate to you to deviate from the Java implementation's patterns?

If so, I can go ahead and work on drafting changes to do the separating of concerns @tidal outlined in the issue description

[2022-07-18 03:58] brettmc commented on #723
ok with me. I do agree that `makeCurrent` is not an intuitive method name, I personally prefer keeping `activate` FWIW.

[2022-07-18 08:55] Nevay commented on #723
ok with me too. I have no issues with keeping `::activate()` (I mentioned/like `::makeCurrent()` because its name is a direct reference to `::current()`).

[2022-07-18 10:41] Nevay opened #776 "SDK should not require http-related packages"
**Is your feature request related to a problem?**
Currently `composer require open-telemetry/sdk` requires installation of http-related packages.
[code]

**Describe the solution you'd like**
It should be possible to install `open-telemetry/sdk` without installing http-related packages.

[2022-07-18 12:59] ishanvyas22 opened #777 "Unable to install the package via composer"
**Describe your environment**
[code]

**Steps to reproduce**
Below commands throws errrors:

[code]

or

[code]

**What is the expected behavior?**
Install the package!

**What is the actual behavior?**
[code]

**Additional context**
nothing

[2022-07-18 14:01] Nevay opened #778 "`Event\Dispatcher::getInstance()` leaks scope"
**Steps to reproduce**
[code]

**What is the expected behavior?**
`Event\Dispatcher::getInstance()` does not create a scope.

**What is the actual behavior?**
`Event\Dispatcher::getInstance()` creates a scope that is never detached.

**Additional context**
See also https://github.com/open-telemetry/opentelemetry-php/pull/763#discussion_r923037358.

[2022-07-18 14:03] bobstrecansky commented on #777
@ishanvyas22 - you'll need to include one of the satisfying virtual packages for `php-http/async-client-implementation`:

https://packagist.org/providers/php-http/async-client-implementation

Which one you choose will vary greatly depending on the implementation of whatever you're trying to implement.  The [guzzle7-adapter](https://packagist.org/packages/php-http/guzzle7-adapter) is a pretty popul

[2022-07-19 04:07] #778 closed

[2022-07-21 13:33] ishanvyas22 commented on #777
Thanks.

[2022-07-21 13:33] #777 closed

[2022-07-21 20:56] tidal commented on #766
That's certainly not a consensus otherwise this sentence would be obsolete. If you are talking about the website repo, it's not authoritative in our case, as the truth about this libarary and its content is this repository which will not simply change because of any content on the website.

[2022-07-31 16:14] jdalmas commented on #567
I've try something in this PR https://github.com/open-telemetry/opentelemetry-php-contrib/pull/74 .
Like I say, I've put profiling logic into OtelSdkBundle instead of DebugBundle. I don't know if it's wrong or not.

[2022-07-31 23:32] lgfa29 opened #786 "Decode values from `OTEL_RESOURCE_ATTRIBUTES`"
While using the Go SDK I noticed an inconsistency in how `OTEL_RESOURCE_ATTRIBUTES` baggage values are encoded and decoded. This was due to a difference in the version of the W3C Baggage spec used for [baggage propagation](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/baggage/api.md#propagation) and the [`OTEL_RESOURCE_ATTRIBUTES` decoding](https://github.co

[2022-08-01 11:32] amber0612 commented on #715
I would like to work on this one. Can you please assign it to me. thanks

[2022-08-05 09:26] xinfeingxia85 opened #789 "Tracer data can't be sent using 0.0.12 ~0.0.13 and main version"
**Describe your environment**
PHP: 8.1.7
OpenTelemetry-php: >=0.0.12 | main
PHP Framework: Lavarel

**Steps to reproduce**
1. OpenTelemetry PHP Version: main
[code]
2. OpenTelemetry PHP Version: 0.0.12 | 0.0.13
[code]
**What is the expected behavior?**
I expect that all trace data can be sent successfully.

**What is the actual behavior?**
All the tracer data aren't sent, even though register_shut

[2022-08-06 13:36] Nevay commented on #789
Starting with 0.0.12 you have to keep a reference to the created `TracerProvider`, and preferably call `::shutdown()` explicitily at the end of your application.

[2022-08-08 02:38] xinfeingxia85 commented on #789
OK, I have known why.
I will immediately call `TracerProvider::__destruct` if there is no reference to the TracerProvider.

[2022-08-09 13:28] #789 closed

[2022-08-10 11:10] sanketmehta28 commented on #786
Hi, Can you please assign this to me?

[2022-08-10 11:14] sumit-158 commented on #769
Hi, @tidal can I work on this?

[2022-08-10 12:00] sanketmehta28 commented on #427
Hi @bobstrecansky @brettmc @tidal Can you please assign this to me?

[2022-08-10 12:17] bobstrecansky commented on #301
@tidal - @brettmc mentioned in the SIG meeting you may have ideas for this?  Talked about not making it required for beta

[2022-08-10 12:19] bobstrecansky commented on #747
@Grunet - are you still planning on working on this?

[2022-08-10 20:08] Nevay opened #794 "Add cancellation support to metrics sdk"
Related: https://github.com/open-telemetry/opentelemetry-php/pull/782

[2022-08-10 20:09] Nevay opened #795 "Add interfaces for `Context` and `ContextKey`"
Simplifies mocking and allows using `enum`s as `ContextKey`.

[2022-08-10 20:10] Nevay opened #796 "Change `SpanExporter::export()` result to `Success` or `Failure`"
[Export()](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/trace/sdk.md#exportbatch) defines only `Success` and `Failure`. The differentiation between `STATUS_FAILED_NOT_RETRYABLE` and `STATUS_FAILED_RETRYABLE` isn't useful to the caller as "retry logic is the responsibility of the exporter".

[2022-08-11 07:05] amber0612 commented on #447
Hi @bobstrecansky, I would like to work on this one incase you have less bandwidth

[2022-08-13 00:37] #769 closed

[2022-08-15 14:41] erdemkose commented on #700
@DrLuke @tidal FYI; I see that it is implemented in https://github.com/open-telemetry/opentelemetry-php/pull/750

[2022-08-18 08:44] sangeethjohn07 commented on #528
@tidal Can you please assign this issue to me?

[2022-08-19 22:23] jmacd opened #802 "Handle partial success responses from OTLP export services"
### Problem Statement

Following the [specification change to add partial success responses](https://github.com/open-telemetry/opentelemetry-specification/pull/2696), each OTel SDK is encouraged to handle the resulting error message string in an appropriate way, considering existing norms. This requires OTLP v0.19.

### Proposed Solution

For each of the `Export*ServiceRequest` methods used by OTL

[2022-08-24 02:15] xinfeingxia85 opened #805 "When is InstrumentationLibrarySpans removed in the file proto/otel/Opentelemetry/Proto/Trace/V1/ResourceSpans.php"
**Is your feature request related to a problem?**
There are a lot of deprecated warning logs on the production environment,  because the log level needs to be set the value INFO for application.

[code]

**Describe the solution you'd like**
The comment says that this field is deprecated and will be removed after grace period expires on June 15, 2022.

[2022-08-24 04:03] brettmc commented on #805
Hi. https://github.com/open-telemetry/opentelemetry-proto/releases/tag/v0.19.0 was released a couple of weeks ago which removes `instrumentation_library_spans`, but opentelemetry-php is still on v0.16.0. AFAICT our library stopped using the deprecated field a few months back (since v0.0.10) - what version of the library are you using?

[2022-08-24 08:04] xinfeingxia85 commented on #805
The version of the library is v0.0.14, and this warning starts at v0.0.11.

[2022-08-24 08:05] xinfeingxia85 commented on #805
The version of the library is v0.0.14, and this warning starts at v0.0.11.

[2022-08-24 09:57] brettmc commented on #805
Can you provide a test case (sample code) which triggers the behaviour?

[2022-08-24 12:56] #500 closed

[2022-08-25 01:40] xinfeingxia85 commented on #805
Ok,  I will provider it later.

[2022-08-25 05:14] xinfeingxia85 commented on #805
@brettmc

The stack trace should be helpful to troubleshoot the problem, as follows:
[code]
---------------
Pakcage google/protobuf info, as follows:

[code]

[2022-08-25 05:52] xinfeingxia85 commented on #805
@brettmc
The code repository link: https://github.com/xinfeingxia85/telemetry-study-demo
The main code files, as follows:
https://github.com/xinfeingxia85/telemetry-study-demo/blob/main/app/Providers/TelemetryServiceProvider.php
https://github.com/xinfeingxia85/telemetry-study-demo/blob/main/app/Http/Controllers/HelloController.php

[2022-08-25 06:41] brettmc commented on #715
Fixed by #788

[2022-08-25 06:41] #715 closed

[2022-08-25 09:52] brettmc commented on #805
I've submitted a PR to update protobuf files to the latest version, where instrumentationLibrarySpans is removed. When that gets merged, I'll get you to update to `dev-main` and see if your problem is resolved.

[2022-08-25 22:37] brettmc opened #807 "[contrib] update OtelSdkBundle for 0.0.15"
[OtelSdkBundle](https://github.com/open-telemetry/opentelemetry-php-contrib/tree/main/src/Symfony/OtelSdkBundle) in the contrib repo has some minor issues with otel 0.0.15:

[code]

[2022-08-26 01:22] brettmc commented on #802
This will be partly implemented by #806.
We'll implement for http+protobuf after https://github.com/open-telemetry/opentelemetry-collector/issues/5816 since we currently have no collector response to work with from that protocol.

[2022-08-26 13:22] Nevay commented on #807
Will be resolved by https://github.com/open-telemetry/opentelemetry-php-contrib/pull/77/commits/b83827f836586ec01c51ee4fe272c39ecaa5abaa.

[2022-08-28 06:29] Jimlah commented on #730
Hello @tidal, I noticed these have already been done.

[2022-08-28 11:58] brettmc commented on #807
merged above PR, build is green now.

[2022-08-28 11:58] #807 closed

[2022-08-31 02:00] xinfeingxia85 commented on #805
OK, I will verify later.

[2022-09-01 13:51] sangeethjohn07 commented on #528
@tidal This issue was created long back.  From numerous merges to the main branch after that, seems like unit tests and integration tests are segregated into respective folders and that too in a proper way. Can someone please confirm that this issue is still valid, and help me with identifying the key areas to look into, if any.

[2022-09-02 05:02] brettmc commented on #528
Hi @sangeethjohn07 You are correct that a lot of work has been done to fix up the tests since this issue was created, either as part of this issue or as a side-effect of other contributions.
I suspect there are still some integration tests disguised as unit tests, i.e `Move "integration test like" tests from Unit Tests into the Integration Test suite(s)` from the issue description.
Please spend so

[2022-09-05 14:58] asv opened #811 "Poor performance otlp+grpc exporter"
**Describe your environment**

Host:
[code]

Application under docker:
[code]

PHP version
[code]

opentelemetry-php (0.0.15).

**Steps to reproduce**
Instrument your code with opentelemetry-php (my case is Laravel application).
Configure otlp+grpc (to opentelemetry-collector).

**What is the expected behavior?**
Fast and low overhead telemetry.

**What is the actual behavior?**
High overhead (ext

[2022-09-05 23:47] brettmc commented on #811
Hi @asv are you using the protobuf C extension, or the php library (eg installed via composer) ?

We know that performance is significantly better with the C extension, and that's the recommended approach: https://github.com/protocolbuffers/protobuf/blob/main/php/README.md

[2022-09-07 03:36] brettmc commented on #805
dev-main uses latest protobuf files now, can you try it please?

[2022-09-07 04:09] xinfeingxia85 commented on #805
OK, I will try it today.

[2022-09-07 06:12] xinfeingxia85 commented on #805
@brettmc  All the warning are gone.

[2022-09-07 11:19] brettmc commented on #805
Cool. I think we can close this then. A new release will be out soon.

[2022-09-07 11:19] #805 closed

[2022-09-07 12:41] brettmc opened #815 "add documentation for InstrumentationInterface"
Create documentation on how https://github.com/open-telemetry/opentelemetry-php/tree/main/src/API/Common/Instrumentation/InstrumentationInterface should be used. It was created to standardize 3rd party instrumentations (eg AWS SDK over in -contrib repo), there are some comments in `InstrumentationTrait` that describe how it is meant to be used which might be helpful.

[2022-09-07 13:04] brettmc commented on #766
Implemented in #816

[2022-09-07 13:04] #766 closed

[2022-09-08 05:34] brettmc commented on #811
If this does turn out to be that the native php implementation sucks, I'll move it from a `suggest` to a `require` when installing the otlp exporters...

[2022-09-08 07:19] asv commented on #811
Hi @brettmc. Native extension is superduper fast. Now we can even run telemetry collection on our production environment!
Thanks a lot!

[2022-09-08 11:24] brettmc commented on #811
Thanks for the update, that's very useful feedback. I'll make the extension the default if installing one of the otlp exporters.

[2022-09-08 11:24] #811 closed

[2022-09-12 01:42] Grunet commented on #747
Looking at it more closely now, I have 2 other observations

1) [JS](https://github.com/open-telemetry/opentelemetry-js/blob/f59c5b268bd60778d7a0d185a6044688f9e3dd51/packages/opentelemetry-shim-opentracing/src/shim.ts) and [Python](https://github.com/open-telemetry/opentelemetry-python/blob/71e3a7a192c0fc8a7503fac967ada36a74b79e58/shim/opentelemetry-opentracing-shim/src/opentelemetry/shim/opentrac

[2022-09-12 08:49] amber0612 commented on #815
Hey @brettmc, I can take this up.

[2022-09-12 11:03] brettmc commented on #815
Keep an eye on #822 @amber0612

[2022-09-12 21:06] Grunet commented on #747
So there are a total of 27 methods across 5 interfaces that you need to fill out to make any OpenTracing-PHP implementation (including an OTEL-backed one as is needed here)

Scaffolding the initial files and taking a stab at the first 7 methods for OpenTracing's "Tracer" interface ended up taking me roughly around 7 hours (a large chunk of which was trying to understand-then-translate Java and JS'

[2022-09-15 00:59] #738 closed

[2022-09-16 06:09] brettmc opened #826 "[META] php 8.2 support"
Issues to be resolved to enable opentelemetry-php to work with php 8.2:

- [x] ${var} in strings https://github.com/open-telemetry/opentelemetry-php/pull/810
- [x] protobuf (native) https://github.com/protocolbuffers/protobuf/pull/10594
- [x] protobuf (extension) (dynamic properties) - extension v3.20.1+ is ok
- [x] grpc (dynamic properties) https://github.com/grpc/grpc/pull/30997
- [x] grpc relea

[2022-09-16 22:45] brettmc opened #1182 "[opentelemetry-php-instrumentation] - create github actions"
Create an action that will build the extension and run its tests on a matrix of PHP versions:
8.0.x (with and without zts)
8.1.x (with and without zts)

See https://github.com/open-telemetry/opentelemetry-php/blob/main/.github/workflows/php.yml for inspiration

[2022-09-18 21:27] #796 closed

[2022-09-18 23:40] #795 closed

[2022-09-19 07:17] Nevay opened #1181 "[opentelemetry-php-instrumentation] - First class callables are not hooked"
Functions are not hooked when the first usage of the hooked function is a first class callable.

[code]

[2022-09-19 23:27] #1181 closed

[2022-09-20 05:43] #700 closed

[2022-09-20 05:51] brettmc commented on #730
Agreed, done. Closing.

[2022-09-20 05:51] #730 closed

[2022-09-20 05:53] brettmc commented on #658
Completed in https://github.com/open-telemetry/opentelemetry-demo/pull/345 (quote service)

[2022-09-20 05:53] #658 closed

[2022-09-20 05:57] brettmc commented on #553
Done in #682

[2022-09-20 05:57] #553 closed

[2022-09-20 05:59] brettmc commented on #447
hi @amber0612 do you still want this one?

[2022-09-20 06:19] amber0612 commented on #447
Sure @brettmc

[2022-09-20 20:52] #690 closed

[2022-09-20 20:52] #574 closed

[2022-09-21 12:08] #589 closed

[2022-09-27 02:14] Soockee commented on #618
since a related PR has been merged, could this be closed? @tidal

[2022-09-27 07:11] joaopgrassi commented on #802
Hi @brettmc should we create a follow up issue to track the implementation for this for http+protobuf?

[2022-09-27 18:07] jmacd commented on #802
Let's please leave this open as long as these responses aren't handled in http/proto and http/json.

[2022-09-29 10:05] svrnm opened #832 "PHP docs on opentelemetry.io"
Hey everyone,

as someone who learned writing code with PHP centuries ago, I am happy to see all the great progress Otel PHP is making:-) I also saw that you have much more documentation these days within the repositories, and that's why I am reaching out:

The docs for PHP on opentelemetry.io are [still basic](https://opentelemetry.io/docs/instrumentation/php/getting-started/), but I would like t

[2022-09-29 14:19] svrnm commented on #832
should we wait for beta then or should this happen in parallel?

[2022-10-01 05:37] #723 closed

[2022-10-01 05:38] #776 closed

[2022-10-01 05:38] #794 closed

[2022-10-02 22:48] #1182 closed

[2022-10-03 00:12] brettmc commented on #771
Resolved by #830

[2022-10-03 00:12] #771 closed

[2022-10-03 00:18] brettmc commented on #688
Resolved by https://github.com/open-telemetry/opentelemetry-php-contrib/pull/75

[2022-10-03 00:18] #688 closed

[2022-10-04 15:15] codeboten opened #835 "OTLP exporters should emit standard user agent string"
As per the following change in the specification (1.14 releasing Oct 4):

See https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/protocol/exporter.md#user-agent

[2022-10-04 19:51] erickneverson opened #836 "Fatal Error OpenTelemetry\Contrib\OtlpHttp\Exporter::__construct()"
**Describe the bug**
The following works with another php app but does not for a separate app even while the dependencies are the same:

[code]

Getting Fatal error: Uncaught TypeError: Argument 1 passed to OpenTelemetry\Contrib\OtlpHttp\Exporter::__construct() must be an instance of OpenTelemetry\SDK\Common\Export\TransportInterface

**Steps to reproduce**
dependencies
[code]

**What did you expe

[2022-10-04 23:15] brettmc commented on #836
Hi @erickneverson
Our codebase is not stable, and it looks like you've picked up some recent breaking changes in main.
You have options:
1. go back to the latest tagged version (0.0.15) where your current code should work (but will break in the next release)
2. consult [https://github.com/open-telemetry/opentelemetry-php/blob/main/examples/traces/features/exporters/otlp.php](the examples) on how t

[2022-10-04 23:35] erickneverson commented on #836
@brettmc thanks for the feedback.  I'll future proof myself by looking into option 2.

~ Best

[2022-10-05 12:08] bobstrecansky commented on #836
@erickneverson - is it okay if we close this issue?

[2022-10-05 12:11] bobstrecansky opened #837 "Changing versioning for our packages for the beta release:"
Shamelessly stolen from @Nevay 👍🏼

We likely have to change our versioning for beta (we currently use the monorepo tags for every subsplit, right?) - packages should be versioned independently, we don't want to bump our API version for unrelated SDK changes ([spec](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/versioning-and-stability.md#version-numbers)).

[2022-10-05 12:12] bobstrecansky commented on #837
@Nevay - do you have an idea for an implementation strategy for this?

[2022-10-05 12:29] aborigene commented on #557
The example link above is throwing a 404, does anyone have a valid example on context propagation?

[2022-10-05 12:37] brettmc commented on #557
it moved, but not far: https://github.com/open-telemetry/opentelemetry-php/blob/main/examples/traces/demo/src/index.php#L47

[2022-10-05 13:05] #836 closed

[2022-10-07 09:26] brettmc commented on #837
One idea I had, that I haven't fully thought through: if we just git-split `main` into our read-only repos (or just don't tag in the monorepo), then we can instead tag in the subsplit repositories.
The downside of that is that we (maintainers) would need to identify everything that's changed and go tag it manually. So, more manual work and the possibility of missing tagging things (although I'm su

[2022-10-10 13:20] Nevay opened #842 "SDK should drop `enduser.*` attributes by default"
[General identity attributes](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/trace/semantic_conventions/span-general.md#general-identity-attributes):

[2022-10-11 22:12] #842 closed

[2022-10-12 12:08] bobstrecansky commented on #826
All the PRs are in for this, we are just waiting on Google support.  I'm going to follow up with them.

[2022-10-12 12:18] bobstrecansky commented on #718
@brettmc spent a couple of hours looking into this, this is probably a bug in deptrac.  This is caused by an internal annotation.  There is something in the SDK that is depending on the API (recording and non-recording span).  If we drop the internal annotation for non-recording span, we should be able to resolve this.

[2022-10-12 12:19] bobstrecansky commented on #718
We should also probably submit a bug report to deptrac.

[2022-10-12 12:20] #618 closed

[2022-10-12 12:21] bobstrecansky commented on #528
We've decided to close this issue because it's getting a bit long in the tooth.  If anyone has any reservations about this, please feel free to open this issue again or a new issue.

[2022-10-12 12:21] #528 closed

[2022-10-12 12:23] bobstrecansky commented on #567
@jdalmas - would you like us to merge this?

[2022-10-12 12:23] bobstrecansky commented on #568
This issue was closed for being stale, I'm going to reopen it and pin it.

[2022-10-12 18:14] bobstrecansky commented on #826
I've bumped our Google support rep today; waiting to hear back from them.

[2022-10-12 18:16] bobstrecansky commented on #530
All of the subtasks have been finished; marking this as complete.

[2022-10-12 18:16] #530 closed

[2022-10-14 13:22] jdalmas commented on #567
@bobstrecansky I've updated PR to use Instrumentation Interface & Trait. I you think this PR is ok, you can merge it.

[2022-10-17 02:36] brettmc commented on #301
I went over what the java SIG does for configuration, and found that they don't have a way to provide input via a well-defined structure (xml/json/yaml). AFAICT, having an SDK builder is the extent of their "configuration interface" implementation.
I think we only need to go that far as well, so I've started prototyping an SDK builder similar to java's.

[2022-10-19 12:34] bobstrecansky opened #846 "Create a PECL package for auto-instrumentation"
Before opening a feature request against this repo, consider whether the feature should/could be implemented in the [other OpenTelemetry client libraries](https://github.com/open-telemetry). If so, please [open an issue in opentelemetry-specification](https://github.com/open-telemetry/opentelemetry-specification/issues/new) first.

We'd like to make a [PECL](https://pecl.php.net/) extension for au

[2022-10-25 08:43] #567 closed

[2022-10-25 08:44] brettmc commented on #508
I believe we can close this, as `PsrTransport` achieves this?

[2022-10-26 23:27] brettmc commented on #826
gRPC and protobuf PRs have been merged, now to wait for them to be included in releases.

[2022-10-28 17:51] bobstrecansky commented on #837
Brett and I discussed the splitting of the API and the SDK as it pertains to tagging and releasing today.
https://github.com/open-telemetry/opentelemetry-php/issues/837

We are semi-conflicted about the next steps that we should take.  We discussed not versioning the main repository, but rather versioning the git split other packages, namely the API and SDK read only packages.
If we decide to not

[2022-10-30 21:09] #301 closed

[2022-10-31 11:12] wilsondlli opened #1180 "[opentelemetry-php-instrumentation] - Will it support php7?"
Before opening a feature request against this repo, consider whether the feature should/could be implemented in the [other OpenTelemetry client libraries](https://github.com/open-telemetry). If so, please [open an issue in opentelemetry-specification](https://github.com/open-telemetry/opentelemetry-specification/issues/new) first.

**Is your feature request related to a problem?**
Many projects ar

[2022-11-01 01:26] #1180 closed, assigned to nobody

[2022-11-02 11:12] jderusse opened #852 "Span are not exported by the BatchSpanProcessor"
**Describe your environment**

Since #788 spans are not all flushed.

- in the `onEnd` methods, spans are pushed to the `batch` array buffer.
- the `batch` buffer is moved to the `queue` stack by the `enqueueBatch` method
- the `enqueueBatch` is called:
  -  when the `batch` buffer has more than `maxExportBatchSize` traces
  - Or when `shouldFlush` return true and `queue` is empty => this requires

[2022-11-02 12:31] #328 closed

[2022-11-02 12:31] #383 closed

[2022-11-02 12:31] #802 closed

[2022-11-02 12:32] bobstrecansky commented on #852
@tobiasstadler - wanted to check with you that you approve of this approach before we implemented it.

[2022-11-02 17:45] Nevay commented on #852
Calling `::shutdown()` is [necessary](https://github.com/open-telemetry/opentelemetry-php/tree/0b43fac7292e0f6efa4f881526bcbf750833486f#set-up-a-tracer) and should flush all enqueued spans (`::shutdown()` adds the current batch id to the `$this->flush` queue); do you have a reproducer that calls `::shutdown()`?

[2022-11-03 08:14] jderusse commented on #852
indeed, calling `shutdown` fixes the issue. Sorry for the noise

[2022-11-03 08:14] #852 closed

[2022-11-03 19:58] DrLuke opened #855 "[opentelemetry-php-contrib] SdkBundle: How to receive parent context?"
I have instrumented my nginx server with `opentelemetry-cpp-contrib` and am propagating the context into my Symfony application. I can confirm that the relevant W3C headers arrive in my app:

[code]

How do I configure the bundle to read the header and connect my traces?

[2022-11-05 01:35] erdemkose opened #857 "Calling forceFlush() does not clear metrics"
**Describe your environment**

PHP 7.4
Latest commit (https://github.com/open-telemetry/opentelemetry-php/commit/92e7a0d0706f2bf37c4023d19247c2ac6b3511d4)

**Steps to reproduce**

Calling `MeterProvider::forceFlush()` repeatedly will export the same metrics again and again.

[code]

**What is the expected behavior?**

Calling `MeterProvider::forceFlush()` exports and clears the metrics queue

**Wh

[2022-11-05 11:05] Nevay commented on #857
Exporting the same metrics on repeated `::forceFlush()` calls is expected behavior with `Temporality::CUMULATIVE` (see also (T<sub>0</sub>, T<sub>2</sub>] in the [Synchronous example: Cumulative aggregation temporality](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/supplementary-guidelines.md#synchronous-example-cumulative-aggregation-temporality)).

[2022-11-05 14:37] erdemkose commented on #857
OK. I see that I lack basic understanding of temporality. I will start looking into that. Thanks for the reply.

[2022-11-05 14:37] #857 closed

[2022-11-05 21:13] brettmc commented on #857
@erdemkose AFAIK you're one of the very first testers of metrics...we'd love documentation patches if you're able 🙂

[2022-11-06 22:46] tillkruss opened #860 "Global tracer provider"
I'm working on a wrapper for the [Relay](https://github.com/cachewerk/relay) extension for PHP and we're wondering if there is a "global tracer provider" in OpenTelemetry's PHP package, yet?

I've read about that in the docs for other languages.

[2022-11-07 01:43] brettmc commented on #860
Hi. Yes there is, in our `main` branch but not yet in a released version. You should start by looking at the `SdkBuilder` (see `examples/sdk_builder.php`) to get an idea of how it works. In progress is a mechanism to automatically create the tracer provider, and you might also be interested in our prototype [auto-instrumentation extension](https://github.com/open-telemetry/opentelemetry-php-instru

[2022-11-07 15:34] tillkruss commented on #860
Thanks a lot @brettmc, I'll wait until it's "finalized" the next release.

[2022-11-07 15:34] #860 closed

[2022-11-08 00:54] brettmc commented on #860
@tillkruss you can get the provider that way yes, but _something_ needs to configure/create the global provider (working on having that automagically happen, but it's not ready yet).
By default, `Globals` will give you a no-op provider. You can take a look at how `SdkBuilder` registers the global provider (via `Configurator`) for now.

[2022-11-08 01:02] tillkruss commented on #860
Thanks. I expect the system itself to register the global provider, or pass one to my code. This is great thanks!

[2022-11-10 00:39] brettmc commented on #835
metrics exporter also contains this header now, in #854

[2022-11-11 01:49] brettmc commented on #855
I'm not very fluent in Symfony, but it looks to me like it should be happening in `RequestListener::startRequest` - https://github.com/open-telemetry/opentelemetry-php-contrib/blob/main/src/Symfony/src/OtelBundle/HttpKernel/RequestListener.php#L103

[2022-11-11 12:49] faysh commented on #754
It still not working. When I change OTEL_TRACES_EXPORTER to console I see spans in console. But with collector it doesn't work

[2022-11-11 13:29] faysh commented on #754
Solution was pretty simple. You should add schema and protocol for exporter here
https://github.com/open-telemetry/opentelemetry-php/blob/main/examples/traces/demo/docker-compose.yml#L7

just replace collector:4317 by http://collector:4317

[2022-11-15 09:49] brettmc opened #861 "boolean config values"
Per https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/sdk-environment-variables.md#boolean-value :
[code]

We currently accept other values, such as "on", "1" as true, but should not.

[2022-11-16 13:01] svenwltr opened #863 "Support for 16 character trace IDs"
**Is your feature request related to a problem?**

We are using Traefik in front of a PHP application and we want to connect the traces of both. Currently they are not connected, because Traefik sends a 16 char trace ID and opentelemetry-php [expects 32 chars](https://github.com/open-telemetry/opentelemetry-php/blob/0.0.16/src/API/Trace/SpanContextValidator.php#L17).

**Describe the solution you'd

[2022-11-23 08:00] pdelewski opened #1179 "[opentelemetry-php-instrumentation] - Throwing new exception from post hook lead to memory leak"
**Describe your environment**
Tested that on different versions of php debug (8.1.9, 8.2.x) as the problem is noticeable there.

**Steps to reproduce**
Invoke `make test` on debug php build.

**What is the expected behavior?**
All tests passing without failures

**What is the actual behavior?**
Memory leaks in test log file

[code]

**Additional context**
The problem is caused when new exception i

[2022-11-23 15:47] willarmiros opened #865 "Allow tracking of Beta & GA milestones for tracing"
Hi everyone, while this project is in alpha status for tracing, it cannot be used in production applications. It would be really helpful if perhaps we revived [the tracing project board](https://github.com/open-telemetry/opentelemetry-php/projects/1) to track Beta/GA requirements or even just opened issues to track these statuses. This way as a user of the library I can plan around when to impleme

[2022-11-23 17:47] marcospassos opened #866 "Remove internal flag from Context::setStorage"
The only way I found to set a context storage today is through the [`Context::setStorage`](https://github.com/open-telemetry/opentelemetry-php/blob/deeb07a890297d6975837a357d81d868418307b9/src/Context/Context.php#L41) (e.g., integrating with the Swoole storage).

But given it's internal, how are we supposed to configure it? Clarifying it on the docs or adding an example would help a lot.

[2022-11-23 23:49] marcospassos opened #868 "HTTP OTLP Exporter is broken in 0.0.16"
**Describe your environment**

After upgrading to v0.0.16 both the metric and span exported started receiving a bad request repose from the collector:

[code]

[2022-11-24 22:10] brettmc commented on #868
Hi @marcospassos thanks for the report. I'm not able to replicate your issue, can you provide more info?
I'm running `examples/traces/features/exporters/otlp_http.php` and exporting it to a collector (v0.66, which is the latest), which is our usual smoke test for checking compatibility with the collector. I don't see any errors in the collector logs.

[2022-11-24 22:14] marcospassos commented on #868
Hi @brettmc!

This is the collector I'm using:

[code]

config.yaml
[code]

Let me know if you still can't reproduce the issue usinf this docker compose file.

[2022-11-24 23:30] brettmc commented on #863
Hi @svenwltr it looks like this has come up in other language SIGs and they've solved it by left-padding an 8-byte/16 hex char trace id, out to 32 bytes: https://github.com/open-telemetry/opentelemetry-go/issues/686
I'll put a patch together to do the same so you can test it out.

[2022-11-25 02:57] #1179 closed

[2022-11-25 03:48] brettmc commented on #868
Still exporting for me if I go back to 0.60. Can you try running our smoke-test against your setup?
`make smoke-test-collector-integration`, then check the collector logs for errors.
It might also be worth trying with the most recent collector version, although I didn't see anything suspicious in the release notes between 0.60 and 0.66.
The smoke-test is pretty basic, so it's entirely possible you

[2022-11-25 04:10] #508 closed

[2022-11-25 20:26] #866 closed

[2022-11-27 22:18] brettmc commented on #863
@svenwltr are you able to test this: #869 ?

[2022-11-28 00:00] brettmc commented on #649
I don't think there is anything we can do code-wise about accidentally starting duplicate root spans, because it's also a legit use-case. I see how it's problematic in a long-running process though. On shutdown I think we'd complain about scope not detached, but that doesn't help here.

[2022-11-28 00:00] #649 closed

[2022-11-28 00:36] brettmc commented on #566
Closing due to inactivity, please re-open or create a new issue if this is still relevant.

[2022-11-28 00:36] #566 closed

[2022-11-28 00:45] brettmc commented on #451
Closing, as I believe all of the issues originally identified have been resolved or are no longer relevant due to refactoring which has taken place over the past 12 months.

[2022-11-28 00:45] #451 closed

[2022-11-28 05:29] brettmc commented on #447
I ran some benchmarks against baggage parsing, it's very fast (~2us per execution when run 10k times) and I couldn't see much room for improvement.
It looks like the original implementation was based on Java's, and I think our code is easier to read: https://github.com/open-telemetry/opentelemetry-java/blob/main/api/all/src/main/java/io/opentelemetry/api/baggage/propagation/Parser.java#L45

[2022-11-29 03:31] #861 closed

[2022-11-29 03:32] #786 closed

[2022-11-29 03:33] #447 closed

[2022-11-30 03:03] #863 closed

[2022-11-30 13:10] bobstrecansky commented on #868
@marcospassos - did this resolve your issue?

[2022-11-30 13:15] bobstrecansky commented on #826
I'm going to ping our google rep about a release of https://github.com/protocolbuffers/protobuf

[2022-11-30 15:55] marcospassos commented on #868
I'll check this over the next days.