[2019-10-02 20:02] bobstrecansky opened #3 "Create a baseline repository"
Use Dmitry Krokhin's baseline for opentelemetry-php to go from zero to start in our repository:
https://github.com/basis-company/opentelemetry-php

Success criteria: Have something in the opentelemetry-php repo that isn't just a README.md

[2019-10-02 20:10] bobstrecansky opened #4 "Alpha 0.2 Release Candidate"
The spirit of this release is to have a demo-able product that anybody can start playing with and start implementing instrumentation adaptors and data collectors for various scenarios.

[2019-10-02 20:12] bobstrecansky opened #5 "Alpha 0.2 Tracing Requirement - SDK"
These are the features in scope for an Alpha 0.2 SDK release from a tracing standpoint:

- [ ] Built-in samplers (percentage sampler).
- [x] SpanProcessor interface
- [x] Batching SpanProcessor
- [x] Exporter interface
- [x] Jaeger and/or Zipkin exporter

Success criteria : Add these features to the 0.2 Alpha release candidate.
Full SDK specs for Alpha 0.2 can be found [here](https://github.com/op

[2019-10-02 20:24] bobstrecansky opened #6 "Alpha 0.2 Context Propagation Requirement - SDK"
These are the features in scope for an Alpha 0.2 SDK release from a context propagation standpoint:

- [ ] In-process propagation
- [ ] Inject and Extract
- [ ] DistributedContext

Success criteria : Add these features to the 0.2 Alpha release candidate.
Full SDK specs for Alpha 0.2 can be found [here](https://github.com/open-telemetry/opentelemetry-specification/blob/master/milestones.md#sdk-spec

[2019-10-02 20:26] bobstrecansky opened #7 "Alpha 0.2 Metrics Requirement - SDK"
The SDK specs for an Alpha 0.2 release contain metrics.  These are the features in scope for an Alpha 0.2 release from a metrics standpoint:

- [ ] MetricsProcessor interface
- [ ] Aggregation MetricsProcessor
- [ ] Exporter interface
- [ ] Prometheus Exporter

Success criteria : Add these features to the 0.2 Alpha release candidate.
Full SDK specs for Alpha 0.2 can be found [here](https://github.

[2019-10-02 20:31] bobstrecansky opened #8 "Alpha 0.3 Release Candidate"
The spirit of v0.3 release is to deliver a product with the stable, almost the release candidate level of APIs and interfaces.

After the v0.3 release of language SDKs we do expect that languages public surface may change, but we do not expect any major changes in conceptual level in specifications.

The milestone definition can be found [here](https://github.com/open-telemetry/opentelemetry-speci

[2019-10-03 02:36] bobstrecansky commented on #4
@c24t mentioned to me - We are planning to release versions of the library for each of these milestones, but that's mostly as an exercise to keep the clients in sync as we develop them. The only people that are likely to use pre-GA clients are other developers -- and they're probably happy to build from source.  This ticket is essentially a placeholder for the release for context and ceremony.

[2019-10-03 02:37] bobstrecansky commented on #7
Metrics work doesn't depend on anything else, even context propagation, so this is probably a good first issue for someone.

[2019-10-03 02:39] bobstrecansky opened #10 "Alpha 0.2 Tracing Requirement - API"
Alpha v0.1 received a lot of feedback. As part of an Alpha release there will be a few major areas of improvement - change for out of band span reporting API and the merged pre-aggregated and non-aggregated metrics API. There are other changes as well.

We already plan for the next iteration and we know that API is expected to be changed for the Alpha v0.3 milestone. The big improvements in works

[2019-10-03 02:39] bobstrecansky commented on #5
tracing won't work without context propagation, an item we are tracking in https://github.com/open-telemetry/opentelemetry-php/issues/6

Span processors/exporters won't work without a tracer API and minimal implementation, as caputred in https://github.com/open-telemetry/opentelemetry-php/issues/10

[2019-10-03 02:44] bobstrecansky opened #11 "Alpha 0.2 Distributed Context Requirement - API"
The distributed context API needs to created, using [The DistributedContext API OpenTelemetry Specification](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/api-distributedcontext.md) as reference.

[2019-10-03 02:44] bobstrecansky opened #12 "Alpha 0.2 Propagators Requirement - API"
The  Propagators API needs to created, using [The Propagators API OpenTelemetry Specification](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/api-propagators.md) as reference.

[2019-10-03 02:45] bobstrecansky opened #13 "Alpha 0.2 Tracing Requirement - API"
The Tracing API needs to created, using [The Tracing API OpenTelemetry Specification](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/api-tracing.md) as reference.

[2019-10-03 02:47] bobstrecansky opened #14 "Alpha 0.2 Sampling Requirement - API"
The Sampling API needs to created, using [The Sampling API OpenTelemetry Specification](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/api-sampling.md) as reference.

[2019-10-03 02:47] bobstrecansky opened #15 "Alpha 0.2 Metrics Requirement - API"
The Metrics API needs to created, using [The Metrics API OpenTelemetry Specification](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/api-metrics.md) as reference.

[2019-10-12 12:28] bobstrecansky commented on #3
This has since been completed and improved on!  https://github.com/open-telemetry/opentelemetry-php/pull/18

[2019-10-12 12:28] #3 closed

[2019-10-15 14:23] subnova opened #19 "ccccccigefbbidbtivvrllkuvndubdnhckdjikidniuc"

[2019-10-16 13:54] bobstrecansky commented on #19
I think this was opened inadvertently @subnova ?  Closing.

[2019-10-23 17:43] bobstrecansky commented on #15
@morrisonlevi

[2019-10-23 17:44] bobstrecansky commented on #13
This should be completed and will be merged in.

[2019-10-23 17:44] #13 closed

[2019-11-06 14:09] bobstrecansky opened #21 "Correct type for __construct Span parameter"
@morrisonlevi mentioned that the correct type for this Span parameter is ?SpanContext:

https://github.com/open-telemetry/opentelemetry-php/pull/18/files#diff-fb862e90b17f754862ac86b494ddb0a4R22

Success Criteria: Update the Span parameter.

[2019-11-06 14:11] bobstrecansky opened #22 "Span Exporter - Export & Shutdown"
@morrisonlevi mentioned we should follow the spec closely for the Span Exporter.  More context here:

https://github.com/open-telemetry/opentelemetry-php/pull/18/files#diff-c41dd857f8a82514dd10ee4033caaf0aR12

Success Criteria: Following the spec for the Span Exporter.

[2019-11-11 22:14] bobstrecansky opened #24 "Enable Travis CI for our repository"
Before opening a feature request against this repo, consider whether the feature should/could be implemented in the [other OpenTelemetry client libraries](https://github.com/open-telemetry). If so, please [open an issue in opentelemetry-specification](https://github.com/open-telemetry/opentelemetry-specification/issues/new) first.

**Is your feature request related to a problem?**
It is not.  We'd

[2019-11-15 15:18] bobstrecansky opened #26 "Enable Phan for our repository"
**Describe the solution you'd like**
We should run static analysis on the code that we write.

**Describe alternatives you've considered**
None.

[2019-11-15 18:55] bobstrecansky commented on #26
PR open for this: https://github.com/open-telemetry/opentelemetry-php/pull/27

[2019-11-15 20:57] VictorAvelar commented on #24
I will take this one.

[2019-11-15 21:59] #24 closed

[2019-11-17 19:11] lizthegrey commented on #4
How close are you to 0.1 even if not 0.2? We need to know to update the OpenTelemetry website so y'all can look good onstage on Tuesday. cc @austinlparker

[2019-11-17 19:13] lizthegrey commented on #4
How close are you to 0.1 even if not 0.2? We need to know to update the OpenTelemetry website so y'all can look good onstage on Tuesday. cc @austinlparker

[2019-11-17 20:28] austinlparker commented on #4
The website milestones are generated from GitHub data (see https://github.com/open-telemetry/community/issues/201), please update the milestones in this repo accordingly and ping me on this thread and I can force a website refresh.

[2019-11-19 03:17] bobstrecansky commented on #4
@lizthegrey - We are still a bit away from a 0.1 - the API is implemented, but we still could use a lot of participation.  We have had very little community involvement so far.

[2019-11-19 03:19] bobstrecansky commented on #4
@austinlparker - I've updated the milestones! Thanks for the insight.

[2019-12-04 21:42] AustinSchoen commented on #21
I looked over the Spec again, and it seems like this is not an optional parameter? Seems like every span should have an accompanying SpanContext?

[2019-12-05 20:45] bobstrecansky commented on #21
I would think that should be the case.

[2019-12-10 18:49] bobstrecansky commented on #26
This has been completed: https://github.com/open-telemetry/opentelemetry-php/pull/27

[2019-12-10 18:49] #26 closed

[2019-12-10 18:49] #22 closed

[2019-12-10 18:52] bobstrecansky commented on #21
I discussed this with Austin; we don't believe that this should be an optional parameter: https://github.com/open-telemetry/opentelemetry-php/blob/master/src/Tracing/Span.php#L39

[2019-12-10 18:52] #21 closed

[2019-12-10 18:56] bobstrecansky commented on #14
We have done the Always and Never Sample steps for this issue
https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/sdk-tracing.md#built-in-samplers

We can see these implemented here: https://github.com/open-telemetry/opentelemetry-php/pull/30

We still need to implement the AlwaysParent and Probability Samplers.  We have not done this yet because at the time of

[2020-01-13 16:09] bobstrecansky commented on #15
We are waiting until the metrics spec is finalized until we start working on this.  Very happy to have someone pick it up and perform an initial spike if you'd like to!

[2020-02-03 18:05] Wizofgoz commented on #12
I've started some work on this, just waiting for #56 to be merged in and I can make a PR.

[2020-02-03 20:48] bobstrecansky commented on #12
@Wizofgoz - that PR is merged; you should be good to go.

[2020-02-11 19:54] astorm opened #60 ""Hello World" Examples dont' Work."
**Describe your environment**

The docker-compose.yaml file in this repo, running on a MacOS docker host.  The master branch as of today.

**Steps to reproduce**
1. [Fix a few bugs in the sample code](https://github.com/open-telemetry/opentelemetry-php/pull/59)

2. Changed sample code to use http://127.0.0.1 instead of `zipkin` as hostname (or make a local host entry that points the name `zipkin`

[2020-02-13 04:03] astorm commented on #60
@bobstrecansky @beniamin Hello!  I noticed you two showed up on the git ~blame~ show-me-who-did-this list for the docker-composer.yaml file.  If you have a moment, could you comment on the above?  Am I misunderstanding the intent of the php/zipkin containers and how they should interact, or is this a legit bug that should be fixed (and that you'd accept a PR for?)

[2020-02-13 04:15] bobstrecansky commented on #60
@astorm - just tried this out myself.  I performed the following steps:

[code]

I was then able to see the traces at http://localhost:9411/

Screenshot of this process attached.  I'm wondering if it's a MacOS thing?  Getting out my MacOS laptop to test this out as well.

![AlwaysOnTraceExample](https://user-images.githubusercontent.com/4099109/74400893-798b9480-4ded-11ea-9827-81c1ba1c2fa6.png)

[2020-02-13 04:21] bobstrecansky commented on #60
Seeing the same thing on my MacOS laptop (Catalina):

[code]

<img width="1043" alt="image" src="https://user-images.githubusercontent.com/4099109/74401151-6a591680-4dee-11ea-8db8-4e7e46de4266.png">

[2020-02-13 05:23] astorm commented on #60
Ah, thank you for the exercise.  That was useful.  I think I see my misunderstanding and I will say it out loud for the future folks googling around. Closing this out.

I had initially done a `docker-compose up`, tried to run the example programs _with my locally installed PHP_, and [ran into the errors/oversights I saw here](https://github.com/open-telemetry/opentelemetry-php/pull/59).  I also pr

[2020-02-13 05:23] #60 closed

[2020-02-13 12:20] bobstrecansky commented on #60
Not an interruption at all - you probably won't be the last person to see this workflow. We should document this in the README.

[2020-02-16 00:29] bobstrecansky commented on #60
I added more context about this in the README in this PR: https://github.com/open-telemetry/opentelemetry-php/pull/61

[2020-03-28 22:22] bobstrecansky opened #67 "Jager Exporter"
We'd like to be able to export metrics to Jaeger.  We can most likely use the [OpenCensus php exporter Jager](https://github.com/census-ecosystem/opencensus-php-exporter-jaeger) repo as a jumping point.

[2020-03-28 22:23] bobstrecansky commented on #67
Tagging @beniamin as he mentioned he's like to work on this (and I couldn't assign this task to him).

[2020-03-29 00:18] bobstrecansky opened #68 "explicit references for iterables"
https://github.com/open-telemetry/opentelemetry-php/pull/64#discussion_r399077390

We should be more explicit about our iterables in order to pass the correct reference.

[2020-03-29 13:24] bobstrecansky opened #69 "Zipkin zxamples do not work because of malformed timestamp format"
Our examples currently do not store any records to Zipkin due to malformed timestamp format caused by `OpenTelemetry\Sdk\Internal\Clock`

Success criteria - fix the timestamps so that we can successfully execute examples again.

[2020-03-29 18:37] lalex commented on #69
It seems the root of the error is in `ZipkinExporter` [specification](https://github.com/open-telemetry/opentelemetry-specification/blob/d21bdeb673c22d7e166bc667bccd77996824a49b/specification/exporter-zipkin.md#unit-of-time), where time has a float representation.
It also has a reference to a [zipkin.proto](https://github.com/openzipkin/zipkin-api/blob/master/zipkin.proto), it requires Timestamp a

[2020-03-29 22:49] bobstrecansky commented on #69
More information about the timestamp and duration can be found in the spec here:
https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/api-tracing.md#timestamp

@morrisonlevi mentioned we should bump the minimum PHP requirement to 7.3 and use the hrtime function in order to get the timestamps correct.

https://www.php.net/manual/en/function.hrtime.php

[2020-03-29 22:52] morrisonlevi commented on #69
This is also performance sensitive work, as we could potentially have two instances of whatever time format we choose per span. We should be sensitive to that while balancing usage and other concerns.

[2020-03-30 18:19] beniamin commented on #69
Also current implementation rounds the timestamp to milliseconds, but Zipkin expects microseconds. So instead of using round, the timestamp should be multiplied with 1000. I will fix this issue in https://github.com/open-telemetry/opentelemetry-php/pull/70

[2020-03-30 18:19] beniamin commented on #67
Started working on it in https://github.com/open-telemetry/opentelemetry-php/pull/70

[2020-03-31 14:47] bobstrecansky commented on #69
Sounds good.  Thanks @beniamin !

[2020-04-05 15:43] bobstrecansky commented on #14
This has been implemented here:
https://github.com/open-telemetry/opentelemetry-php/pull/66

[2020-04-05 15:43] #14 closed

[2020-04-05 15:45] bobstrecansky commented on #6
This has been completed.

[2020-04-05 15:45] #6 closed

[2020-04-05 15:49] #10 closed

[2020-04-05 15:52] #11 closed

[2020-04-05 15:55] bobstrecansky commented on #12
@Wizofgoz - looks like the propagators API has had some more additions since you completed your work.  Would you like to continue doown this road?  Updated spec:

https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/api-propagators.md

[2020-04-05 18:19] #69 closed

[2020-04-05 18:21] bobstrecansky opened #73 "Replace current time implementation with hrtime"
We'd like to replace our current time implementation with php's `hrtime` function.

https://www.php.net/manual/en/function.hrtime.php

Todo for this:

- [x] update dependencies to PHP 7.3
- [ ] replace current time implementation with calls to hrtime

[2020-04-08 08:28] beniamin commented on #67
I think this cand be closed since #70 was merged.

[2020-04-08 16:43] beniamin commented on #68
This request is implemented in #71

[2020-04-19 00:42] #67 closed

[2020-04-22 17:46] #68 closed

[2020-05-12 03:06] bobstrecansky opened #85 "Implement the shutdown function"
We should implement a `shutdown()` function

The specification defines the shutdown SDK as so: [shutdown](https://github.com/open-telemetry/opentelemetry-specification/blob/e0bd41739a92304c0be5d68840f434e281b5f8b2/specification/trace/sdk.md#shutdown)

We have a placeholder defined for this in a couple places in our codebase:

* our BatchSpanProcessor, defined [here](https://github.com/open-telemet

[2020-05-12 03:12] bobstrecansky commented on #73
Working through this first with https://github.com/open-telemetry/opentelemetry-php/pull/83

[2020-05-12 03:21] bobstrecansky opened #86 "Implement the ShouldSample decision as a function of the TraceID"
The specification for this is [ready](https://github.com/open-telemetry/opentelemetry-specification/blob/e0bd41739a92304c0be5d68840f434e281b5f8b2/specification/trace/sdk.md#shouldsample)

We should update our implementation accordingly [here](https://github.com/open-telemetry/opentelemetry-php/blob/master/sdk/Trace/ProbabilitySampler.php#L50)

Success criteria - update the `shouldSample` function

[2020-05-12 03:28] bobstrecansky opened #87 "Implement SpanKind"
The SpanKind method needs to be set in the SDK.  The specification document for this lives [here](https://github.com/open-telemetry/opentelemetry-specification/blob/bdf39cb935a6f48badc687daeb78a66dc352761f/specification/trace/api.md#spankind)

Our placeholder for this function lives [here](https://github.com/open-telemetry/opentelemetry-php/blob/master/sdk/Trace/SpanOptions.php#L38)

Success crite

[2020-05-12 03:44] bobstrecansky opened #88 "Correlations API"
We should follow the spec for the correlations API found [here](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/correlationcontext/api.md)

Success criteria - implement the correlations API as found in the specification.

[2020-05-12 03:46] bobstrecansky opened #89 "Propegators API"
We should implement the Propagators API

The Spec for this API is found [here](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/context/api-propagators.md)

Success criteria - implement the propagators API according to the spec.

[2020-05-14 00:30] #87 closed

[2020-05-14 00:30] bobstrecansky commented on #87
This has been completed in https://github.com/open-telemetry/opentelemetry-php/pull/79 and our examples are fixed in https://github.com/open-telemetry/opentelemetry-php/pull/82

[2020-05-18 21:42] bobstrecansky opened #92 "Implement the resource provider"
We need to implement the (newly created) resource provider:

https://github.com/open-telemetry/opentelemetry-specification/blob/27e5c89075d3eeb5981e79bf8ab94d78aea5481d/specification/resource/sdk.md#resource-sdk

This was recently added to the specification and our code should follow along with this.

[2020-05-18 21:43] bobstrecansky opened #93 "Implement the Samplers"
the sampler bits never get used in the SDK.  They are implemented and tested, but nothing currently uses them.   Implement the sampler into the tracer and trace provider.

[2020-05-21 02:05] bobstrecansky commented on #88
I started stubbing out the API definition for this [here](https://github.com/open-telemetry/opentelemetry-php/pull/95)

[2020-05-21 02:24] bobstrecansky opened #96 "Implement Context"
We have not yet implemented Context.  The spec for context can be found [here](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/context/context.md)

It is unclear where this should live. Python implements it in the [api](https://github.com/open-telemetry/opentelemetry-python/tree/master/opentelemetry-api/src/opentelemetry/context)

[2020-05-27 21:43] bobstrecansky commented on #96
I've moved this to a milestone so that we can easily track a bunch of issues in this milestone.  That milestone lives [here](https://github.com/open-telemetry/opentelemetry-php/milestone/4)

[2020-05-27 21:43] #96 closed

[2020-05-27 21:53] bobstrecansky opened #102 "Context Implementation - Create the Data Structure in the Overview"
The [Overview](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/context/context.md#overview) of the context specification explains to us what a Context is supposed to contain for the OpenTelemetry API.  As far as I'm aware, PHP does not have something like this out of the box, so we'll have to implement it.

This object needs to be an immutable object, so I'd

[2020-05-27 21:58] bobstrecansky opened #103 "Context Implementation API - Creating a Key"
We should be able to create a key within a `Context` object.

The spec describes this particular feature [here](
https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/context/context.md#create-a-key)

Success criteria - this function must return an opaque object representing the newly created key.

*note* - We need to have https://github.com/open-telemetry/opentel

[2020-05-27 22:00] bobstrecansky opened #104 "Context Implementation API - Getting a Value"
We should be able to get a value within a `Context` object.

The spec describes this particular feature [here](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/context/context.md#get-value)

Success criteria - The API MUST return the value in the Context for the specified key.

*note* - We need to have https://github.com/open-telemetry/opentelemetry-php/issue

[2020-05-27 22:03] bobstrecansky opened #105 "Context Implementation API - Setting a Value"
We should be able to set a value within a `Context` object.

The spec describes this particular feature [here](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/context/context.md#set-value)

Success criteria - The API MUST return a new Context containing the new value.

*note* - We need to have https://github.com/open-telemetry/opentelemetry-php/issues/102 Co

[2020-05-27 22:08] bobstrecansky opened #106 "Context Implementation - Global Operations - Get Current Context"
Because we are implicitly implementing the Context feature for OpenTelemetry-php, we need to make sure that we have the global operations that we are expected to have for the API.  These operations are listed [here](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/context/context.md#optional-global-operations).

This ticket specifically covers the ability to

[2020-05-27 22:11] bobstrecansky opened #107 "Context Implementation - Global Operations - Attach Context"
Because we are implicitly implementing the Context feature for OpenTelemetry-php, we need to make sure that we have the global operations that we are expected to have for the API.  These operations are listed [here](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/context/context.md#optional-global-operations).

This ticket specifically covers the ability to

[2020-05-27 22:14] bobstrecansky opened #108 "Context Implementation - Global Operations - Detatch Context"
Because we are implicitly implementing the Context feature for OpenTelemetry-php, we need to make sure that we have the global operations that we are expected to have for the API.  These operations are listed [here](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/context/context.md#optional-global-operations).

This ticket specifically covers the ability to

[2020-05-28 21:04] beniamin commented on #89
I think this issue was already resolved in https://github.com/open-telemetry/opentelemetry-php/pull/57

[2020-05-28 22:49] bobstrecansky commented on #89
I think you're right.  Closing.

[2020-05-28 22:49] #89 closed

[2020-05-31 19:53] bobstrecansky commented on #102
I believe that @michaelorr has started working towards this goal.

[2020-05-31 20:32] michaelorr commented on #102
That's right. This would be the underlying data storage mechanism for the `CorrelationContext` I hope to have a WIP PR open early next week for discussion. I don't have permissions to change the "assignee" of the Issue but if someone else wants to set it to me, that would be alright by me.

[2020-06-03 21:54] bobstrecansky commented on #108
This will be solved with https://github.com/open-telemetry/opentelemetry-php/pull/111

[2020-06-03 21:54] bobstrecansky commented on #107
This will be solved with https://github.com/open-telemetry/opentelemetry-php/pull/111

[2020-06-03 21:54] bobstrecansky commented on #106
This will be solved with https://github.com/open-telemetry/opentelemetry-php/pull/111

[2020-06-03 21:54] bobstrecansky commented on #105
This will be solved with https://github.com/open-telemetry/opentelemetry-php/pull/111

[2020-06-03 21:54] bobstrecansky commented on #104
This will be solved with https://github.com/open-telemetry/opentelemetry-php/pull/111

[2020-06-03 21:54] bobstrecansky commented on #103
This will be solved with https://github.com/open-telemetry/opentelemetry-php/pull/111

[2020-06-05 02:56] bobstrecansky opened #113 "Implement a Meter Interface"
We need to implement a meter interface, as defined in:
https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/metrics/api.md#meter-interface

Success criteria: Creating a Meter Interface in the API.

[2020-06-05 03:00] bobstrecansky opened #114 "Creating a MeterProvider API"
We need to implement a MeterProvider, as perscribed in:
https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/metrics/api.md#meter-provider

Success criteria - Creating a MeterProvider Implementation in the API and tying it to the eventual SDK.  This part is slightly ambiguous with the documentation, so it may be best to look at other SIG implementations for inspi

[2020-06-06 12:23] bobstrecansky opened #115 "Associating Spans with their TracerProvider"
In [The Initial Resource SDK PR](https://github.com/open-telemetry/opentelemetry-php/pull/101), @lalex added the Resource SDK to Tracer and TracerProvider. The spec states:

This issue is to track the work of associating Spans with their TracerProvider.

[2020-06-06 12:24] bobstrecansky commented on #92
This issue can be closed when #101 is merged.

[2020-06-06 12:35] bobstrecansky opened #116 "Implement a Counter Instrument for the Metrics API"
We would like to implement a Counter Instrument for the Metrics API.  The spec for the counter API is defined at the following URL:

https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/metrics/api.md#counter

[2020-06-06 12:38] bobstrecansky opened #117 "Implement an UpDownCounter Instrument for the Metrics API"
We would like to implement an UpDownCounter Instrument for the Metrics API.   The spec for the UpDownCounter API is defined at the following URL:

https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/metrics/api.md#updowncounter

[2020-06-06 12:40] bobstrecansky opened #118 "Implement a ValueRecorder Instrument for the Metrics API"
We would like to implement a ValueRecorder Instrument for the Metrics API.  The spec for the ValueRecorder API is defined at the following URL:

https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/metrics/api.md#valuerecorder

[2020-06-06 12:49] bobstrecansky opened #119 "Implement a SumObserver Instrument for the Metrics API"
We would like to  Implement a SumObserver Instrument for the Metrics API.  The spec for the SumObserver API is defined at the following URL:

https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/metrics/api.md#sumobserver

[2020-06-06 12:50] bobstrecansky opened #120 "Implement an UpDownSumObserver Instrument for the Metrics API"
We would like to Implement an UpDownSumObserver Instrument for the Metrics API. The spec for the UpDownSumObserver API is defined at the following URL:

https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/metrics/api.md#sumobserver

[2020-06-06 12:51] bobstrecansky opened #121 "Implement a ValueObserver Instrument for the Metrics API"
We would like to Implement a ValueObserver Instrument for the Metrics API. The spec for the ValueObserver API is defined at the following URL:

https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/metrics/api.md#valueobserver

[2020-06-06 13:01] bobstrecansky opened #122 "Add Code Of Conduct"
We'd like to add a code of conduct.

[2020-06-06 13:09] bobstrecansky commented on #122
This is implemented with https://github.com/open-telemetry/opentelemetry-php/pull/123

[2020-06-06 13:17] bobstrecansky opened #124 "Current Breakdown of Project Status"
We'd like to break down the current project status.

Breakdown of features/high-level implementation status indicators.  I'm going to propose the following:

✅️ - checkmarks for things that have been completed.
🔴️ - circles for things that have not been started yet.
⚠️ - warning symbols for things that are still in flux.

These should most likely be included in the [README.md file](https://github.

[2020-06-08 18:38] #85 closed

[2020-06-16 01:58] #122 closed

[2020-06-21 04:38] atrauzzi opened #130 "Feature - OpenTelemetry Exporter"
It probably goes without saying that every OpenTelemetry library should should ship an OpenTelemetry exporter. :smile:

The benefit to the PHP library in this would be that at some point, pure OpenTelemetry configurations are going to be possible, and desirable. Having an "ecosystem-native" exporter ensures that the PHP library doesn't contribute any delay towards widespread adoption.
It also help

[2020-06-26 13:53] bobstrecansky commented on #130
@atrauzzi - are you planning on working on this effort?

[2020-06-27 01:15] atrauzzi commented on #130
I'm not sure I'd be the best person for it as I'm not intimately familiar with what's involved.

[2020-06-29 22:16] Brandon-Kimberly opened #135 "Proposal: Use GitHub Actions for CI/CD"
This issue is in reference to [issue 398](https://github.com/open-telemetry/community/issues/398) posted on the community repository. In this issue, we are proposing that all OpenTelemetry repositories *consider* using GitHub Actions as their CI provider in order to maintain consistency across the various language repositories.

The overall proposal was discussed in the OpenTelemetry maintainers S

[2020-07-01 17:54] Fahmy-Mohammed commented on #113
I've started work on this.

[2020-07-04 16:29] bobstrecansky commented on #73
This should be a relatively low lift ticket, and would be good for someone who is trying to get acclimated with the codebase.

We went though and replaced string instances of time with integer times.  Plumbing was also created to use a monotonic timer for Span duration, but has not yet been implemented.

[2020-07-04 16:55] bobstrecansky opened #138 "Implement AddLazyEvent"
We need to implement AddLazyEvent [here](https://github.com/open-telemetry/opentelemetry-php/blob/master/api/Trace/Span.php#L68)

More implementation details about LazyEvents in the API can be found in the specification [here](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/api.md#add-events)

Success Criteria : Implement lazy events as prescribed by t

[2020-07-04 17:27] bobstrecansky opened #139 "Implement Attributes and Links in the Samplers"
We have a TODO in the Trace Samplers to hook up attributes and links to our samplers.

https://github.com/open-telemetry/opentelemetry-php/blob/master/sdk/Trace/Sampler/AlwaysOnSampler.php#L34
https://github.com/open-telemetry/opentelemetry-php/blob/master/sdk/Trace/Sampler/ProbabilitySampler.php#L48
https://github.com/open-telemetry/opentelemetry-php/blob/master/sdk/Trace/Sampler/AlwaysParentSamp

[2020-07-04 17:29] bobstrecansky opened #140 "Only spans with SampleFlag == True should be exported"
We need to only export spans that have a `SampleFlag == True`.  This is located at the following [todo](https://github.com/open-telemetry/opentelemetry-php/blob/master/sdk/Trace/SpanProcessor/SimpleSpanProcessor.php#L41).

Success criteria: implement this flagging logic

[2020-07-04 17:47] bobstrecansky opened #141 "Finish the isRemote function"
Currently the `isRemote` function just returns false:
https://github.com/open-telemetry/opentelemetry-php/blob/master/sdk/Trace/Span.php#L183-L191

More details about `isRemote` can be found in the SpanContext section of the spec:
[SpanContext](https://github.com/open-telemetry/opentelemetry-specification/blob/4daee3af756be75edbd17085f6d382d963027bc8/specification/trace/api.md#spancontext)

Succes

[2020-07-04 18:04] bobstrecansky opened #142 "Implement the setSpanKind Method"
The [specification for SpanKind](
https://github.com/open-telemetry/opentelemetry-specification/blob/4daee3af756be75edbd17085f6d382d963027bc8/specification/trace/api.md#spankind) has been firmed up, so we should implement the setSpanKind method.

Success criteria:  Implement the SpanKind method as defined [here](https://github.com/open-telemetry/opentelemetry-php/blob/master/sdk/Trace/SpanOptions.

[2020-07-07 11:44] wRLSS commented on #139
I would suggest to migrate `SpanKind` to a better ValueObject solution using
https://github.com/myclabs/php-enum

[2020-07-07 11:51] wRLSS commented on #142
I would suggest to migrate `SpanKind` to a better Enum solution
https://github.com/myclabs/php-enum

[2020-07-07 13:22] bobstrecansky commented on #142
@wRLSS - Would you like to create a PR to show this?

[2020-07-07 13:23] #135 closed

[2020-07-09 14:48] wRLSS commented on #140
this can be closed btw

[2020-07-10 13:11] #140 closed

[2020-07-10 13:11] bobstrecansky commented on #140
Thanks @wRLSS !

[2020-07-10 13:12] bobstrecansky commented on #141
@michaelorr is working on this.

[2020-07-10 19:31] bobstrecansky commented on #130
@atrauzzi - were you referring to [this](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/protocol/README.md) or were you referring to something else?

[2020-07-13 01:26] artem-prozorov commented on #142
@bobstrecansky I would gladly contribute and start with this issue. Would you grant me access to make a PR?

[2020-07-13 01:28] bobstrecansky commented on #142
@artem-prozorov - you should be able to access this and make a PR in the current state! If you can't make a PR for some reason, please let me know and I'll work with you to ensure you have the ability to!

[2020-07-14 05:48] artem-prozorov opened #148 "Make changes to examples"
1. https://github.com/open-telemetry/opentelemetry-php/blob/master/examples/AlwaysOnTraceExample.php - this one doesn't send anything to local zipkin instance because SpanContext is generated here with this method https://github.com/open-telemetry/opentelemetry-php/blob/master/sdk/Trace/SpanContext.php#L83 and so property sampled is set to false and sending results is interrupted here: https://git

[2020-07-14 08:02] artem-prozorov commented on #148
Hi!
I see some inconsistency in API. According to the examples, the decision about whether the span is a sample or not is made by `OpenTelemetry\Sdk\Trace\Sampler`. But once the decision is made, there is no way to pass the decision to a Span.
In the example we generate a Span with `$span = $tracer->startAndActivateSpan('session.generate.span.' . time());` and it always sets `sample` to false, ins

[2020-07-15 15:30] artem-prozorov commented on #139
I'm not sure I understood the issue correctly, but anyway here is my PR :)

[2020-07-15 16:21] #142 closed

[2020-07-16 09:01] artem-prozorov commented on #7
Can I take this one?

[2020-07-16 09:04] mattiabasone opened #151 "Sampled flag should be exported to child span during fork operation"
**Steps to reproduce**
Create a Tracer (manually, since you cannot create a Tracer from TracerProvider with isSampled flag) with a SpanContext having isSampled = true.
When you try to add additional sub-spans, they will not be exported.

**What is the expected behavior?**
Child span, forked from sampled parent, should be sampled too

**What is the actual behavior?**
Child span will not be exported

[2020-07-16 13:14] artem-prozorov commented on #151
Yes, I mentioned this in https://github.com/open-telemetry/opentelemetry-php/issues/148

[2020-07-16 15:08] bobstrecansky commented on #7
You sure can!  I know @Fahmy-Mohammed started work on the meter interface, but I don't think that should preclude you from working on any of the other pieces of this!  Issue for reference:

https://github.com/open-telemetry/opentelemetry-php/issues/113

[2020-07-16 19:03] #139 closed

[2020-07-17 05:39] artem-prozorov commented on #7
@bobstrecansky I need some consultation, I haven't found term "MetricsProcessor" in the spec https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/metrics/api.md
Did you mean Metrics Provider ?
https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/metrics/api.md#meter-provider

[2020-07-17 13:34] bobstrecansky commented on #7
@artem-prozorov - Correct.  This spec has changed since this ticket was created.  The general gist of this ticket is to get Metrics ready for a 0.2 release.  The [project status](https://opentelemetry.io/project-status/) also changed a bit, so the 0.2 release doesn't need to contain a metrics package.  This means the name of this ticket should probably also be changed to Alpha 0.3 Metrics Requirem

[2020-07-17 13:36] artem-prozorov commented on #7
Got it, thanks

[2020-07-17 13:39] bobstrecansky commented on #7
Sure thing!  If you have any questions, feel free to ask here or in the [gitter channel](https://gitter.im/open-telemetry/opentelemetry-php)!

[2020-07-20 10:33] mattiabasone commented on #151
Temporarily I'm using [this](https://github.com/mattiabasone/opentelemetry-php/commit/7e6591f5946516b5e4b6db4a8e49ad41392c31bd) solution and starting a Tracer manually (not using auto generated Tracer by TracerProvider)

[2020-07-20 20:44] zsistla commented on #116
I'm working on this.

[2020-07-21 16:49] #151 closed

[2020-07-24 11:19] lazyprogram opened #156 "Traces are not exported to Zepkin or Jaeger"
I tried to run the examples given. After cloning the repo, I tried `make install` and `make examples`. It ran as expected and I got the following result

[code]

**What is the expected behavior?**
See the traces in Zepkin or Jaeger

**What is the actual behavior?**
There are no traces in http://localhost:9411/zipkin/ or http://localhost:16686/search

Following is my PHP Version.
`PHP 7.3.11 (cli)

[2020-07-27 04:56] zsistla commented on #116
It looks like Artem is already working on this in his PR, so I'll work on something else.

[2020-07-27 04:57] zsistla commented on #117
I've uploaded a PR for this.

[2020-07-27 05:26] zsistla commented on #118
I am working on this one now.

[2020-07-28 13:01] atrauzzi commented on #130
Something like this: https://github.com/open-telemetry/opentelemetry-dotnet/blob/master/src/OpenTelemetry.Exporter.OpenTelemetryProtocol/README.md

[2020-07-28 19:28] bobstrecansky commented on #130
I think it may be worth it to wait until the spec is hashed out to implement this.  Thoughts?

[2020-07-29 02:45] atrauzzi commented on #130
Definitely logic to that. Also gives this library a chance to settle on its API.

[2020-07-30 07:00] artem-prozorov commented on #104
https://github.com/open-telemetry/opentelemetry-php/pull/111 is merged, we can close this one I guess?

[2020-07-30 07:01] artem-prozorov commented on #114
@bobstrecansky I'll take this one

[2020-07-30 09:42] bobstrecansky commented on #104
Yup, thanks!

[2020-07-30 09:42] #104 closed

[2020-07-30 14:53] artem-prozorov commented on #148
Temp fix for example is here https://github.com/open-telemetry/opentelemetry-php/pull/159

[2020-08-02 16:11] artem-prozorov commented on #114
@bobstrecansky hey I just realized this task has already been coompleted in this PR: https://github.com/open-telemetry/opentelemetry-php/pull/155

MeterProvider: https://github.com/open-telemetry/opentelemetry-php/blob/884648cfd5d75553b4af77ba0a076288372897b2/sdk/Metrics/Providers/MeterProvider.php
GlobalMeterProvider: https://github.com/open-telemetry/opentelemetry-php/blob/884648cfd5d75553b4af77

[2020-08-02 16:12] artem-prozorov commented on #113
@Fahmy-Mohammed Hi, any news on this issue?

[2020-08-02 21:45] bobstrecansky commented on #114
Sounds good to me!

[2020-08-03 17:17] #156 closed

[2020-08-05 17:47] bobstrecansky commented on #118
This should be ready and can be merged after #155 is merged.

[2020-08-05 17:47] bobstrecansky commented on #117
This should be ready and can be merged after #155 is merged.

[2020-08-05 17:47] bobstrecansky commented on #116
@artem-prozorov assigning this to ya.

[2020-08-05 17:48] bobstrecansky commented on #116
For some reason it won't let me assign Artem; but we know he is working on this.

[2020-08-05 17:50] bobstrecansky commented on #113
Talked to Amber in our SIG meeting today; Fahmy is on vacation this week but is almost completed with the work on this PR.  Amber said to expect some information next week.

[2020-08-09 13:00] bobstrecansky commented on #130
The OTEP maintainers are discussing this now: https://github.com/open-telemetry/opentelemetry-specification/pull/699

[2020-08-12 14:51] bobstrecansky commented on #93
@morrisonlevi - are you still planning on working on this?

[2020-08-12 14:52] #108 closed

[2020-08-12 14:52] #107 closed

[2020-08-12 15:18] bobstrecansky opened #162 "Probability Sampler for Tracer"
At the time of working through #14 , the probablity sampler wasn't hashed out.  There is now more information on this probability sampler:

https://github.com/open-telemetry/opentelemetry-specification/blob/bc272ab52869df2145065d55300d721ff008e34b/specification/trace/sdk.md#probability

Success criteria: Implement the probability sampler for the tracer.

[2020-08-12 15:18] bobstrecansky commented on #162
@zsistla is going to be working on this.

[2020-08-12 18:25] artem-prozorov commented on #116
@bobstrecansky I think this one can be closed, the Counter has been implemented

[2020-08-12 18:45] #116 closed

[2020-08-18 14:36] #148 closed

[2020-08-18 14:37] bobstrecansky commented on #117
This has been completed with #157

[2020-08-18 14:37] #117 closed

[2020-08-18 14:39] bobstrecansky commented on #113
@artem-prozorov made a stub for this [here](https://github.com/open-telemetry/opentelemetry-php/blob/master/sdk/Metrics/Meter.php) and @Fahmy-Mohammed mentioned his PR was almost ready for review.

[2020-08-18 14:39] bobstrecansky commented on #106
This has been merged.

[2020-08-18 14:39] #106 closed

[2020-08-18 14:39] bobstrecansky commented on #105
This has been merged.

[2020-08-18 14:39] #105 closed

[2020-08-18 14:39] bobstrecansky commented on #103
This has been merged.

[2020-08-18 14:39] #103 closed

[2020-08-18 14:40] bobstrecansky commented on #102
This has been completed with #137

[2020-08-18 14:40] #102 closed

[2020-08-18 14:42] bobstrecansky commented on #88
This has been completed.

[2020-08-18 14:42] #88 closed

[2020-08-18 14:42] bobstrecansky commented on #73
This has been completed with #153

[2020-08-18 14:42] #73 closed

[2020-08-18 14:43] bobstrecansky commented on #92
This has been completed.

[2020-08-18 14:43] #92 closed

[2020-08-18 14:43] bobstrecansky commented on #118
This has been completed with #158

[2020-08-18 14:43] #118 closed

[2020-08-18 18:11] Fahmy-Mohammed commented on #113
Apologies for the delay. PR is ready for a look 👍🏾

[2020-08-19 18:17] jodeev commented on #5
There is one remaining outstanding piece of work to be closed: https://github.com/open-telemetry/opentelemetry-php/issues/162

[2020-08-20 10:12] adhocore opened #166 "Should we do a 0.x version release?"
It may be too early for v1.x release but till then should we just tag some releases in 0.x or 0.0.x versions?

Maybe, then we may not need `"minimum-stability": "dev"`

[2020-08-20 10:42] artem-prozorov commented on #114
Looks like this one can be closed

[2020-08-20 17:45] bobstrecansky commented on #166
@adhocore - we are currently one ticket away from an alpha viable 0.2 release -
https://github.com/open-telemetry/opentelemetry-php/issues/162

We will most likely create our first release after that PR has been completed and merged.

[2020-08-20 19:41] #114 closed

[2020-08-20 20:03] tigrannajaryan opened #167 "Populate implementation/spec compliance matrix"
In order to have a better understanding of where we stand in terms of implementing OpenTelemetry specification in various language SDKs we would like to have a compliance matrix that shows which features are implemented in which languages.

This will show how much work is remaining and tell us far away are we from being ready for GA.

The matrix is located here: https://github.com/open-telemetry/o

[2020-08-23 19:41] bobstrecansky commented on #167
Thanks @tigrannajaryan - I'm planning on populating this in the upcoming week.

[2020-08-25 19:43] bobstrecansky commented on #124
I filled in the spec-compliance-matrix in https://github.com/open-telemetry/opentelemetry-php/issues/167 - I am going to add a link to this from our repo as well as a better description of the current status.

[2020-08-26 15:50] #167 closed

[2020-09-02 17:25] codeboten commented on #130
The OTLP exporter is now part of the spec: https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/protocol/exporter.md

[2020-09-04 17:33] flands opened #172 "Remove non-inclusive comments from code"
**Is your feature request related to a problem?**

Non-inclusive language found in comments:

[code]

**Describe the solution you'd like**
Remove non-inclusive language

**Describe alternatives you've considered**
Which alternative solutions or features have you considered?

**Additional context**
Add any other context about the feature request here.

[2020-09-15 19:03] bobstrecansky opened #174 "Naming Updates"
To follow the spec, we should apply naming updates that were added to the specification:

Spec updates to apply for each language:
HTTPText propagator renamed to TextMap propagator (https://github.com/open-telemetry/opentelemetry-specification/pull/793)
ProbabilitySampler renamed to TraceIdRatioBased (https://github.com/open-telemetry/opentelemetry-specification/pull/611)
ParentOrElse renamed to P

[2020-09-16 07:12] SergeyKanzhelev opened #175 "PHP Exporter Development"
This issue is features as a [Community Bridge](https://github.com/cncf/mentoring/blob/master/communitybridge/2020/q3-q4/project_ideas.md#opentelemetry-to-fluentbit-exporter) project for Q3-Q4 2020.

Develop some of the exporters for PHP that are found in the ([Spec Compliance Matrix](https://github.com/open-telemetry/opentelemetry-specification/blob/master/spec-compliance-matrix.md#exporters)) tha

[2020-09-16 17:51] prondubuisi opened #176 "Update Zoom link in readme"
**Describe the solution you'd like**
 Tried Joining the call with the link from the calendar on the readme, looks like the link has moved to https://zoom.us/j/8287234601

[2020-09-16 18:49] xukaren commented on #176
I'll get to work on this!
cc: @alolita

[2020-09-17 04:54] xukaren commented on #176
Fixed
(cc: @alolita)

[2020-09-17 05:14] prondubuisi commented on #176
I should be closing this now. Thanks @xukaren

[2020-09-17 05:14] #176 closed

[2020-09-18 05:46] codeboten commented on #138
This issue can probably be closed as per the spec change to remove lazy events from the API https://github.com/open-telemetry/opentelemetry-specification/pull/840

[2020-09-19 04:55] prondubuisi commented on #174
Hello @bobstrecansky I did not see any instances of  ParentOrElse in the codebase, any pointers on this? so I can send in a PR for ParentOrElse renamed to ParentBased (open-telemetry/opentelemetry-specification#610)

[2020-09-20 05:47] beniamin commented on #174
@prondubuisi what you are looking for is AlwaysParentSampler which was renamed in the specifications to ParentOrElse in this commit: https://github.com/open-telemetry/opentelemetry-specification/commit/f9aabe2cb1cd6b329cf61375447d97a87113a84f#diff-c078fe79eabe5405ec976253a76d9de0

[2020-09-20 06:03] prondubuisi commented on #174
Super thanks @beniamin I appreciate your help

[2020-09-21 02:23] prondubuisi commented on #174
Looks like the latest Spec for this is renaming ParentOrElse  to ParentBased, I will update my PR to reflect this

[2020-09-21 02:25] prondubuisi commented on #174
Looks like the latest Spec for this is renaming ParentOrElse to ParentBased, I will update my PR to reflect this

[2020-09-21 02:47] prondubuisi commented on #174
OTLP exporter unified configuration for Tracing/Metrics (open-telemetry/opentelemetry-specification#820)
Hello @beniamin @bobstrecansky I need help with understanding how to implement this specs on the codebase

[2020-09-21 05:04] riticksingh commented on #175
Sir , I am interested in this very project .

[2020-09-21 07:21] SergeyKanzhelev commented on #175
@riticksingh welcome and thanks for the interest! If you want to contribute as a part of a Community Bridge, please register on Community Bridge site. There is a limited set of spots every quarter and there is an interview process to fill the spot.

[2020-09-21 15:29] prondubuisi commented on #174
Hello@bobstrecansky are we skipping some of the tasks for this issue? as tasks From point 4 are still undone

[2020-09-21 15:56] bobstrecansky commented on #174
@prondubuisi - I was assuming you were still looking into them.  I closed this inadvertently; my apologies.  Reopening.

[2020-09-21 15:56] bobstrecansky commented on #174
The OTLP exporter has not yet been written.  I am planning on actively looking into that this week.  That can be tracked with this ticket:
https://github.com/open-telemetry/opentelemetry-php/issues/130

[2020-09-21 18:28] prondubuisi commented on #174
No problems @bobstrecansky I was just curious, maybe my PR's Magically solved every task mentioned. Thanks for reopening.

[2020-09-21 21:59] shovnik commented on #86
Hi, can I work on this issue? - cc @alolita

[2020-09-22 06:19] bobstrecansky commented on #86
You certainly may work on this issue!  Feel free to open a PR to the repo when ready.

[2020-09-22 12:36] bobstrecansky commented on #138
Thanks @codeboten ! Closing.

[2020-09-22 12:36] #138 closed

[2020-09-22 12:37] bobstrecansky commented on #113
Fahmy completed this work in https://github.com/open-telemetry/opentelemetry-php/pull/165, closing this ticket.

[2020-09-22 12:37] #113 closed

[2020-09-22 12:48] bobstrecansky opened #181 "Ensure the TraceContext conforms to the W3C TraceContext spec"
We should ensure that our TraceContext implementation follows the [w3c trace context specification](https://github.com/w3c/trace-context)

@Fahmy-Mohammed mentioned that he wanted to start working through this I believe.

[2020-09-22 12:59] bobstrecansky commented on #130
The specification for OTLP is found [here](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/protocol/otlp.md)

The specification for the exporter is found [here](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/protocol/exporter.md)

[2020-09-22 19:45] prondubuisi commented on #175
Hello @SergeyKanzhelev @bobstrecansky I have registered for this project on the community bridge website. Thanks

[2020-09-23 12:11] bobstrecansky commented on #162
@shovnik opened a PR for this work:
https://github.com/open-telemetry/opentelemetry-php/pull/182

[2020-09-23 12:12] bobstrecansky commented on #141
This function has a signature but still needs to be completed:
https://github.com/open-telemetry/opentelemetry-php/blob/3a83788a4026e55c9eea88d0625c9193f0ad9113/sdk/Trace/Span.php#L202

[2020-09-23 13:38] bobstrecansky commented on #130
OTLP Trace Data format: https://github.com/open-telemetry/oteps/blob/master/text/trace/0059-otlp-trace-data-format.md

[2020-09-23 16:44] shovnik commented on #162
Isn't this issue a duplicate of issue #86? Should one of them be closed as a duplicate? I did not mean to steal @zsistla 's issue by making this pr.

[2020-09-23 17:09] zsistla commented on #162
Hi @shovnik,

No worries.
Hopefully with the great boards(
Tracing: https://github.com/open-telemetry/opentelemetry-php/projects/1
Metrics: https://github.com/open-telemetry/opentelemetry-php/projects/2) @bobstrecansky just put together, duplications like this will be reduced.

[2020-09-24 15:17] zsistla commented on #141
I'll work on this.

[2020-09-24 21:13] Fahmy-Mohammed commented on #181
Yes, I've started on this

[2020-09-25 10:26] dkarlovi opened #184 "ExporterFactory, connection string selector support"
**Is your feature request related to a problem?**

Currently, the exporters are constructed and injected into the processor manually as instances.

When using this instrumentation in a dynamic environment, the endpoint might be determined by the ops setup, meaning it can be changed without the app needing to be changed.

**Describe the solution you'd like**

Allowing the exporter to be selected vi

[2020-09-25 11:43] bobstrecansky commented on #141
Thanks Amber! Updated the ticket accordingly.

[2020-09-28 04:10] prondubuisi opened #187 "Improve documentation"
* Change name for Zipkin example file

The name for the Zipkin example file currently reads AlwaysSampleTraceExample.php instead of AlwaysOnTraceExample.php this can be a little confusing if you try searching for the former with your codebase

* Add Jaeger example file to the readme

Currently, there is no pointer for the Jaegar example file on the readme, even though Jaeger features as one of the

[2020-09-28 14:41] prondubuisi opened #189 "ensure consistency for tracing examples"
# Description
This project currently has two tracing examples, for jaegar and zipkin,
while the example file for jaegar reads `JaegerExporterExample.php` that of zipkin reads `AlwaysOnTraceExample.php`

# Solution
Rename AlwaysOnTraceExample.php to AlwaysOnZipkinExample.php
Rename JaegerExporterExample.php to AlwaysOnJaegerExample.php

as recommended by @bobstrecansky [here](https://github.com/ope

[2020-09-28 14:54] #189 closed

[2020-09-28 15:00] prondubuisi opened #191 "Rename make command for tracing examples"
# Problem
Make commands for tracing examples currently reads `make examples` as we scale and include more examples, this might become confusing

# Solution
rename `make examples` to `make trace examples `

as recommended by @bobstrecansky [here](https://github.com/open-telemetry/opentelemetry-php/pull/188#pullrequestreview-497464422)

[2020-09-28 18:15] #191 closed

[2020-09-28 18:16] #187 closed

[2020-09-30 13:52] beniamin commented on #184
I like the idea. I think that this proposal will fit more in the opentelemetry-specification repository, because the API should be common to other libraries.

[2020-09-30 15:55] zsistla commented on #141
[PR](https://github.com/open-telemetry/opentelemetry-php/pull/194/) is up and current status is `pending review`.

[2020-10-05 10:54] adhocore commented on #166
PHP8 rc is around the corner - would be nice if we can do rc as we wait for #162 👍

[2020-10-06 16:23] zsistla commented on #93
Working on this and status is `in progress`.

[2020-10-07 11:02] dkarlovi commented on #184
@beniamin so what would you propose as next steps? Implement it here or first discuss it there?

[2020-10-07 11:14] beniamin commented on #184
I would say that a discussion should be started in opentelemetry-specifications.

[2020-10-07 11:20] prondubuisi commented on #184
Hello @dkarlovi  I think @beniamin is implying we start a discussion here https://github.com/open-telemetry/opentelemetry-specification for this

[2020-10-07 11:34] dkarlovi commented on #184
Created an issue there: https://github.com/open-telemetry/opentelemetry-specification/issues/1071

[2020-10-07 17:43] #172 closed

[2020-10-07 17:43] #141 closed

[2020-10-10 20:31] #162 closed

[2020-10-16 13:17] bobstrecansky commented on #174
@prondubuisi - looks like this is almost finished; did you have any other changes to make?

[2020-10-16 13:50] prondubuisi commented on #174
No @bobstrecansky. I think we are done. Thanks

[2020-10-16 17:38] bobstrecansky commented on #174
Thank you @prondubuisi !

[2020-10-16 17:38] #174 closed

[2020-10-18 10:54] prondubuisi opened #196 "Add Psalm and PHPStan to Static Analysis tools to CI/CD tooling"
Based on discussions here https://github.com/open-telemetry/opentelemetry-php/pull/185, we are looking forward to adding the following static analysis tools

 [PHPStan](https://github.com/phpstan/phpstan)
 [Psalm](https://github.com/vimeo/psalm)

[2020-10-21 17:50] bobstrecansky commented on #196
@prondubuisi - are you planning on taking this on?

[2020-10-21 17:50] bobstrecansky commented on #184
Looks like we can put this one down into the backlog?

[2020-10-21 17:52] prondubuisi commented on #196
Yes @bobstrecansky

[2020-10-21 18:14] bobstrecansky opened #197 "Validate PHP8 support"
Before opening a feature request against this repo, consider whether the feature should/could be implemented in the [other OpenTelemetry client libraries](https://github.com/open-telemetry). If so, please [open an issue in opentelemetry-specification](https://github.com/open-telemetry/opentelemetry-specification/issues/new) first.

**Is your feature request related to a problem?**
No

**Describe t

[2020-10-21 19:11] dkarlovi commented on #184
@bobstrecansky not sure what the conclusion is in the other issue TBH. 😁

[2020-10-22 14:18] bobstrecansky commented on #184
@dkarlovi - I think @bogdandrutu was saying that we should defer this work until after GA is complete.

[2020-10-22 14:35] bobstrecansky commented on #166
In the channel we decided that we are going to do a 0.0.1 release to garner feedback from the community.  I'll do that tomorrow if there isn't any negative response from the community.

[2020-10-22 15:30] prondubuisi commented on #196
Hello @bobstrecansky we only implemented one part of this. We are yet to add PHPStan

[2020-10-23 14:58] bobstrecansky commented on #196
Ahhh yup; reopening until PHPStan is implemented.

[2020-10-28 19:50] bobstrecansky commented on #196
We can close this now as PHPStan and Psalm are both implemented.

[2020-10-28 19:50] #196 closed

[2020-10-28 19:50] bobstrecansky commented on #166
We have performed a 0.0.1 release that is still pre-alpha software to get feedback.

[2020-10-28 19:50] #166 closed

[2020-11-02 07:08] prondubuisi opened #203 "Add Infection for Mutation testing as part of CI/CD"
Following discussions with  @dkarlovi and @bobstrecansky we are considering add mutation testing as part of our CI/CD

For more information on infection, you can check here https://infection.github.io/guide/

I am already working on this

[2020-11-02 08:46] zsistla commented on #93
Please see PR #204:
https://github.com/open-telemetry/opentelemetry-php/pull/204

[2020-11-02 14:41] dkarlovi commented on #203
A short primer on mutation tests: your tests will cover a certain feature, your code coverage will claim a certain part of the code was "covered".

Mutation testing uses this information against you and does the following:
1. checks the coverage of a certain line
2. intentionally breaks that line in some way (which makes sense)
3. runs the tests which claim to cover it
4. if the tests now fail, it

[2020-11-02 15:37] prondubuisi commented on #203
Thanks for sharing @dkarlovi  I did read a blog post while trying to understand what was happening under the hood https://medium.com/@maks_rafalko/infection-mutation-testing-framework-c9ccf02eefd1

[2020-11-02 17:57] bobstrecansky opened #206 "Dogfooding / User Research"
Put ourselves in the end user's shoes using the document below:

https://docs.google.com/document/d/1rXT2eEAniVM7r8KiikzgJJ-r36shOg_twZP6GPzNvao/edit#heading=h.19lsfyhsve8e

[2020-11-04 07:31] adhocore opened #209 "How to get rid of op.status_code and op.status_description tag?"
Using v0.0.1 of telemetry

![image](https://user-images.githubusercontent.com/2908547/98081496-ca767800-1ea9-11eb-9343-9a6901ff320c.png)

Wondering what these tags are for and how to get rid of them?
We have 1000s of spans so we don't want to have this tag getting in our way.

Is it possible to disable it by configuration?

Code that adds these tags is in
https://github.com/open-telemetry/opentele

[2020-11-04 18:43] bobstrecansky commented on #115
@zsistla is working on is.

[2020-11-04 18:44] zsistla commented on #115
I'll work on this :)

[2020-11-04 18:46] #93 closed

[2020-11-04 18:46] #86 closed

[2020-11-04 18:48] bobstrecansky commented on #4
Closing this because we are going to eventually skip more towards a more recent alpha release.

[2020-11-04 18:48] #4 closed

[2020-11-04 18:48] bobstrecansky commented on #5
Closing this because we are going to eventually skip more towards a more recent alpha release.

[2020-11-04 18:48] #5 closed

[2020-11-04 18:48] bobstrecansky commented on #7
Closing this because we are going to eventually skip more towards a more recent alpha release.

[2020-11-04 18:48] #7 closed

[2020-11-04 18:48] bobstrecansky commented on #8
Closing this because we are going to eventually skip more towards a more recent alpha release.

[2020-11-04 18:48] #8 closed

[2020-11-04 18:48] bobstrecansky commented on #12
Closing this because we are going to eventually skip more towards a more recent alpha release.

[2020-11-04 18:48] #12 closed

[2020-11-04 18:48] bobstrecansky commented on #115
Closing this because we are going to eventually skip more towards a more recent alpha release.

[2020-11-04 18:48] #15 closed

[2020-11-04 19:05] bobstrecansky commented on #209
Those are currently required fields as part of the spanConverter:

https://github.com/open-telemetry/opentelemetry-php/blob/2514c45b55b615b6a3dc81943ce14bf1fc143956/contrib/Zipkin/SpanConverter.php#L59-L60

I'd welcome a PR for making them optional if that's something y'all are interested in!

[2020-11-04 20:16] bobstrecansky commented on #197
Amazingly, this seems to work swimmingly with a PHP 8.0 image.  Output below:

https://gist.github.com/bobstrecansky/30a76ec9a37d4afd5dcba291a7fbcd8f

Will give this another go when PHP 8.0 is officially released.

[2020-11-04 20:21] bobstrecansky commented on #209
Was also considering - is there a reason this is labeled as a bug?  I believe it's intended behavior as defined by the spec.

[2020-11-05 13:17] adhocore commented on #209
for us they are just chunk of unwanted extraneous tags that take up the space in elasticsearch backend and clutter up the ui and intrigue user as it was not like that before.

in the java based telemetry sdk we using, we don't have these tags - not sure though if that is because of using old version.

it was automatically labelled as bug (perhaps GH issue template played in), however it was purely

[2020-11-05 20:58] bobstrecansky commented on #209
Cool.  Appreciate your PR!  Following up with the other maintainers on this.

[2020-11-06 14:59] bobstrecansky commented on #197
We'll have to wait for some dependency trees to come in for Github Actions for this to work as expected, but I think that'll come at the end of the month.

[2020-11-08 18:43] bobstrecansky opened #212 "php-cs-fixer not being applied in CI"
It was noticed in https://github.com/open-telemetry/opentelemetry-php/pull/210 that php-cs-fixer isn't being applied on PRs.  It appears that there is a fatal in the github action.

https://github.com/open-telemetry/opentelemetry-php/pull/210/checks?check_run_id=1367036086#step:7:4

[2020-11-09 14:43] bobstrecansky commented on #212
Wondering if this should be a pre-commit hook rather than a CI check?  Might make it easier for a contributor.

[2020-11-11 18:45] bobstrecansky commented on #209
@adhocore - It appears the status code is required and the description is optional. I'm wondering if it'd be worth the added complexity of flagging just that one specific field.

[2020-11-11 21:00] bobstrecansky commented on #197
I've come across a couple other dependency issues with this:

1.  We'll have to use guzzle7 and the guzzle7-adapter to work with PHP8.  I don't forsee this being a huge problem sans updating dependencies.

2.  The Prometheus client we currently use, `endclothing/prometheus_client_php` isn't being maintained anymore.  I found an issue here: https://github.com/endclothing/prometheus_client_php/issue

[2020-11-11 21:40] bobstrecansky commented on #197
It also appears we'll have to wait for a couple of our other upstream dependencies to have PHP8 support.  I'm going to put this lower on the priority queue until the official release of PHP8.

[2020-11-11 21:41] bobstrecansky commented on #130
The HTTP version of this has been completed in https://github.com/open-telemetry/opentelemetry-php/pull/210

@riticksingh is now working on the gRPC implementation.

[2020-11-11 21:49] bobstrecansky commented on #197
I have a branch where I started investigating this:
https://github.com/open-telemetry/opentelemetry-php/compare/master...bobstrecansky:PHP-8-Testing?expand=1

[2020-11-11 23:12] adhocore commented on #209
hmm ok let me close it then 😁

[2020-11-11 23:12] #209 closed

[2020-11-12 08:25] zsistla commented on #115
Hi Bob, I think this was erroneously closed when the alpha 0.2s were closed last week.

See PR: https://github.com/open-telemetry/opentelemetry-php/pull/215

status should be `pending review`.

[2020-11-12 20:13] bobstrecansky commented on #115
Sorry Amber.  I'll merge that tomorrow if I don't hear any gripes from the other maintainers and I'll close this at that time.

[2020-11-15 20:57] #212 closed

[2020-11-18 18:17] #115 closed

[2020-11-18 18:54] bobstrecansky opened #217 "W3C Trace Context Test Service"
After finishing the W3C Trace Context work, we'd like to validate the changes we make don't break the W3C spec.  The w3c provides the W3C Distributed Tracing Validation Service, which allows us to test against a service.  The service and definition can be found at the following link:

https://github.com/w3c/trace-context/tree/master/test

Success criteria - create a `Make` task that allows validat

[2020-11-19 09:55] dkarlovi commented on #206
Let me know how you'd like me to help. I can give you experience from integrating it in a **large** Symfony app.

[2020-11-19 14:53] bobstrecansky commented on #206
Just following along with that document that is linked in the ticket!

[2020-11-20 11:50] dkarlovi commented on #206
Done here:
https://docs.google.com/document/d/1n43oTVsnydmbpzvhN-5dgPAvRWKZCiugmmR_wg_8ziQ/edit?usp=sharing

Repo here
https://github.com/dkarlovi/opentelemetry-php-user-test

HTH :beers:

[2020-11-24 14:26] bobstrecansky opened #219 "User Research Feedback Improvements - Missing Exception"
@dkarlovi's [User Research Document](https://docs.google.com/document/d/1n43oTVsnydmbpzvhN-5dgPAvRWKZCiugmmR_wg_8ziQ/edit#) points out that no exception is raised.

In dev mode, he mentioned that not being able to flush spans or not recording any spans should result in an exception being thrown.

This bug report came from [this comment](https://docs.google.com/document/d/1n43oTVsnydmbpzvhN-5dgPAvR

[2020-11-24 14:35] bobstrecansky opened #220 "User Research Feedback Improvements - Creating a Symfony Bundle"
We'd like to create a Symfony bundle in order to make it easier to adopt OpenTelemetry PHP in Symfony projects.  This feedback came from [this comment](https://docs.google.com/document/d/1n43oTVsnydmbpzvhN-5dgPAvRWKZCiugmmR_wg_8ziQ/edit?disco=AAAAHTU6d4Y)

[2020-11-24 14:39] bobstrecansky opened #221 "User Research Feedback Improvements - Documentation around shouldSample() variables."
The shouldSample() call  takes lots of params which are unclear what they do or why I need to pass them explicitly.

This feedback came from [this comment](https://docs.google.com/document/d/1n43oTVsnydmbpzvhN-5dgPAvRWKZCiugmmR_wg_8ziQ/edit?disco=AAAAHTU6d4Y)

[2020-11-24 14:55] bobstrecansky opened #222 "PHP Documentor"
We should create some autogenerated documentation.

I'm going to propose that we use https://www.phpdoc.org/ but I'm also very open to suggestions on what to use for this autogenerated documentation.

[2020-11-24 15:01] bobstrecansky commented on #222
We can currently generate something pretty simple using:

`docker run --rm -v ${PWD}:/data -v ${PWD}/docs:/tmp/docs phpdoc/phpdoc:3 -d ./api -d ./sdk -d ./contrib -t /tmp/docs`

[2020-11-24 15:05] bobstrecansky opened #223 "User Research Feedback Improvements - PSR18"
We'd like to use PSR18 to provide a standard set of interfaces for HTTP clients.

This ticket came from [this comment](https://docs.google.com/document/d/1n43oTVsnydmbpzvhN-5dgPAvRWKZCiugmmR_wg_8ziQ/edit?disco=AAAAHTU6d4Q)

[2020-11-24 15:07] bobstrecansky commented on #219
throwing exceptions:

1. NoSpansCreatedException
2. InvalidExporterEndpointException

in dev mode would definitely help

[2020-11-24 15:08] bobstrecansky opened #224 "User Research Feedback Improvements - Finish all Spans Feature"
We'd like to have a "Finish all Spans" feature.

This comes from [this comment](https://docs.google.com/document/d/1n43oTVsnydmbpzvhN-5dgPAvRWKZCiugmmR_wg_8ziQ/edit?disco=AAAAHTU6d40)

[2020-11-24 15:11] bobstrecansky opened #225 "User Research Feedback Improvements - Auto-detecting resource attributes"
We should autodetect resource attributes.

This ticket comes from [this comment](https://docs.google.com/document/d/1n43oTVsnydmbpzvhN-5dgPAvRWKZCiugmmR_wg_8ziQ/edit?disco=AAAAHTU6d48)

[2020-11-24 15:14] bobstrecansky opened #226 "User Research Feedback Improvements - Uncaught Exception in child span"
If an uncaught exception is thrown in a child span, it is not currently recorded as a span error.  In @dkarlovi's example, he's also missing the parent span, he only at this point receives the child span.

This ticket came from [this comment](https://docs.google.com/document/d/1n43oTVsnydmbpzvhN-5dgPAvRWKZCiugmmR_wg_8ziQ/edit?disco=AAAAHTU6d5Y)

[2020-11-24 15:18] bobstrecansky opened #227 "User Research Feedback Improvements - Use SetSpanStatus to change the span to an error manually, when catching the exception."
We'd like to be able to use SetSpanStatus to change the span to an error manually while catching an exception.

This ticket is the result of [this comment](https://docs.google.com/document/d/1n43oTVsnydmbpzvhN-5dgPAvRWKZCiugmmR_wg_8ziQ/edit?disco=AAAAHTU6d5k)

[2020-11-25 09:10] dkarlovi commented on #222
The documentation generated in this way is usually not what you'd want as a developer. This would generate what I'd call a "reference manual", listing the available API. What we need is human-generated content meant for human consumption, for example [Guzzle](https://docs.guzzlephp.org/en/stable/overview.html), [PHP HTTP](http://docs.php-http.org/en/latest/index.html), [Symfony](https://symfony.co

[2020-12-02 16:54] riticksingh opened #228 "Adding InstrumentationLibrary to SDK"
Adding instrumentation feature to opentelemetry-php to sdk mentioned here: https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/sdk.md#additional-span-interfaces

While working for OTLP/GRPC , it requires Instrumentation library in sdk for dealing with proto files

Something like this : [opentelemetry-go reference ](https://github.com/open-telemetry/opentel

[2020-12-09 14:29] bobstrecansky commented on #222
@dkarlovi - you think the result isn't worth the effort in generating this documentation?  Maybe we could perhaps improve the existing README.md or add additional documentation somewhere?

[2020-12-09 14:46] dkarlovi commented on #222
I think starting to build real documentation is the right direction here. A good start would be using Github pages, this allows us to start working on this right away.

[2020-12-09 15:13] prondubuisi commented on #222
The approach of putting in thoughtful work on the documentation makes sense. In the long run, we will all be better for it.  Please do tag me as this developes

[2020-12-11 18:42] bobstrecansky commented on #197
I have a new branch where I've gotten this working:

https://github.com/bobstrecansky/opentelemetry-php/pull/9

We are just waiting on php-cs-fixer to have php8.0 compatibility:
https://github.com/FriendsOfPHP/PHP-CS-Fixer/issues/4702

[2020-12-11 20:18] bobstrecansky commented on #228
@riticksingh - are you still planning on working on this?

[2020-12-16 06:10] riticksingh commented on #228
I am not getting the exact definition for Instrumentation from specification repo

[2020-12-16 17:21] bobstrecansky commented on #228
Have you asked in the specification gitter channel for more specifics?

[2020-12-16 17:36] riticksingh commented on #228
Yup I asked the in channel of specification but doesn't got any reply

[2021-01-04 17:40] lalex commented on #228
@riticksingh `InstrumentationLibrary` was added in #101 and then was replaced by `ResourceInfo` in #133, but the spec has been updated after (https://github.com/open-telemetry/opentelemetry-specification/pull/616).

[2021-01-05 01:39] riticksingh commented on #228
Ok I will go through this

[2021-01-06 14:41] zsistla commented on #219
I'll work on this.

[2021-01-06 18:39] zsistla commented on #226
I'll work on this.

[2021-01-14 06:41] jodeev opened #235 "Span Context does not conform to latest OTel spec"
There are some differences between our implementation and specs.

For Span Context, the following gaps were identified for our current implementation:
* does not export binary TraceId and SpanId
* isValidContext should be renamed into isValid
* isRemoteContext should be renamed into isRemote
* TraceState should be changed into an object instead of an array - it will ease the actions on it describe

[2021-01-14 06:57] jodeev opened #236 "Implement "Standard" Span attributes"
"Standard" Span Attributes as defined in "[standard attributes](https://github.com/open-telemetry/opentelemetry-specification/blob/418016dc4014f0c64acea74881774d34178bf15a/specification/trace/semantic_conventions/README.md)" need to be implemented.

**Notes**
Spans are not meant to be used to propagate information within a process. To prevent misuse, implementations SHOULD NOT provide access to a

[2021-01-14 07:00] jodeev opened #237 "Implement RecordException method for spans"
[RecordException](https://github.com/open-telemetry/opentelemetry-specification/blob/418016dc4014f0c64acea74881774d34178bf15a/specification/trace/api.md#record-exception) method is not implemented - this method is a specialized variant of AddEvent for recording exception events.

**Notes**
Spans are not meant to be used to propagate information within a process. To prevent misuse, implementations

[2021-01-14 07:04] jodeev opened #238 "Fix default span status"
Default span status should be `Unset`, but the current implementation uses `Ok`.

Also the statusCodes list has been shrunk to only 3 statuses as described in the [SetStatus](https://github.com/open-telemetry/opentelemetry-specification/blob/418016dc4014f0c64acea74881774d34178bf15a/specification/trace/api.md#set-status) section and the current behaviour has been changed.

**Notes**
Spans are not m

[2021-01-14 07:07] jodeev opened #239 "Determining the Parent Span from a Context - should conform to latest OTel spec"
It seems that the linking between the Context/SpanContext/Span is not implemented properly.

The OpenTelemetry spec says that the SpanContext should be encapsulated inside the Span, but the Tracer is able to create a new Span with a specific SpanContext, created outside of the Span.

For example TraceContext::extract returns a SpanContext and Tracer::startAndActivateSpanFromContext receives SpanCo

[2021-01-14 07:11] jodeev opened #240 "Implement Context Interaction"
Implement [Context Interaction](https://github.com/open-telemetry/opentelemetry-specification/blob/6589f46926dbbd11178a9f93889bf83a50ad2dd8/specification/trace/api.md#context-interaction) as per the specification.

[2021-01-14 07:13] jodeev opened #241 "Trace Provider should include name + version"
[TraceProvider](https://github.com/open-telemetry/opentelemetry-specification/blob/6589f46926dbbd11178a9f93889bf83a50ad2dd8/specification/trace/api.md#tracerprovider) should include name + version, as per the spec.

Current implementation identifies Tracers only by name, instead of name+version

[2021-01-15 16:31] Fahmy-Mohammed commented on #235
The bottom two points were implemented in #233:

[2021-01-20 15:15] banish1979 opened #244 "ParentBased spans for remote requests are appearing as root span"
When ever I generate a ParentBased span, it is appearing as a root span in the Jaeger UI. It is not appearing under the current active span.

This is the part of php code I have written for this.

[code]

Currently it looks like this: https://www.screencast.com/users/banish1979/folders/Default/media/bd2ab5c9-d47e-4aab-8fb6-617524c42925

I want the span to appear like this: https://www.screencast.c

[2021-01-22 20:53] #206 closed

[2021-01-22 20:54] bobstrecansky commented on #197
This has been completed.

[2021-01-22 20:54] #197 closed

[2021-01-22 21:04] bobstrecansky commented on #221
@dkarlovi - we have this documented in the function [here](https://github.com/open-telemetry/opentelemetry-php/blob/92be0025ea8c85097a3cf0789eb244d34bdab787/sdk/Trace/Sampler.php#L16-L30)

Was there another place you were expecting to have this documented?  Maybe in the examples?

[2021-01-22 21:05] bobstrecansky commented on #222
@prondubuisi - were you thinking about creating this documentation, or were you just wanting to follow along as it is created?

[2021-01-22 22:53] prondubuisi commented on #222
Both @bobstrecansky. Just tell me what is needed.

[2021-01-23 12:48] bobstrecansky commented on #222
@prondubuisi - I think a great start would be some implementation documentation.  We have the readme info and the examples, but we don't have something akin to a "getting started guide" or the like.  I think that'd be a fantastic start!

[2021-01-26 15:21] dkarlovi commented on #221
@bobstrecansky this would definitely be documented as part of user-facing documenation, as discussed in #222. The idea is to explain what this is and why do you need to set it, having different use cases as examples is definitely a plus.

The issue I still see is repeating information visible from the type information.

[code]

This is exactly the same information provided three separate times. It

[2021-01-28 13:08] aman-raza commented on #241
If I make a change
The " optional " tag shouldn't be there

[2021-01-29 15:33] bobstrecansky commented on #244
@banish1979 - I started looking into this issue; I'm tracking my troubleshooting [here](https://github.com/open-telemetry/opentelemetry-php/compare/main...bobstrecansky:parent_based_spans_test?expand=1)

In your blurb above, I can't see how you've defined your tracer; can you share this with me so I can continue troubleshooting?   If you can provide a more full workable example it'd probably exped

[2021-01-29 17:20] banish1979 commented on #244
@bobstrecansky In real time, I am getting the Trace ID and last active Span Id from the header.

For eg.
Lets say we have a service http://ambassador-01.anish.com/user. This service will generate a Trace ID and then it will create and close a span with the name "ambassador-user". The generated Trace ID and Span ID of "ambassador-user" is attached in the header with the key name "X-B3-TraceId'" and

[2021-01-31 14:13] wRLSS commented on #235
https://github.com/open-telemetry/opentelemetry-php/pull/247

targets points 2 and 3

[2021-01-31 22:42] prondubuisi commented on #219
Hello @bobstrecansky @dkarlovi I would love to check this out, but I have some questions

While testing https://github.com/dkarlovi/opentelemetry-php-user-test with the wrong address, I had an exception

[code]

I am wondering if we need to change this exception to `InvalidExporterEndpointException`

Also is there a way to look into docker or elsewhere within a codebase to suggest an appropriate e

[2021-02-01 15:03] bobstrecansky commented on #244
I was able to get the resulting output that you were looking for by changing L75 in your snippet above from `parent-based` to `one` - the parent based sampler appears to use the span name as the proper delineation point:

https://github.com/open-telemetry/opentelemetry-php/blob/92be0025ea8c85097a3cf0789eb244d34bdab787/sdk/Trace/Sampler/ParentBased.php#L82

Here is my branch where I tested this imp

[2021-02-01 15:52] bobstrecansky commented on #219
It does seem that needs to be changed to `InvalidExporterEndpointException` - good catch.

[code]

Not tracking this question exactly.  Are you talking about how to find the appropriate endpoint for the app?  If so, it probably wouldn't be worth digging into that, as the method for standing up that endpoint may vary greatly by implementation.

[code]

There currently is not a dev mode for OpenTele

[2021-02-01 16:10] banish1979 commented on #244
@bobstrecansky Changing the span name does not work. I tried it.

Please refer the following screenshot for the expected behavior.

![Screenshot 2021-02-01 at 8 43 51 PM](https://user-images.githubusercontent.com/18693703/106478307-1350c380-64cf-11eb-9481-111bf9b34c23.png)

^ This is the result I am expecting. Kindly refer the PHP code I updated in previous comment. I am passing the SpanId of the

[2021-02-02 03:08] prondubuisi commented on #219
Hello, @bobstrecansky I agree with all of the above. As regards the Dev Mode, We did mention it a lot in the course of this issue. See above. That said, I think displaying exception messages or not should be handled by the Apps using the SDK.

I will get to work, on adding the InvalidExporterEndpointException to the SDK

[2021-02-02 03:46] prondubuisi commented on #219
So how can I create custom exceptions for OpenTelemetry? I tried
`use InvalidExporterEndpointException;`
and it turns out the class doesn't exist
Also, where do we get the exception classes currently used within the project?

[2021-02-03 18:55] bobstrecansky commented on #244
We have an active troubleshooting session to investigate this tomorrow.

[2021-02-04 18:53] bobstrecansky commented on #244
After investigating further, we realized that you can't create a parent-based span to a non-active span.  If you perform the `$tracer->endActiveSpan();` calls after the creation of the parent-based span, you'll get your expected result.  I have this written in my [troubleshooting branch](https://github.com/open-telemetry/opentelemetry-php/compare/main...bobstrecansky:parent_based_spans_test?expand

[2021-02-04 19:21] Fahmy-Mohammed commented on #181
The bulk of this work is completed in #213, #233, #251. This will be considered finished once #217 is completed any failing tests are fixed.

[2021-02-04 19:27] YashKumarVerma commented on #241
Is this issue fixed?

[2021-02-04 19:29] bobstrecansky commented on #241
Yes, I believe @wRLSS 's PR fixed this.  Closing.

[2021-02-04 19:29] #241 closed

[2021-02-05 03:37] YashKumarVerma commented on #119
Hello there, i believe I can work on this.

Are there any specific things to keep in mind while implementing this?

[2021-02-05 04:06] bobstrecansky commented on #119
Not that I'm aware of! Feel free to ask questions in the gitter channel if you get stuck.

[2021-02-05 05:40] YashKumarVerma commented on #119
alright, I went through the codebase, also took references from implementation in the js version, and have a few queries.

1. in the js version, there is a class named [`BaseObserverMetric`](https://github.com/open-telemetry/opentelemetry-js/blob/main/packages/opentelemetry-metrics/src/BaseObserverMetric.ts#L31) which has been extended to implement observer* instruments. Should we do something sim

[2021-02-05 07:37] bobstrecansky commented on #119
1.). Seems reasonable.  You can always read through the specification to verify:

https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/sdk.md

2.) Async programming is notorious for being burdensome for php.  The spatie library night be a good jumping off point:

https://dev.to/webong/using-asynchronous-processes-in-php-7io

[2021-02-05 10:13] banish1979 commented on #244
@bobstrecansky This will not fix the issue. The method you suggested will create a nested span. We don't have to use ParentBased class to create nested span. Kindly note that the TraceID and SpanID are propagated through headers (X-B3-TraceId & X-B3-SpanId) from one micro service to another. Obviously the developer have to end the active span in their repo.

Let me try to  explain the issue I am f

[2021-02-05 18:20] bobstrecansky commented on #244
Which previous version of the Jaeger tracing PHP package are you referring to?  Maybe we can use that as a reference as to where we are falling short.

This library is [still in Alpha](https://github.com/open-telemetry/opentelemetry-php#current-project-status).  We will do all that we can to help you to address your issue but I can't promise a resolution in a short time frame.

[2021-02-08 11:00] banish1979 commented on #244
@bobstrecansky This is the PHP package I was referring to.
"jonahgeorge/jaeger-client-php": "0.4.3"
https://github.com/jonahgeorge/jaeger-client-php

[2021-02-10 18:55] bobstrecansky commented on #217
@Fahmy-Mohammed is working on this.

[2021-02-10 18:57] Fahmy-Mohammed commented on #217
I'm working on this

[2021-02-13 10:09] siv2r commented on #226
Is this issue available to be worked on? `on hold` label to gives some red signal.

[2021-02-15 13:52] bobstrecansky commented on #226
@siv2r - @zsistla is working on this, but it has a prerequisite task to complete before it can be completed.

[2021-02-15 15:52] siv2r commented on #226
Okay :+1:
Thanks for the info!!

[2021-02-16 05:11] prondubuisi commented on #237
Hello @bobstrecansky, I want to work on this

[2021-02-17 18:23] zsistla commented on #238
I'll work on this.

[2021-02-18 16:39] ivomagi opened #254 "Feedback request: adding engine definition to semantic conventions - beneficial to PHP community?"
# Question

As the author of the PR https://github.com/open-telemetry/opentelemetry-specification/pull/1293 I am reaching out to PHP community to get feedback about whether or not the concept of `engine` introduced in the PR will or will not add value to PHP tracing. So if you take a look at the usecases described in the PR and comment about if and how this would also apply to PHP world.

**What a

[2021-02-19 07:20] tanweeralii commented on #120
Hey @bobstrecansky , I would like to work on this issue. Is this still open?

[2021-02-19 12:23] bobstrecansky commented on #120
Sure is!  Let us know if you have any questions!

[2021-02-19 15:36] tanweeralii commented on #120
Yeah, So far I got that I have to change [api/UpDownCounter.php](https://github.com/open-telemetry/opentelemetry-php/blob/main/api/Metrics/UpDownCounter.php) file. Should I remove `UpDownCounter.php` and create `UpDownSumObserver.php`. Or Just add `UpDownSumObserver.php`.

[2021-02-19 16:03] tanweeralii commented on #120
And replace `add()` with `Observer()`

[2021-02-19 17:56] bobstrecansky commented on #120
@tanweeralii - [UpDownCounter](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/api.md#updowncounter) and [UpDownSumObserver](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/api.md#updowncounter) are two separate things.  I think creating a new `UpDownSumObserver.php` would make sense.

[2021-02-19 19:50] tanweeralii commented on #120
ok got it

[2021-02-24 01:19] zsistla commented on #238
Please see PR: https://github.com/open-telemetry/opentelemetry-php/pull/258

[2021-02-24 18:57] bobstrecansky opened #259 "Change SpanContext to Baggage"
We should use the standard implementation of [Baggage](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/baggage/api.md)

@Fahmy-Mohammed mentioned he would work on this in our meeting today.

[2021-02-24 18:58] Fahmy-Mohammed commented on #259
Yes, I can work on this

[2021-02-26 01:24] prondubuisi opened #261 "Update link to communication channel from gitter to slack"
The link to the OpenTelemetry PHP Communication channel still points to [Gitter](https://gitter.im/open-telemetry/opentelemetry-php), this should be updated to [Slack](https://cloud-native.slack.com/archives/C01NFPCV44V).

[2021-02-26 01:47] prondubuisi opened #263 "Create user guide/documentation for integrating otel-php into Symfony projects"
Had a [discussion ](https://github.com/open-telemetry/opentelemetry-php/issues/222)with @bobstrecansky @dkarlovi regarding creating user documentation on integrating otel-php with PHP frameworks/applications. This feature would add the documentation for Symfony

[2021-02-26 18:33] #261 closed

[2021-02-27 04:45] prondubuisi commented on #237
Hello @bobstrecansky I think we can close this issue.

[2021-02-27 20:19] #237 closed

[2021-02-28 16:33] bobstrecansky commented on #254
I think the concept of an "engine" would be good and we'd probably use it for a myriad of things!

[2021-02-28 16:33] #254 closed

[2021-03-01 07:57] shabicheng opened #265 "OpenTelemetry Exporter fail with : 400 Bad Request json: cannot unmarshal array into Go value of type map[string]json.RawMessage"
When I use otlp exporter to send traces, nothing happened in collector, so I add some outputs in php otlp exporter and see the errors, can any guys fix this?

When I debug with the code, I find the environments OTEL_EXPORTER_OTLP_xxx does not work, can any guys fix this too?

**Describe your environment**

Use latest OpenTelemetry Collector 0.21.0

**Steps to reproduce**

Collector config

[code]

[2021-03-01 21:40] prondubuisi commented on #227
Hello @bobstrecansky  @dkarlovi, Does the recordException event solve this problem? I think wrapping  a code block in a try/catch i.e

[code]

Would automatically add the error event to the span

[2021-03-02 02:26] bobstrecansky commented on #227
You would need to have some sort of functionality that causes an exception for it to be thrown.  Something akin to:

https://www.w3schools.com/php/php_exception.asp

[2021-03-02 07:06] prondubuisi commented on #227
Thanks for the response @bobstrecansky, I am a little confused. Maybe I am missing what the problem here is, as well as the proposed solution. From @dkarlovi  comment, he says " Unclear how, the span code is not equal to the exception code, there's no way to auto-transform the exception (which is an object of type \Throwable) into proper span information." He also continues "Even though I've set t

[2021-03-02 07:07] prondubuisi commented on #227
Maybe a flow description of what is happening and what is expected to happen will help me understand this issue better.

[2021-03-02 13:57] bobstrecansky commented on #227
I'll defer to @dkarlovi as he was the one who was proposing the solution.

[2021-03-03 07:30] Oberon00 commented on #254
That might hint that the definition of "engine" is too vague. Especially since you can only have one per process. Please also provide feedback on open-telemetry/opentelemetry-specification#1293 if possible.

[2021-03-03 12:00] ivomagi commented on #254
@bobstrecansky indeed if you could provide examples of what would you use the `engine` for in PHP, it would help to understand the concerns @Oberon00 referred.

[2021-03-04 02:17] jodeev opened #266 "Implement no-op span behavior per spec"
Match the no-op span behaviour to the one described in the spec section: [Wrapping a SpanContext in a Span](https://github.com/open-telemetry/opentelemetry-specification/blob/418016dc4014f0c64acea74881774d34178bf15a/specification/trace/api.md#wrapping-a-spancontext-in-a-span)

<p>&nbsp;</p>

**Notes**
Currently [`NoopSpan` is used](https://github.com/open-telemetry/opentelemetry-php/blob/main/sdk/

[2021-03-04 03:37] jodeev opened #267 "Support for API only in absence of installed SDK"
Our current library does not have support to install only the API.

We should support this and conform to ["Behavior of the API in the absence of an installed SDK"](https://github.com/open-telemetry/opentelemetry-specification/blob/418016dc4014f0c64acea74881774d34178bf15a/specification/trace/api.md#behavior-of-the-api-in-the-absence-of-an-installed-sdk) from the spec.

[2021-03-04 03:47] jodeev opened #268 "Update sampling behavior to conform to spec"
These gaps have been identified in our sampling:
* Default sampler should be ParentBasedSampler as described in [SDK Span Creation](https://github.com/open-telemetry/opentelemetry-specification/blob/418016dc4014f0c64acea74881774d34178bf15a/specification/trace/sdk.md#sdk-span-creation).
* The flag combination `SampledFlag == true` and `IsRecording == false` could cause gaps in the distributed trace

[2021-03-04 04:01] jodeev opened #269 "Update ParentBased sampler to conform to spec"
Our current implementation has these gaps:
* requires the root(Sampler) parameter. This root sampler should be called for spans with no parent.
* Optional parameters not implemented.
* Sampler behaviour should depend on parameters as described here: https://github.com/open-telemetry/opentelemetry-specification/blob/418016dc4014f0c64acea74881774d34178bf15a/specification/trace/sdk.md#parentbased

[2021-03-04 04:08] jodeev opened #270 "Update SDK TracerProvider shutdown behavior to conform to spec"
* `Shutdown` MUST be called only once for each `TracerProvide` instance. After the call to `Shutdown`, subsequent attempts to get a `Tracer` are not allowed. SDKs SHOULD return a valid no-op `Tracer` for these calls, if possible.
* `Shutdown` SHOULD provide a way to let the caller know whether it succeeded, failed or timed out.
* `Shutdown` SHOULD complete or abort within some timeout. `Shutdown`

[2021-03-04 04:13] jodeev opened #271 "Implement Additional Span Interfaces (Readable span, Read/write span) per the spec"
* Implement Readable Span per [Additional Span Interfaces](https://github.com/open-telemetry/opentelemetry-specification/blob/418016dc4014f0c64acea74881774d34178bf15a/specification/trace/sdk.md#additional-span-interfaces).
* Implement Read/write Span per [Additional Span Interfaces](https://github.com/open-telemetry/opentelemetry-specification/blob/418016dc4014f0c64acea74881774d34178bf15a/specific

[2021-03-04 20:17] lalex commented on #269
@jodeev this issue was probably fixed in #234.

[2021-03-05 16:17] bobstrecansky commented on #265
@shabicheng - the OTLP exporter is not currently ready for use.  It is in active development [here](https://github.com/open-telemetry/opentelemetry-php/pull/272)

[2021-03-06 03:03] bobstrecansky commented on #254
I'd think it would probably be used for things like php-fpm vs mod_apache or something similar

[2021-03-08 01:47] prondubuisi commented on #263
Images for User Guide
![image](https://user-images.githubusercontent.com/22311928/110263970-7810a980-7fb8-11eb-8683-b5f2d8a82c4a.png)

[2021-03-09 14:01] MartaSadowskaBarankiewicz opened #274 "SpanKind not propagate to Span constructor"
**Steps to reproduce**
[code]

**What is the expected behavior?**
SpanKind of span is set to the chosen one.

**What is the actual behavior?**
[code]
SpanKind is set to `API\SpanKind::KIND_INTERNAL`, the default SpanKind.

**Additional context**
During span creation using Tracer functions `startAndActivateSpan` or `startAndActivateSpanFromContext`, spanKind passed as parameter isn't propagated to

[2021-03-09 14:01] MartaSadowskaBarankiewicz commented on #274
I'd like to prepare fix for that.

[2021-03-09 14:18] bobstrecansky commented on #274
Sure thing @MartaSadowskaBarankiewicz - I'll assign this issue to you.  Feel free to open a PR and we'll review it for you!

[2021-03-09 16:30] prondubuisi commented on #263
![image](https://user-images.githubusercontent.com/22311928/110503699-bfa04e00-80fc-11eb-9186-c9b295d100f4.png)

[2021-03-09 19:03] wRLSS commented on #236
The link in issue seems to be outdated, the specification under the link does not contain **standard attributes** part

[2021-03-10 09:33] prondubuisi commented on #227
Hello @bobstrecansky I looked at this [comment](https://docs.google.com/document/d/1n43oTVsnydmbpzvhN-5dgPAvRWKZCiugmmR_wg_8ziQ/edit?disco=AAAAHTU6d5k) again, and the commit for the [exception test](https://github.com/dkarlovi/opentelemetry-php-user-test/commit/cda54e62eba88eae95d354b3dfa10105d69b95e4) , notice the similarity with https://github.com/open-telemetry/opentelemetry-php/blob/main/examp

[2021-03-10 10:06] dkarlovi commented on #227
Correct, if you're able to use `recordException` and get the desired span attributes, consider it solved.

[2021-03-10 17:40] #238 closed

[2021-03-10 18:51] jodeev opened #278 "Update SpanProcessor parameters OnStart + OnEnd"
Conform to interfaces requirements in spec for SpanProcessor, see https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/trace/sdk.md#interface-definition

**[OnStart](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/trace/sdk.md#onstart)**
* Parameters should be:
  * `span` - a read/write span object for the started 'span'. It SH

[2021-03-11 03:43] prondubuisi opened #279 "PSR 4 Autoloading error when pulling in OpenTelemetry PHP with composer"
There is an autoloading issue when pulling in this project with composer. The error is as follows;

`Class OpenTelemetry\CorrelationContext\CorrelationContext located in ./vendor/open-telemetry/opentelemetry/api/CorrelationContext.php does not comply with psr-4 autoloading standard. Skipping.
`

[2021-03-11 11:39] hrodic opened #281 "TracerProvider IdGenerator parameter is not used for trace id/span id generation"
**Describe your environment**

PHP 7.3
Commit of dev-main version: https://github.com/open-telemetry/opentelemetry-php/commit/bb0bbafec1d48509171aa12be68182075ef8e459

**Steps to reproduce**
Construct TracerProvider with custom generator

`
$tracer = (new TracerProvider(null, null, new TracingIdGenerator()))
        ->addSpanProcessor(new BatchSpanProcessor($exporter, Clock::get()))
        ->getT

[2021-03-11 13:08] #279 closed

[2021-03-11 19:28] jimshowalter commented on #259
@Fahmy-Mohammed Do you have a sense for how long it will take to make PHP support baggage, and do you want help?

[2021-03-11 19:34] Fahmy-Mohammed commented on #259
I'll work on this over the weekend 👍🏾

[2021-03-12 16:04] lalex commented on #278
I can work on it.

[2021-03-12 16:04] lalex commented on #268
I can take this.

[2021-03-12 19:47] bobstrecansky commented on #267
Hey!  I don't think we need to do this - this isn't a common PHP idiom.  We can revisit later if we decide to.

[2021-03-12 19:47] #267 closed

[2021-03-15 19:16] prondubuisi opened #283 "Event Attributes not accessible on both Zipkin and Jaeger for Otel-PHP examples"
Otel-php provides examples for exporting traces to both Zipkin and Jaegar, and while span traces get displayed on both visualization tools, I have noticed that `attribute` arguments passed to events via `$span->addEvent()`, do not get displayed on both tools

On the other hand, attributes set to span using `$span->setAttribute()` appear as tags.

@zsistla I am wondering if you are able to see attr

[2021-03-15 19:21] prondubuisi opened #284 "Cannot open file error when running otel-php examples command"
Running the `make examples` command returns the above error, as the `AlwaysOnNewrelicExample.php` file [added](https://github.com/open-telemetry/opentelemetry-php/blob/main/Makefile#L23) to `MakeFile` does not exist

@zsistla, are we supposed to have this `AlwaysOnNewrelicExample.php` file?

[2021-03-16 20:36] #278 closed

[2021-03-17 14:28] prondubuisi commented on #284
Closing this as the issue has been fixed!

[2021-03-17 14:28] #284 closed

[2021-03-21 15:39] prondubuisi commented on #263
![image](https://user-images.githubusercontent.com/22311928/111910928-a041e300-8a63-11eb-8ae8-c17746a39d7e.png)

[2021-03-21 15:50] prondubuisi commented on #263
![image](https://user-images.githubusercontent.com/22311928/111911267-24489a80-8a65-11eb-9ee6-d231b3f4287a.png)

[2021-03-21 15:57] prondubuisi commented on #263
![image](https://user-images.githubusercontent.com/22311928/111911354-8c977c00-8a65-11eb-9d0f-0bca5c4c51d4.png)

[2021-03-21 15:58] prondubuisi commented on #263
![image](https://user-images.githubusercontent.com/22311928/111911625-9ec5ea00-8a66-11eb-90f8-2863a299a6de.png)

[2021-03-21 21:28] prondubuisi commented on #263
![image](https://user-images.githubusercontent.com/22311928/111915995-3cc2b000-8a79-11eb-82e9-78048da09b92.png)

[2021-03-22 12:51] prondubuisi opened #290 "Create Integration guide for Laravel"
Inline with my projections for the Linux Foundation Internship I will be making an integration guide for otel-php and laravel

[2021-03-22 18:44] bobstrecansky commented on #220
@prondubuisi is going to work on this.

[2021-03-23 02:46] #268 closed

[2021-03-23 13:17] bobstrecansky commented on #223
I was talking to a coworker about PSR-18 today, and he mentioned that Guzzle7 implements the PSR-18 interfaces natively https://github.com/guzzle/guzzle/blob/master/src/Client.php#L17

This should make our work a lot easier.

[2021-03-23 13:28] prondubuisi commented on #223
Thanks for sharing @bobstrecansky I have read this up many times, I just can't wrap my head on what the implementation will look like.

[2021-03-23 20:30] bobstrecansky commented on #244
I think this should be fixed with some of the updates in the latest `main` branch.  Would you mind retesting for me?

[2021-03-24 21:38] prondubuisi commented on #263
![image](https://user-images.githubusercontent.com/22311928/112386141-cc25c880-8cf0-11eb-84ae-56d5dc3bf4a0.png)

[2021-03-24 21:39] prondubuisi commented on #263
![image](https://user-images.githubusercontent.com/22311928/112386863-b7960000-8cf1-11eb-88ee-b515df26c8e2.png)

[2021-03-24 21:47] prondubuisi commented on #263
![image](https://user-images.githubusercontent.com/22311928/112387947-bc0ee880-8cf2-11eb-88db-eb93a4170404.png)

[2021-03-24 21:51] prondubuisi commented on #263
![image](https://user-images.githubusercontent.com/22311928/112388154-04c6a180-8cf3-11eb-8d22-abc9a9bc73b1.png)

[2021-03-24 22:07] prondubuisi commented on #263
![image](https://user-images.githubusercontent.com/22311928/112389811-a18a3e80-8cf5-11eb-89cb-e4fb78d44bf4.png)

[2021-03-25 05:13] prondubuisi commented on #263
![image](https://user-images.githubusercontent.com/22311928/112422222-d10a6c80-8d30-11eb-971c-75229e71f7cd.png)

[2021-03-25 05:14] prondubuisi commented on #263
![image](https://user-images.githubusercontent.com/22311928/112422478-470ed380-8d31-11eb-8d21-c19c6839063d.png)

[2021-03-25 15:41] #263 closed

[2021-03-25 16:50] prondubuisi commented on #224
Hello @dkarlovi can you please help us understand the issue here? Thanks

[2021-03-26 00:51] prondubuisi commented on #290
![image](https://user-images.githubusercontent.com/22311928/112561555-c6ee7980-8dd5-11eb-844c-141d22334937.png)

[2021-03-26 00:54] prondubuisi commented on #290
![image](https://user-images.githubusercontent.com/22311928/112561803-35cbd280-8dd6-11eb-8f6d-a4b60ee325b3.png)

[2021-03-26 01:41] prondubuisi commented on #290
![image](https://user-images.githubusercontent.com/22311928/112564996-90682d00-8ddc-11eb-961a-d95424489325.png)

[2021-03-26 01:44] prondubuisi commented on #290
![image](https://user-images.githubusercontent.com/22311928/112565173-e8069880-8ddc-11eb-9220-0d50b7e92139.png)

[2021-03-29 11:24] #274 closed

[2021-03-30 10:45] banish1979 commented on #244
Tested this again and the issue still remains.
We added a fix like this in our repo and it did the job.
![image](https://user-images.githubusercontent.com/18693703/112976936-17b5f780-9173-11eb-9f86-6f76f84468f7.png)

[2021-03-31 01:43] bobstrecansky commented on #244
This PR has been merged and this issue should be fixed.

[2021-03-31 01:43] #244 closed

[2021-03-31 01:44] bobstrecansky commented on #281
@Fahmy-Mohammed is working on finishing up w3c format issues, maybe he can shed some light on this issue.

[2021-03-31 11:52] dkarlovi commented on #224
@prondubuisi in general, all the details should be readable from the linked comment, no?

In this case, it's like this:

What's created:

[code]

What you get in Jaeger:
[code]

The idea is: if this happens, *all* the spans created should be flushed, not just the ones where you called flush explicitly. If I created a span, that span should be flushed in 100% of the cases.

[2021-03-31 16:23] jodeev opened #294 "Implement SpanExporter - Export() per spec"
Implement [Export()](https://github.com/open-telemetry/opentelemetry-specification/blob/b67faa4e0106cac194a837e3d419ae4fab9fc1c4/specification/trace/sdk.md#exportbatch) from [SpanExporter](https://github.com/open-telemetry/opentelemetry-specification/blob/b67faa4e0106cac194a837e3d419ae4fab9fc1c4/specification/trace/sdk.md#span-exporter) section of the spec.

For reference, these are the spec requi

[2021-03-31 16:27] jodeev opened #295 "Update Zipkin Exporter to conform to latest spec changes"
Our current implementation of the Zipkin Exporter needs an update to conform to the latest spec. See [Zipkin exporter spec](https://github.com/open-telemetry/opentelemetry-specification/blob/418016dc4014f0c64acea74881774d34178bf15a/specification/trace/sdk_exporters/zipkin.md#opentelemetry-to-zipkin-transformation).

Work items:
* A lot of mappings have changed for attributes and tags.
* add suppor

[2021-03-31 16:31] jodeev opened #296 "Implement Jaeger exporter"
We currently use Zipkin exporter as Jaeger exporter, but the latter has diverged and should have its own implementation.

See [Jaeger spec](https://github.com/open-telemetry/opentelemetry-specification/blob/418016dc4014f0c64acea74881774d34178bf15a/specification/trace/sdk_exporters/jaeger.md) .

[2021-03-31 16:42] jodeev opened #297 "Implement support for Trace Semantic Conventions"
We have not yet implemented anything for Trace Semantic Conventions, we need to do so.

See [Trace Semantic Conventions in the spec](https://github.com/open-telemetry/opentelemetry-specification/tree/418016dc4014f0c64acea74881774d34178bf15a/specification/trace/semantic_conventions#trace-semantic-conventions)

**Question: do we need to define constants for all of the attributes in the spec?**

[2021-03-31 16:46] jodeev opened #298 "Implement Error Handling: Self-Diagnostics"
See the [Error Handling](https://github.com/open-telemetry/opentelemetry-specification/blob/418016dc4014f0c64acea74881774d34178bf15a/specification/error-handling.md#error-handling-in-opentelemetry) in the spec, [Self-Diagnostics](https://github.com/open-telemetry/opentelemetry-specification/blob/418016dc4014f0c64acea74881774d34178bf15a/specification/error-handling.md#self-diagnostics).

All OpenTe

[2021-03-31 16:57] jodeev opened #299 "Implement Error Handling: Error Handlers must be configurable"
See [Error Handling spec](https://github.com/open-telemetry/opentelemetry-specification/blob/418016dc4014f0c64acea74881774d34178bf15a/specification/error-handling.md#error-handling-in-opentelemetry) -- [Configuring Error Handlers](https://github.com/open-telemetry/opentelemetry-specification/blob/418016dc4014f0c64acea74881774d34178bf15a/specification/error-handling.md#configuring-error-handlers).

[2021-03-31 17:06] jodeev opened #300 "Establish an initial Performance Benchmark for the PHP OpenTelemetry API"
We must be able to measure and report the performance of OpenTelemetry SDKs. The goal of this benchmark is to provide a tool to get the basic performance overhead of the OpenTelemetry SDK for given events throughput on the target platform.

We need to:
* provide a tool
* establish an initial benchmark per the spec, see [Performance Benchmark of OpenTelemetry API](https://github.com/open-telemetry/

[2021-03-31 17:10] jodeev opened #301 "Configuration Interface and default configuration"
We need to implement the [Default SDK Configuration](https://github.com/open-telemetry/opentelemetry-specification/blob/418016dc4014f0c64acea74881774d34178bf15a/specification/sdk-configuration.md#default-sdk-configuration).

This has two pieces:
* The SDK MUST provide a programmatic interface for all configuration. This interface SHOULD be written in the language of the SDK itself. All other confi

[2021-03-31 17:23] jodeev opened #302 "Implement Environment Variables"
Implement Environment Variables per the spec, we should follow the naming convention as specified, see [OpenTelemetry Environment Variable Specification](https://github.com/open-telemetry/opentelemetry-specification/blob/418016dc4014f0c64acea74881774d34178bf15a/specification/sdk-environment-variables.md#opentelemetry-environment-variable-specification).

SDKs MAY choose to allow configuration via

[2021-04-07 18:34] bobstrecansky commented on #224
@dkarlovi - can you clarify with some example code?  @prondubuisi and I were looking into how to fix this, but without an example it becomes difficult to diagnose and troubleshoot!  Thanks in advance!

[2021-04-08 08:48] dkarlovi commented on #224
Sure, I've just pushed an example here: https://github.com/dkarlovi/opentelemetry-php-user-test

Relevant code is:
[code]

Setup the project and access http://127.0.0.1:8000/exception, you will get this, notice that the parent span is missing:

![Jaeger-UI](https://user-images.githubusercontent.com/209225/113996605-9f78c180-9857-11eb-9d18-6834cfd43e85.png)

[2021-04-08 11:05] dkarlovi commented on #223
See example here: https://gist.github.com/dkarlovi/ec38d1c4cc47b85609c6e2bffa2451e5

The requirement is to inject three things instead of one (which is the cost of abstracting, and one design mistake in the PSR spec could have made it two).

The usage can be seen here: https://github.com/dkarlovi/opentelemetry-php-user-test

My proposal would be this:
1. make a package-specific HTTP client wrapper

[2021-04-08 11:11] dkarlovi commented on #223
Rough idea of the "wrapper" which gets injected into all exporters, the

[code]

[2021-04-08 12:30] dkarlovi commented on #300
I suggest looking at https://phpbench.readthedocs.io/en/latest/

[2021-04-08 17:52] bobstrecansky commented on #224
Thank you @dkarlovi !

@prondubuisi - are you planning on working through this ticket?  I'll assign it to you.

[2021-04-09 09:01] dkarlovi commented on #226
This part is related to #224.

[2021-04-09 09:14] dkarlovi commented on #219
I think a more correct term would be "debug mode". In debug mode (assumed to be used in the dev env), SDK could point out helpful (verbose) error messages and hints during the instrumentation process.

Symfony offers a debug mode which allows the entire framework to spring (pun intended) into action and provide the developer with loads of additional tools, hints, messages, etc, none of which is do

[2021-04-12 14:58] #222 closed

[2021-04-12 14:58] #175 closed

[2021-04-13 05:03] prondubuisi commented on #290
![image](https://user-images.githubusercontent.com/22311928/114498827-b5ea9880-9c1c-11eb-8603-dc1bc0400f77.png)

[2021-04-13 05:17] prondubuisi commented on #290
![image](https://user-images.githubusercontent.com/22311928/114500443-ea138880-9c1f-11eb-84c8-820bd8da8350.png)

[2021-04-14 12:43] bobstrecansky commented on #227
@prondubuisi - did you ever dig into confirming the visibility of the exception properties with Jaeger and Zipkin?

[2021-04-14 17:44] #217 closed

[2021-04-14 17:47] #181 closed

[2021-04-14 17:58] bobstrecansky opened #307 "Github action to generate new proto files"
We'd like to generate proto files with a github action.  This could be done as part of a release process or when we are alerted there is a new version of the protobuf definition.

[2021-04-14 19:04] #290 closed

[2021-04-19 05:41] prondubuisi commented on #226
Hello @dkarlovi does this mean we can consider this fixed, if we fix Issue #224

[2021-04-21 16:28] huggsboson opened #309 "RFI: Expected usage model"
I've been trying to integrate this library into an existing PHP code base with its own custom controller frameworks and library facilities and whatnot.  I've looked through all of the PHP examples and less so the specs.  The most helpful guide I've found thus far is in the java quick start guides:
https://opentelemetry.io/docs/java/manual_instrumentation/

It is pretty clear about setting up an `O

[2021-04-21 20:09] prondubuisi commented on #309
Hello, @huggsboson we have a [composer package](https://packagist.org/packages/open-telemetry/opentelemetry) for OpenTelemetry-PHP and while most of the recent improvements are still unreleased(only available in dev-main), [version 0.0.1 ](https://packagist.org/packages/open-telemetry/opentelemetry#v0.0.1)offers great insights into our APIs(these are pretty consistent both now and as we head towar

[2021-04-22 00:19] prondubuisi commented on #263
![s1](https://user-images.githubusercontent.com/22311928/115637047-3e48f780-a307-11eb-9f75-2a5d033b572a.png)
![s2](https://user-images.githubusercontent.com/22311928/115637051-4012bb00-a307-11eb-93b4-703b766f6324.png)
![s3](https://user-images.githubusercontent.com/22311928/115637055-4143e800-a307-11eb-8bb3-44060e5661fc.png)
![s4](https://user-images.githubusercontent.com/22311928/115637058-41dc7e

[2021-04-22 00:40] prondubuisi opened #310 "Make User guides more accessible"
Images for the user guides are quite large, also there is no mention of the user guides in the readme file.

[2021-04-22 00:48] #310 closed

[2021-04-22 22:13] huggsboson commented on #309
Hi @prondubuisi !  Thanks for the quick response.  I do appreciate all of the samples, but they seem targetted at small toy examples and don't help me understand best practices for a system with 50+ PHP library authors and tons of contributors.

I think my main issues with the library as-is are:
We have a number of internal library authors.  In otel-java world a library author would bind to the AP

[2021-04-29 10:36] Victorzsg opened #313 "wrong variable in Otlp Exporter"
in file opentelemetry\contrib\Otlp\Exporter.php
current

if ($this->protocol == 'json') {
    $headers = ['content-type' => 'application/json', 'Content-Encoding' => 'gzip'];
}

should

if ($this->protocol == 'json') {
    $this->headers = ['content-type' => 'application/json', 'Content-Encoding' => 'gzip'];
}

[2021-04-29 23:04] #313 closed

[2021-05-04 21:47] raythang opened #321 "TypeError from calling TraceContext::extract(getallheaders(), ...)"
### Describe your environment
- php (fpm-fcgi) 7.3.21
- nginx 1.15.6

### Steps to reproduce
[code]

### What is the expected behavior?
No TypeError is raised, and the context is successfully extracted.

### What is the actual behavior?
The `extract` call above induces the following:
[code]

### Additional context

`getallheaders` returns an associative array of request headers (name => value)
htt

[2021-05-05 15:47] Fahmy-Mohammed commented on #321
Hi @raythang,

Thanks for highlighting this error. I will work on a fix for this today.

[2021-05-05 16:17] deki commented on #265
I was able to reproduce this error as well. Just a note: The pull request and the implementation are dealing with gRPC but the error above occurs when using HTTP. However the proto stuff can probably be reused to get the HTTP exporter working as well. Currently there is only a simple json_encode but the spec https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/prot

[2021-05-05 16:32] zsistla commented on #265
Hi @deki, thanks for you engagement and feedback!  While the the OTLP exporter is in active development [here](https://github.com/open-telemetry/opentelemetry-php/pull/272), I believe there is also another [PR](https://github.com/open-telemetry/opentelemetry-php/pull/323) up to address this issue.

[2021-05-05 17:47] bobstrecansky opened #324 "OTLP/GRPC exporter implementation - Links aren't implemented."
We need to improve the `links` implementation in our SDK and add functionality for them to be used in our OTLP/GRPC exporter implementation.

[2021-05-05 17:48] bobstrecansky opened #325 "OTLP/GRPC exporter implementation - InstrumentationLibrary not implemented"
InstrumentationLibrary is not implemented (Needs work in the SDK, comparing how it's implemented in opentelemetry-go)

[2021-05-05 17:49] bobstrecansky opened #326 "OTLP/GRPC exporter implementation - Test improvements"
the OTLP / GRPC Exporter could use some more tests (either acceptance or mocking the Grpc Client)

[2021-05-05 17:49] bobstrecansky opened #327 "OTLP/GRPC exporter implementation - SpanConverter functions should return an empty object"
A number of the SpanConverter functions should really return an empty object for the respective type, rather than a partially constructed object.

[2021-05-05 17:51] bobstrecansky opened #328 "OTLP/GRPC exporter implementation - Missing retries on Exporter errors"
We're missing retries on Exporter errors: https://github.com/open-telemetry/opentelemetry-specification/blob/318745aaf6fb173eb5cbc887ab76796bd817b3d6/specification/protocol/exporter.md#retry

[2021-05-05 19:27] raythang commented on #321
Thanks @Fahmy-Mohammed lmk if you need more detail.

[2021-05-05 20:28] deki commented on #281
Just hit the same issue. I think the problem is that `startActiveSpan` always calls `SpanContext::generate(true)` and this uses `randomHex` instead of the `IdGenerator`.

[2021-05-07 14:35] deki commented on #265
Hi @zsistla, I'm the creator of that PR and can tell you it doesn't address the issue. It is still necessary to adapt the JSON-encoding to use Protobuf payloads.

[2021-05-07 15:43] Fahmy-Mohammed commented on #321
#329 should fix this issue. Please us know if there are any other issues related to this.

[2021-05-08 02:45] adhocore opened #330 "A new release please"
It has been more than 6 months since the first-ever release - even that was a pre-release.
So I strongly believe a new version release is a long-standing issue. One for we don't want to use `dev-master` in production but rather fixed version constraint per semver.

Please consider it.

(I had to ping it before as well #166)

---
Edit: It seems like we want to do a release once everything is very s

[2021-05-08 02:54] prondubuisi commented on #330
Hello @adhocore, we are very close to a new release. You can keep track of what we have pending to get [there](https://github.com/open-telemetry/opentelemetry-php/milestone/2).

[2021-05-11 07:19] prondubuisi commented on #220
Hello @dkarlovi , I am getting started with this task later in the day, are there any goals that we have for this? Also, I think the official[ Symfony docs](https://symfony.com/doc/current/bundles.html) are exhaustive on building bundles, but if you have additional resources that can help us reach the goal for the bundle that would be nice.

[2021-05-11 08:29] prondubuisi commented on #220
Okay @dkarlovi , noted with thanks.

[2021-05-11 12:53] bobstrecansky commented on #130
This has been completed by @SeanHood in https://github.com/open-telemetry/opentelemetry-php/pull/272

[2021-05-11 12:53] #130 closed

[2021-05-12 17:40] bobstrecansky opened #333 "Document developer experience"
@umegbewe mentioned in slack that the documentation for setting up a development enviornment is unclear.

This goal of this ticket is to make that documentation a little bit more clear so that people can get up to speed developing on this project quickly.

[2021-05-13 00:38] #333 closed

[2021-05-19 14:23] #259 closed

[2021-05-19 17:35] #281 closed

[2021-05-19 17:51] bobstrecansky commented on #309
Hey @huggsboson !

We don't yet have autoinstrumentation implemented in this project - it would be very difficult to perform that action for PHP at this time.  If you have ideas about how you'd like to implement this, we'd love to hear them.  PRs are always welcome and encouraged.

A working model that is used by PHP Alexa top 1000 companies is as follows:

1. Create an internal use library that i

[2021-05-19 19:05] huggsboson commented on #309
Hi Bob,

Thanks so much for the response!

I wasn't as interested in auto-instrumentation, and more wondering about manual instrumentation best practices.  It seems like some of the nice features like the java land has around an API\OpenTelemetry interfacethat serves as a factory for Tracers for library owners is basically non-existent in the PHP library.  The SDK\OpenTelemetry class (which implem

[2021-05-21 22:57] KKelvinLo opened #339 "Need for a Viable Security Scan Tool"
A security workflow does not currently exist as part of the CI/CD or security workflows in the PHP repository. This is to satisfy the requirements as per open-telemetry/opentelemetry-specification#1333.

CodeQL is the common security scanning tool that is used currently for all of OpenTelemetry’s supported language repositories (Go, Java, Javascript, Python, C++, etc.). Since CodeQL does not offer

[2021-05-22 04:33] prondubuisi commented on #339
Hello @KKelvinLo, I think we have some of these tools Integrated as part of our CI/CD, you can check [here ](https://github.com/open-telemetry/opentelemetry-php/blob/main/.github/workflows/php.yml#L27). As always, It doesn't hurt to add more static analysis tools.

[2021-05-22 13:42] bobstrecansky commented on #339
@KKelvinLo - thanks for opening this ticket.  We're happy to implement a code scanning tool!  The ones we have presently are sufficient for much of our static analysis, but it's true that we currently don't have anything for security workflows.

It looks like the Psalm security scan could be pretty easy for us to integrate; I'll give that a go.

[2021-05-25 23:50] prondubuisi opened #341 "Add PHPStan command as requirement for Pull requests"
PHPStan is a requirement for passing CI/CD checks for this project, but this is not documented in the readme. This issue seeks to address that.

[2021-05-26 18:25] #341 closed

[2021-05-26 20:53] bobstrecansky commented on #339
@KKelvinLo - I've add [this PR](https://github.com/open-telemetry/opentelemetry-php/pull/344) and I think it's sufficient for your requirements.

[2021-05-26 23:53] frazjp65 commented on #330
Do we know when this will be out of alpha?

[2021-05-27 02:18] #339 closed

[2021-05-27 02:19] KKelvinLo commented on #339
Cool! I think it suffices, if not then we can reopen the issue :)

[2021-05-27 18:34] bobstrecansky commented on #330
A new release has been published:
https://github.com/open-telemetry/opentelemetry-php/releases/tag/0.0.2

We aren't yet certain when we'll be out of alpha.  We have a bunch of open issues that need to get finished before we can cut a beta release.

[2021-05-27 18:34] #330 closed

[2021-05-28 15:11] anilreddydonthireddy opened #345 "Steps to send php application traces to Otel collector"
Hi,

I have PHP and composer installed on my windows. The versions installed are as below

C:\Users\XXX>php --version
PHP 8.0.6 (cli) (built: May  4 2021 23:31:41) ( NTS Visual C++ 2019 x64 )
Copyright (c) The PHP Group
Zend Engine v4.0.6, Copyright (c) Zend Technologies

C:\Users\XXX>composer --version
Composer version 2.0.14 2021-05-21 17:03:37

Now when I go to opentelemetry-php folder which is

[2021-05-28 16:08] prondubuisi commented on #345
Hello @anilreddydonthireddy , I tried to replicate this issue locally

[code]
It appears you are trying to require this package, within itself, hence the error.
You should instead require the package within the Project you are trying to export traces from.

Here are some examples on how to instrument your PHP application using this package, [here](https://github.com/open-telemetry/opentelemetry-ph

[2021-05-31 14:23] anilreddydonthireddy commented on #345
@prondubuisi  Thanks a lot for your reply. the links provided are helpful to understand the integration.

In my requirement I want to write traces logs to open telemetry collector as I have collector writing to my required database.

Is there any example that helps to write the trace logs of php application to open telemetry collector.

[2021-05-31 14:38] prondubuisi commented on #345
Great @anilreddydonthireddy, I don't have much experience with Collectors, but I am sure @bobstrecansky can pitch in

[2021-06-01 13:21] bobstrecansky commented on #345
We don't have any explicit documentation on writing to the collector, as that capability is relatively new to our project.  You should be able to use the [OTLP GRPC example](https://github.com/open-telemetry/opentelemetry-php/blob/main/examples/AlwaysOnOTLPGrpcExample1.php) to give you a general idea of how to write to the collector.  If that isn't clear enough, we will be happy to continue troubl

[2021-06-01 16:10] anilreddydonthireddy commented on #345
@bobstrecansky  thanks a lot for your response.

I have gone through the example code shared above. It looks good. I could not understand where can I configure the otel collector address in the code. I need to point application to write traces to remote otel collector (for example: http://<hostname>:55680.

@bobstrecansky  Please help me to configure the otel collector url.

Thanks,
Anil.

[2021-06-01 17:06] bobstrecansky commented on #345
@anilreddydonthireddy -  you should be able to use an environment variable to set the value of the collector:

https://github.com/open-telemetry/opentelemetry-php/blob/main/contrib/OtlpGrpc/Exporter.php#L82

In your example, you'd probably want to set `OTEL_EXPORTER_OTLP_ENDPOINT` to `http://55680`

[2021-06-01 20:11] ohamuy commented on #121
Hi, I could definitely take this up!

@alolita

[2021-06-01 20:13] alolita commented on #120
@bobstrecansky should this issue be closed given #257 is merged.

[2021-06-01 20:20] alexperez52 commented on #307
Hi 👋,
Can I be assigned to this ?
@alolita

[2021-06-01 21:40] bobstrecansky commented on #307
This issue should be closed; this is going to be done upstream, this issue was never updated accordingly.

[2021-06-01 21:40] #307 closed

[2021-06-01 21:40] #120 closed

[2021-06-01 23:14] ohamuy commented on #121
Hey,

@bobstrecansky I was wondering there can i find the specs for the ValueObserver? The provided link does not include the specifications for it! Am I missing something?

[2021-06-02 04:03] prondubuisi commented on #121
Hello @ohamuy the specs for the Metrics API should be available [here ](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/api.md), It appears that `ValueObserver`, as well as other observers, have been removed from the specs.

I think these changes took place with this [commit](https://github.com/open-telemetry/opentelemetry-specification/tree/12b5b27d4b

[2021-06-02 12:44] bobstrecansky commented on #307
@alexperez52 - happy to help you find another issue to work on if you'd like!  You should be able to take any of the ones in the [Tracing Project](https://github.com/open-telemetry/opentelemetry-php/projects/1)

[2021-06-02 12:46] bobstrecansky commented on #345
@anilreddydonthireddy - did this solve your issue?

[2021-06-02 12:58] bobstrecansky commented on #121
Yeah this looks to be a very vestigial issue!  I think we can close it.  @ohamuy - happy to help you find another issue; you should be able to pick anything in the [Tracing Project](https://github.com/open-telemetry/opentelemetry-php/projects/1)

[2021-06-02 12:58] #121 closed

[2021-06-02 13:01] bobstrecansky commented on #119
This was removed from the spec, removing here.

[2021-06-02 13:01] #119 closed

[2021-06-02 14:09] alexperez52 commented on #307
@benagricola Awesome, thank you !

[2021-06-02 14:14] alexperez52 commented on #239
Hello,
I'd like to take on this issue

[2021-06-02 15:09] anilreddydonthireddy commented on #345
@bobstrecansky
I created new php project and installed open-telemetry package to the project.
When I run the above example as below, I am getting below error

************************
php -f AlwaysOnOTLPGrpcExample1.php
PHP Fatal error:  Uncaught Error: Class "grpc\ChannelCredentials" not found in C:\Users\anil.donthireddy.BDELYSIUM\Documents\GitWorkspace\TestPHPAnil\vendor\open-telemetry\opentele

[2021-06-02 17:37] bobstrecansky opened #347 "OTLP HTTP support"
We'd like to implement OTLP http support to follow the OTLP protocol.

cc:\ @SeanHood, as he mentioned he'd like to work on this.

[2021-06-02 17:38] SeanHood commented on #347
I'll have a go at this one

[2021-06-02 17:42] bobstrecansky opened #348 "Implement Links from the specification"
We need to implement the Links functionality in the specification:

https://github.com/open-telemetry/opentelemetry-specification/blob/b46bcab5fb709381f1fd52096a19541370c7d1b3/specification/overview.md#links-between-spans

@zsistla mentioned she'd like to tackle this.

[2021-06-02 18:40] bobstrecansky commented on #345
The constructor you are getting an error for lives here:
https://github.com/open-telemetry/opentelemetry-php/blob/main/contrib/Otlp/Exporter.php#L81

Are you passing any other values?  If you could share some example code I might be able to understand where things are going awry.

[2021-06-03 04:25] anilreddydonthireddy commented on #345
@bobstrecansky I am using the example code AlwaysOnOTLPExample.php

[2021-06-03 14:54] bobstrecansky commented on #345
I'm conferring with the other people who created this; will get back to you as son as I hear back.

[2021-06-03 15:02] anilreddydonthireddy commented on #345
Thanks @bobstrecansky

I tried below and see the logs in terminal showing exporting the traces, but the records are not being pushed to my otel collector.

I see the env variable OTEL_EXPORTER_OTLP_ENDPOINT set to my otel collector address.

*********************
C:\Users\xxxxxx\Documents\GitWorkspace\opentelemetry-php\examples>php -debug -f AlwaysOnOTLPExample.php
Starting OTLPExample
Exporting T

[2021-06-03 16:18] alexperez52 commented on #184
Hi,
I'd like to take this issue if it's available!

[2021-06-03 16:32] bobstrecansky commented on #184
@prondubuisi - that alright with you? ^

[2021-06-03 17:18] prondubuisi commented on #184
Hello @alexperez52, please go for it. It is available.

[2021-06-04 02:51] alexperez52 commented on #184
Hello,
Both Jaeger and Zipkin exporters take the same arguments; However the Newrelic and Otlp exporters have a different arrangement of arguments.
Should they all still be produced through the same factory ?

[2021-06-04 06:39] dkarlovi commented on #184
@alexperez52 yes, that's the idea.

[2021-06-05 10:42] dkarlovi commented on #184
My general idea is to put common things into the base URL and put exporter-specific things into the query string, like so:

[code]

The options in the query string are exporter specific, for example for New Relic you'd pass the licence key using it.

ie:

[code]

You could do all this using for example https://github.com/Nyholm/dsn

[2021-06-08 13:07] tydhot opened #350 "failed to run 'composer require open-telemetry/opentelemetry' in Integrating Opentelemetry PHP into Laravel Applications"
I have succeeded run the step 1 in this guide. But every time I run the command in step 2, I will always fail to run it. I am new to php, and I have no idea to solve this problem.

<img width="759" alt="image" src="https://user-images.githubusercontent.com/27889201/121190279-78f9f580-c89d-11eb-8364-ba570eafe0a5.png">

[2021-06-08 14:56] prondubuisi commented on #350
Hello @tydhot , the integration guide for Laravel and Symfony needs to be updated to reflect changes with `OpenTelemetry-PHP v.0.0.2`. for version ` v.0.02` we allow the package users to specify their preferred HTTP requirements, rather than doing that by ourselves like in version `v.0.0.1`

For a temporary fix try requiring

`composer require guzzlehttp/psr7:2.0.0-rc1`

before your require

` com

[2021-06-09 02:29] tydhot commented on #350
@prondubuisi Thanks! I will try it now :)

[2021-06-09 03:25] tydhot commented on #350
hi @prondubuisi , I have success to require otel dependency in the project, I copy the code like below.
<img width="529" alt="image" src="https://user-images.githubusercontent.com/27889201/121287870-fc0a6280-c914-11eb-8cb3-4fc773eec9ae.png">
But after I start server, it would be a error like this:
<img width="1295" alt="image" src="https://user-images.githubusercontent.com/27889201/121287927-17756

[2021-06-09 04:06] prondubuisi commented on #350
Hello @tydhot , looks like we have further changes introduced by `v.0.0.2`. I think it would be better  for me to create  a sample application locally, then update the docs.

I will tag you here once that is done by the weekend. Thanks.

[2021-06-09 06:12] tydhot commented on #350
@prondubuisi thanks !

[2021-06-09 10:22] SeanHood commented on #184
Just saw the PR go past so thought I'd jump into the discussion. Firstly I really like this idea, looks to make it much easier to integrate the SDK into applications.

However I am curious how passing headers could be supported? For instance in the OtlpGrpc exporter headers can be set to pass write keys/dataset names; this is how services like Lightstep and Honeycomb.io work (can't find docs for O

[2021-06-09 17:43] #235 closed

[2021-06-09 17:50] bobstrecansky commented on #184
cc:\ @zsistla for awareness here.

[2021-06-10 12:56] #269 closed

[2021-06-14 05:07] anilreddydonthireddy commented on #345
@bobstrecansky

Can I get some help to figure out why the trace logs are not logging to otel collector

[2021-06-14 07:58] Nevay opened #356 "API as decoupled dependency"
The current separation between API and SDK (currently /api=API+SDK interfaces, /sdk=implementation) does not match the [design specification](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/library-guidelines.md#opentelemetry-client-generic-design), which describes the API package as a decoupled and self-sufficient dependency.

I went over the API specificatio

[2021-06-14 12:21] bobstrecansky commented on #356
@Nevay - this sounds like a great thing to bring up on our weekly SIG meeting.  I'll be sure to add it to the agenda.

[2021-06-15 13:13] parshikov opened #357 "OTLP/GRPC exporter implementation - `Cannot convert '' to string` exception on empty `parent_span_id` with ext-protobuf"
**Environment**
docker image: `php:7.4.20-fpm-alpine`
related php-ext enabled: `grpc-1.38.0`, `protobuf-3.17.3`
library: `open-telemetry/opentelemetry: 0.0.2`,
jaeger metrics collector: `jaegertracing/opentelemetry-all-in-one`

**Steps to reproduce**
[code]

**What is the expected behavior?**
Tracing information appears in jaeger

**What is the actual behavior?**
Exception: **Cannot convert '' to

[2021-06-15 13:32] parshikov opened #358 "SDK implementation of span incorrectly sets the time of event"
**Steps to reproduce**
[code]

**What is the expected behavior?**
Exception event timestamp is set with precision specified in [specification](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/trace/api.md#add-events): milli-, micro- or nanoseconds.

**What is the actual behavior?**
[It uses built-in PHP `time()` function](https://github.com/open-telemetry/opent

[2021-06-15 13:41] prondubuisi commented on #358
Hello @parshikov are you visualizing this using Jaeger? Asking because we have been unable to see traces on Jaeger for some days now. cc @bobstrecansky

[2021-06-15 14:20] bobstrecansky commented on #358
@prondubuisi - looks like @Nevay's PR linked above should hopefully alleviate the issue!

[2021-06-15 14:22] prondubuisi commented on #358
Hello @bobstrecansky, I think both are two different issues D:

[2021-06-15 14:30] bobstrecansky commented on #358
Oh shoot, I commented on the wrong issue.  Reopening.

[2021-06-15 15:33] parshikov commented on #358
@prondubuisi Yes, it is visualised via Jaeger

[2021-06-15 17:24] alolita opened #360 "Adding AWS X-Ray Support to the OpenTelemetry PHP Library"
*Is your feature request related to a problem?*
The OpenTelemetry (OTEL) PHP repository currently has no support for integration with AWS X-Ray. OTEL users are not able to use it’s efficient trace ingestion and exporting with X-Ray as a back end using the OTEL PHP library (API and SDK). The use of OTEL with AWS X-Ray provides developers an efficient method of tracking traces through their applicat

[2021-06-15 17:25] alolita commented on #360
@bobstrecansky please assign @ohamuy to this project. Many thanks!

[2021-06-15 17:34] bobstrecansky commented on #360
Done, thanks @alolita!

[2021-06-16 08:04] prondubuisi commented on #350
Hello @tydhot, I have made updates as promised, can you help review this? https://github.com/open-telemetry/opentelemetry-php/pull/361

[2021-06-16 08:10] tydhot commented on #350
@prondubuisi Great, thanks a lot! I'll try it later.

[2021-06-16 13:27] tydhot opened #362 "How can I send span data to Otel-collector"
I found that collector already have jaeger receiver new, can Otel-php just send span data to it now? If it can be done, which uri  should I write in code?
If it can't be, is there any other way to send span to collector?

[2021-06-16 17:25] #350 closed

[2021-06-16 17:43] alolita commented on #356
This should be clarified in the spec because this is a language dependent.

[2021-06-16 20:10] Nevay opened #363 "Tracer - remove tracer-scoped "active" span API in favor of global, context-scoped spans"
**Is your feature request related to a problem?**
Some of the current tracer API is centered around tracer-scoped active spans. These methods seem to predate the addition of the global context propagation, the global context should be used instead (as already done for `::startSpan()` in #264).

**Describe the solution you'd like**
Tracer-scoped spans should be replaced with usage of global, contex

[2021-06-21 16:25] bobstrecansky commented on #356
We brought this up in the Maintainers meeting today, I'll be working on an OTEP to update the spec accordingly.

[2021-06-22 18:23] codeboten commented on #345
I was running into this issue as well with the OtlpGrpc exporter. I ended up needing to install the grpc extension for php and running the code with the `php -d extension=grpc.so`

[2021-06-22 21:10] codeboten opened #366 "exporter: metadataFromHeaders doesn't parse metadata from headers"
**Describe your environment**
The behaviour should be the same in all environments.

**Steps to reproduce**
I tried passing the following grpc metadata `"key=value"` through the `OTEL_EXPORTER_OTLP_HEADERS` env var.

**What is the expected behavior?**
`metadataFromHeaders` should return an array of key-value pairs

**What is the actual behavior?**
`metadataFromHeaders` returns an empty array

**Ad

[2021-06-23 08:44] SeanHood commented on #366
I wrote this bug, thanks for the fix. I've since fixed this function in the OTLP/HTTP Exporter too: https://github.com/open-telemetry/opentelemetry-php/pull/352/files#diff-7647e46a46d56d0305529c854be2ed3e426753de16771166d2244f2b9a16405aR186-R204

[2021-06-23 12:43] #366 closed

[2021-06-23 12:43] bobstrecansky commented on #366
This fix has been merged.

[2021-06-23 17:51] codeboten opened #368 "insecure env variable not interpreted correctlt"
**Steps to reproduce**
I used the OtlpGrpc\Exporter with `OTEL_EXPORTER_OTLP_INSECURE` env variable set to `false`

**What is the expected behavior?**
The grpc connection is established using a **secure** connection.

**What is the actual behavior?**
The grpc connection is established using an **insecure** connection

**Additional context**
The code that translates the env variable is not translat

[2021-06-23 22:43] ohamuy opened #370 "Issue: Folder Structure for PHP-Contrib Repo"
**Is your feature request related to a problem?**
There is currently no set folder structure for the current OpenTelemetry-PHP-Contrib repository. This is necessary for efficient and organized development to occur.

**Describe the solution you'd like**
The following folder structure suggested is similar and established in other contrib repos:
The structure consists of 5 higher level folders: detec

[2021-06-23 22:44] #370 closed

[2021-06-24 21:40] ohamuy opened #371 "Change TraceContext Propagator Error Handling"
**Is your feature request related to a problem?**
Currently the traceContext propagator `extract()` function throws exceptions which is not up to specifications. If a value cannot be parsed from the carrier, the implementation must not throw an exception and must not store a new value in the Context, in order to preserve any previously existing valid value.

This is the file the issue is in:
https

[2021-06-25 01:58] #368 closed

[2021-07-06 21:03] #371 closed

[2021-07-13 20:28] ohamuy opened #376 "Semantic Convention Generator"
*Is your feature request related to a problem?*
This is an issue that covers similar ideas to issue #297

Currently there is no semantic convention generator to generate constants

*Describe the solution you'd like*

A semantic convention generator should be added as detailed in the following specifications:

https://github.com/open-telemetry/build-tools/tree/main/semantic-conventions

*Describe a

[2021-07-14 00:41] ohamuy opened #377 "Incorrect ID Generation in Tracer and SpanOptions classes"
*Is your feature request related to a problem?*
Issue with Tracer:

Currently the Tracer file uses the generator defined within SpanContext to generate a SpanContext object at the line specified below. Instead the id generation should depend on the Id generator provided within the TraceProvider and should then insert this traceId into a new SpanContext.

Occurs here: https://github.com/open-teleme

[2021-07-14 00:43] ohamuy opened #378 "Remove SpanContext Hard Coding and Improve Insufficient Validation"
*Is your feature request related to a problem?*
Issues with SpanContext:

There are hard coded values are self::randomHex(8), $sampled ? 1 : 0 within the generate() and fork() functions for random generation of trace and span Ids.

The generate function should only be used for testing convenience.

The isValid() method does almost no validation at all, the functions previously added in PR #374 wil

[2021-07-14 18:36] ohamuy opened #379 "Circular and Vestigial Functions in SpanContext"
*Is your feature request related to a problem?*

The `SpanContext` is creating trace and span ids when that is a job that should be done by the `IdGenerator`. There are a few functions that should not exist within the `SpanContext` class:

* `generate()`
* `generateSampled()`
* `fork()`
* `restore()`
* *` randomHex()`

These functions generate a `SpanContext` with the built in `randomHex()` functi

[2021-07-16 07:11] #378 closed

[2021-07-17 20:39] #377 closed

[2021-07-19 07:02] hrodic opened #382 "Full otel example"
**Is your feature request related to a problem?**
What is the recommended way to propagate trace between 2 distributed applications?

**Describe the solution you'd like**
I would like to have a full example (if possible docker-composed)  in examples/ folder that does something like this
1. service 1 trace starting and generation of spans
2. service 1 injects trace context to the headers and sends

[2021-07-21 19:36] SeanHood opened #383 "Merge HTTP and GRPC OTLP Exporters into a single interface"
**Is your feature request related to a problem?**
As a telemetry implementer, I'd like to easily switch between OTLP/HTTP and OTLP/GRPC

**Describe the solution you'd like**
There should be a single OTLP Exporter interface, which based on a configuration option based on `OTEL_EXPORTER_OTLP_PROTOCOL` should accept `http/protobuf` or `grpc` and use the correct Exporter accordingly.

What this interf

[2021-07-28 16:13] ohamuy opened #386 "Add New GH Action Command"
*Is your feature request related to a problem?*
Github Actions sometimes will not recognize new classes or other additional files when running PHPUnit.

A fix was added to the opentelemetry-php-contrib repo that should also be implemented here.

*Describe the solution you'd like*

The new command that needs to be added is the following:

[code]

This simply runs composer update to update the cache

[2021-07-28 17:02] #386 closed

[2021-07-28 17:33] bobstrecansky commented on #382
@ohamuy is planning on working on a full fledged AWS example, I'm going to tag him on this.

[2021-07-30 18:36] ohamuy opened #388 "Replace Insufficient Stacktrace Function"
*Is your feature request related to a problem?*
Currently, the recording of exceptions that happen on any given span uses the built in PHP function getTraceAsString() in the Span class: https://github.com/open-telemetry/opentelemetry-php/blob/b42895ab2b5e548e46ca7dd4828b7dcdcd570044/sdk/Trace/Span.php#L228

This function simply returns a PHP stacktrace of which functions were called prior to the e

[2021-08-02 16:07] bobstrecansky opened #389 "Change the OTLP HTTP port"
https://github.com/open-telemetry/opentelemetry-specification/pull/1839

We need to change the default OTLP HTTP port from 4317 to 4318

[2021-08-03 20:25] ohamuy commented on #388
This has already in the works if you can assign this to me @bobstrecansky

[2021-08-05 13:47] bobstrecansky commented on #383
@SeanHood - are you planning on working on this ticket or are you hoping someone else will work on it?

[2021-08-05 13:48] bobstrecansky commented on #363
@Nevay - I think this can be closed?

[2021-08-05 13:58] #363 closed

[2021-08-05 14:01] bobstrecansky commented on #362
@tydhot - I'm sorry, I completely missed this issue.

You should be able to use our examples to understand how to send data to the collector.

The [Makefile collector](https://github.com/open-telemetry/opentelemetry-php/blob/main/Makefile#L26-L29) command sends to a collector.

You should be able to run a `make collector` command (after you've run a `make install`) to be able to send some test exa

[2021-08-05 14:02] bobstrecansky commented on #357
@parshikov - I think this should be solved with #352 - can you please reopen if it's not completely fixed for you?

[2021-08-05 14:08] bobstrecansky commented on #356
@alolita and I are still working through this; stay tuned!

[2021-08-05 14:09] bobstrecansky commented on #347
@SeanHood I think this can be closed?

[2021-08-05 14:09] #347 closed

[2021-08-05 14:10] bobstrecansky commented on #345
@anilreddydonthireddy - Did @codeboten's response help you?

[2021-08-05 14:10] SeanHood commented on #347
Yes, thanks!

[2021-08-05 14:20] bobstrecansky commented on #309
@huggsboson - I'm sorry I missed your response.
I'm assuming we'll add those in the future.

[2021-08-05 14:23] bobstrecansky commented on #300
I think we should complete this after https://github.com/open-telemetry/opentelemetry-php/issues/382

cc;\\ @ohamuy

[2021-08-05 14:24] bobstrecansky commented on #297
This is a duplicate of https://github.com/open-telemetry/opentelemetry-php/issues/376

[2021-08-05 14:24] #297 closed

[2021-08-05 14:26] bobstrecansky commented on #283
@prondubuisi - just wanted to follow up with you and check on the status of this issue.

[2021-08-05 14:28] bobstrecansky commented on #265
@deki - I think this should be solved now because the OTLP exporter has been implemented.  Please reopen this if that's not the case!

[2021-08-05 14:28] #265 closed

[2021-08-05 14:31] bobstrecansky commented on #240
@beniamin - are you still planning on working on this?

[2021-08-05 14:32] #236 closed

[2021-08-05 14:32] bobstrecansky commented on #228
@riticksingh - what's the status of this?

[2021-08-05 14:33] bobstrecansky commented on #227
@prondubuisi - just following up here.

[2021-08-05 14:34] bobstrecansky commented on #226
@zsistla - would you like me to assign this to someone else, or would you like to finish it up?

[2021-08-05 14:35] bobstrecansky commented on #224
@prondubuisi - are you still planning on working through this?

[2021-08-05 14:36] bobstrecansky commented on #223
@prondubuisi - are you still planning on working through this?

[2021-08-05 14:36] bobstrecansky commented on #220
@prondubuisi - are you still planning on finishing this up?

[2021-08-05 14:38] bobstrecansky commented on #184
This is closed with https://github.com/open-telemetry/opentelemetry-php/pull/351

[2021-08-05 14:38] #184 closed

[2021-08-05 15:17] prondubuisi commented on #220
Hello @bobstrecansky , I intend to continue work on all the tasks I am tagged on.  Thanks

[2021-08-05 17:57] #388 closed

[2021-08-05 19:56] bobstrecansky commented on #294
OTLP has this functionality, we should make sure we test this properly.

It has to pass all of the OTLP protocol tests!

[2021-08-05 20:02] alolita opened #393 "Define and add stability milestones for PHP API/SDK"
It would be helpful to define stability milestones for the PHP library with clear alpha, beta, stable release requirements and tasks. The current state of the PHP library is Alpha.

The Beta requirements have been itemized here by @bobstrecansky - https://github.com/open-telemetry/opentelemetry-php/issues?q=is%3Aissue+is%3Aopen+label%3Arelease%3Arequired-for-beta

We should consider multiple beta

[2021-08-06 12:15] #228 closed

[2021-08-09 21:39] #325 closed

[2021-08-12 22:50] ohamuy commented on #360
This has been implemented in the contrib repository. Please visit there for more information

[2021-08-12 22:54] ohamuy commented on #382
Hello @hrodic! I have implemented two example applications in the contributor repo. There is a README for all the necessary installations. These examples should work with other backends as well if you would want to use something alternative to AWS X-Ray

[2021-08-12 22:54] #360 closed

[2021-08-12 22:55] ohamuy commented on #382
I hope it is sufficient for your request! In the future there should be more robust examples with actual web applications coming out

[2021-08-14 03:20] bobstrecansky commented on #389
This has been completed with #398 .

[2021-08-14 03:20] #389 closed

[2021-08-16 16:06] SeanHood commented on #383
Happy to work on it, had a few ideas over the weekend.

I'm thinking a new class e.g. `OpenTelemetry\Contrib\Otlp\ConfigOpts()` which could then be passed to either the OtlpGrpc or OtlpHttp Exporters.

End users would see some interfaces like so:

[code]

or

[code]

`ConfigOpts()` would also take care of figuring out all of the Env var configuration and precedence.

This idea doesn't quite go far

[2021-08-17 08:26] SeanHood opened #400 "Proposal: Donation of laravel-opentelemetry to opentelemetry-php-contrib"
In my first foray into otel-php I knocked up laravel-opentelemetry. At the time it only used the Zipkin Exporter. Since things are getting closer and closer to GA, I think it would be beneficial to the project to have laravel autoinstrumentation baked in.

https://github.com/SeanHood/laravel-opentelemetry

Status of the project:
* Instruments the following via a Laravel Middleware: `path`, `url`,

[2021-08-17 13:10] bobstrecansky commented on #400
@SeanHood - I'd love to have this donation!  I agree with you about it living in opentelemetry-php-contrib.  I'd think we should take your current implementation, add the steps forward, and move it to contrib.

[2021-08-17 14:53] zsistla commented on #400
I agree with Bob, this sounds great!

On Tue, Aug 17, 2021 at 6:10 AM Bob Strecansky ***@***.***>
wrote:

--
Amber Sistla
Software Engineer
New Relic

[2021-08-17 15:10] tydhot commented on #362
@bobstrecansky Thank you for your reply:). I have found SkyWalking have a project https://github.com/SkyAPM/SkyAPM-php-sdk. It seemed that it can auto instrument php app lately. I think it is awesome. Do we have any plan to create a php sdk like that? It would be very helpful I think.

[2021-08-18 12:25] bobstrecansky commented on #362
@tydhot - nothing on the roadmap for auto instrumentation yet.  If you would to open an issue for this, we can prioritize it accordingly

[2021-08-18 14:47] prondubuisi commented on #400
Sounds good @SeanHood, I did have a task to create a Laravel Package for Otel-PHP, happy to jump on this one with you!

[2021-08-18 15:03] tydhot commented on #362
@bobstrecansky ok I got it. I think auto instrumentation is an exciting feature for otel php user.

[2021-08-18 16:24] tydhot opened #402 "Do we have any plan about auto instrumentation?"
I have found a project lately: https://github.com/SkyAPM/SkyAPM-php-sdk. It support auto instrument for php app. I think if we can support the auto instrumentation,  it will be an exciting feature for otel php user too.  Do we have any plan about this?

[2021-08-20 20:28] lalex commented on #271
I'm on it.

[2021-08-24 15:37] bobstrecansky commented on #402
There is not currently a plan for auto-instrumentation.  Would love to hear suggestions / implementations if you have them!

[2021-08-24 15:38] bobstrecansky commented on #362
Closing this, as we have an issue directly for auto instrumentation here: https://github.com/open-telemetry/opentelemetry-php/issues/402

[2021-08-24 15:38] #362 closed

[2021-08-25 14:23] bobstrecansky commented on #203
We've closed this for now as it hasn't taken highest priority.  Feel free to reopen if you'd like to work on this!

[2021-08-25 14:23] #203 closed

[2021-09-01 17:57] bobstrecansky opened #405 "Documentation for opentelemetry.io"
We'd like to add some documentation to the opentelemetry.io website.

the [website_docs](https://github.com/open-telemetry/opentelemetry-php/tree/main/website_docs) folder pushes all of its contents to https://opentelemetry.io/docs/php/

We should include our documentation in there in order to make it easier for end users to adopt our library.

[2021-09-08 00:05] Blacksmoke16 commented on #227
It would probably make sense to change that method to `recordThrowable` and set the span to failed if it's in instance of `Error`. Otherwise, just because an exception is recorded doesn't mean it would cause the span to error.  E.g. if you gracefully handled it. However an `Error` usually would mean you need to fix something in your code.

[2021-09-08 00:08] Blacksmoke16 commented on #227
@bobstrecansky I think github took my link to a specific comment to mean it would close the whole issue. Should probably reopen this.

[2021-09-10 13:52] #348 closed

[2021-09-12 15:48] Blacksmoke16 commented on #358
Fixed via #407

[2021-09-15 02:43] Grunet opened #414 "Getting a Gitpod Workspace Setup for the Repo Takes ~20 Minutes"
Before opening a feature request against this repo, consider whether the feature should/could be implemented in the [other OpenTelemetry client libraries](https://github.com/open-telemetry). If so, please [open an issue in opentelemetry-specification](https://github.com/open-telemetry/opentelemetry-specification/issues/new) first.

**Is your feature request related to a problem?**
When I open this

[2021-09-15 03:23] Grunet opened #415 "Use of "iterable" Type May Need Re-Evaluation Across the Repo"
**Describe your environment** Describe any aspect of your environment relevant to the problem, including your php version (`php -v` will tell you your current version), version numbers of installed dependencies, information about your cloud hosting provider, etc. If you're reporting a problem with a specific version of a library in this repo, please check whether the problem has been fixed on mast

[2021-09-15 10:32] SeanHood commented on #383
Just had a thought: I was going to do this as part of this issue but maybe could be split into a new issue(?). Would be to merge `OtlpHttp/SpanConverter` and `OtlpGrpc/SpanConverter` into `Otlp/SpanConverter`. From when I worked on them I think they're 99-100% the same but this would save some duplication of effort between updates to either.

[2021-09-16 03:06] Grunet commented on #328
Here are some notes from my quick look at the current state of other client SDK implementations around this:

- [Go](https://github.com/open-telemetry/opentelemetry-go/pull/2095) is the only one I see evidence of having tried implementing this, but possibly only partially (i.e. maybe just for gRPC/http and traces?)
- [Java](https://github.com/open-telemetry/opentelemetry-java/issues/3271) is waiti

[2021-09-18 15:30] bhaibel commented on #415
@Grunet Reading this and the thread for your PR #412, it sounds like you believe #412 makes a dent in the issue but doesn't completely solve it. This issue is also really open-ended.

You might not know what next steps for smoking out all other potential bugs would look like. But if you have even kind of a place you would suggest starting, would you mind leaving that as a breadcrumb for other deve

[2021-09-18 18:06] Blacksmoke16 commented on #240
Think this is resolved via #410.

[2021-09-19 00:49] #240 closed

[2021-09-19 01:57] Grunet commented on #415
For sure. IMO a first step could be to figure out how many of the [usages of the "iterable" type](https://github.com/open-telemetry/opentelemetry-php/search?q=iterable) are actually part of the public API surface for the library vs being part of a method marked "public" (since PHP doesn't have a concept of "internal" methods or similar AFAIK it's hard for me at least to tell what isn't accessible

[2021-09-19 02:16] Grunet commented on #326
I would like to take a crack at this (to also help give me a better sense for the repo/library)

From just a code review (not looked at the coverage data yet) it seems like the case where the [gRPC call succeeds](https://github.com/open-telemetry/opentelemetry-php/blob/main/contrib/OtlpGrpc/Exporter.php#L150) may be untested.

I may start with trying to get a test case mocking the TraceServiceClie

[2021-09-19 13:30] bobstrecansky commented on #326
Thanks @Grunet - assigned to you.  Let us know if you have any questions!

[2021-09-21 01:59] Grunet commented on #414
Verified it now takes ~1 minute (!!!) after the changes from #420 and/or #421 (not exactly sure which)

[2021-09-21 01:59] #414 closed

[2021-09-21 01:59] bobstrecansky commented on #414
This was fixed with both #420 and #421 !

[2021-09-21 14:53] arminru commented on #225
Note that in addition to the user feedback you got having such a resource detector mechanism is also part of the spec:
https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/resource/sdk.md#detecting-resource-information-from-the-environment

[2021-09-24 08:37] dkarlovi commented on #356
Note, this doesn't need to be a separate repo to be a separate package. I'd suggest keeping it in the same repo to ease maintenance.

[2021-09-25 12:28] chalin opened #423 "Move website_docs back to website repo? (Decide by Oct 1)"
As discussed at the [Sept 9 Comms][cm] and [Sept 13 Maintainers][mm] meetings, @open-telemetry/php-maintainers have a choice to make regarding **how your docs** ([website_docs]) will be incorporated into **[opentelemetry.io]**.

For your **two choices** and other details, see https://github.com/open-telemetry/opentelemetry.io/issues/730.

The Comms team can help implement either of these choices.

[2021-09-25 12:34] chalin commented on #405
The docs might move: for details, see #423. /cc @austinlparker

[2021-09-25 12:36] chalin commented on #423
/cc @open-telemetry/php-approvers

[2021-09-28 13:37] bobstrecansky commented on #423
I'd love to keep the docs in `/websites_docs` rather than have them be in the opentelemetry.io repo.

[2021-09-29 16:25] Blacksmoke16 opened #424 "Replace`API\Events` and `API\Links`"
The `API\Events` and `API\Links` objects feel a bit redundant versus just using arrays, or `ArrayObject`.

Still TBD which we want to go with data model wise. The main benefit of `ArrayObject` is it would be passed by reference by default, which may or not be helpful.

_Originally posted by @Blacksmoke16 in https://github.com/open-telemetry/opentelemetry-php/pull/422#discussion_r712602938_

[2021-09-29 16:57] Blacksmoke16 opened #425 "PHP organization/naming pass"
Currently all of the source PHP code lives within their own folders in the root directory. From what I remember talking with @bobstrecansky is that this was just how the original creator of the lib set it up, and not some OTLP requirement.

Related to this, the API is defined under the `OpenTelemetry\Trace` namespace and are using names like `Span` for interfaces.

Because we are still in a pre-al

[2021-09-29 16:59] Blacksmoke16 opened #426 "Revamp examples"
As a result of #422, examples will need to be updated to work with the new API. A lot of them are also very similar. IMO it would be better to have the examples show off specific features, like a simple one, child spans, etc. Instead of every type of exporter getting its own example.

_Originally posted by @Blacksmoke16 in https://github.com/open-telemetry/opentelemetry-php/pull/422#discussion_r71

[2021-09-29 17:03] Blacksmoke16 opened #427 "Do not include dropped attribute/links/event counts if there are none"
We're including these properties all the time, but the spec says they shouldn't be set if they're `0`.

Ref: https://github.com/open-telemetry/opentelemetry-specification/blob/v1.6.1/specification/trace/sdk_exporters/non-otlp.md#dropped-attributes-count

_Originally posted by @Blacksmoke16 in https://github.com/open-telemetry/opentelemetry-php/pull/422#discussion_r718126627_

[2021-09-29 17:44] Blacksmoke16 opened #428 "Migrate some Trace logic into the API"
or

Ref: https://github.com/open-telemetry/opentelemetry-specification/blob/v1.6.1/specification/trace/api.md#context-interaction and https://github.com/open-telemetry/opentelemetry-specification/blob/v1.6.1/specification/trace/api.md#wrapping-a-spancontext-in-a-span

At the moment the actual implementation is in the SDK. Moving all that to the API side of things will be another PR. Java has the a

[2021-09-29 18:05] Blacksmoke16 opened #429 "Support Baggage propagation"
#410 laid the ground work but some work still needs to be done:
  * Create a new `TextMapPropagator`
  * Create a new `CompositeTextMapPropagator` type to wrap Trace and Baggage implementations
    * https://github.com/open-telemetry/opentelemetry-specification/blob/v1.6.1/specification/context/api-propagators.md#composite-propagator
  * Move types to the API layer and expose global propagator typ

[2021-09-29 23:10] #239 closed

[2021-09-29 23:10] #266 closed

[2021-09-29 23:10] #379 closed

[2021-09-30 03:05] Grunet commented on #402
More of an experience report, but I had a chance to try out OTEL auto instrumentation for a simple (Node) Express server during a recent workshop (and it was super cool!), and from what I could tell the [npm package](https://www.npmjs.com/package/opentelemetry-instrumentation-express) being used specifically to instrument Express was doing some form of "monkey patching" of Express's methods (I thi

[2021-09-30 22:22] Blacksmoke16 opened #431 "Use `4318` as the default OLTP/HTTP port"
The default HTTP OTLP port is now `4318`.

Ref: https://github.com/open-telemetry/opentelemetry-specification/pull/1970.

[2021-10-01 13:00] #424 closed

[2021-10-01 13:32] bobstrecansky commented on #425
I'm happy for you to follow the PHP FIG conventions and class naming conventions.  This might be a large effort but if you feel that it's worth it, I'm happy to endorse it.

[2021-10-01 14:10] Blacksmoke16 commented on #425
@bobstrecansky Great! I don't actually think it'll be _too_ bad. PHPStorm's refactoring features should handle a lot of the work. I'll give it a go and see how it plays out.

[2021-10-01 16:48] bobstrecansky commented on #425
PHPStorm is the hero we all need 🍡

[2021-10-01 19:15] chalin commented on #423
Ok, I'll set it up as a submodule then.

[2021-10-03 10:32] #425 closed

[2021-10-03 10:33] #423 closed

[2021-10-03 16:43] #428 closed

[2021-10-06 18:39] #429 closed

[2021-10-07 03:32] Grunet commented on #427
I'm a little confused after an initial investigation into this one and feel I may be missing something simple, as it seems like the Span class (from the generated proto/ files) being initialized and returned by both of the "as_otlp_span" methods in the repo that add "dropped_***" attributes will always set its "dropped_***_count" fields to uint32's (or at least I'm not seeing a way to "unset" them

[2021-10-07 03:33] prondubuisi commented on #220
Hello @tidal, please feel free to take this up. Thanks.

[2021-10-07 03:49] Blacksmoke16 commented on #220
@tidal I'd also be quite interested in helping out!

[2021-10-08 01:43] tidal commented on #220
@prondubuisi
Ok, great, I will.

In general, where do you guys want the symfony bundle to live? If it's intended to be part of the open-telemetry organization, it needs a separate repository (or sub split, etc.) I could run PRs against. Sadly packagist can only cope with packages in a root directory.

@Blacksmoke16  Sounds good. I have seen you have done a lot of work on this library, so your know

[2021-10-08 11:41] markvdlaan93 opened #441 "Expected alpha version of this library"
According to the OpenTelemetry docs, this library seems to be pre-alpha: https://opentelemetry.io/docs/php/ Is it already known when this library will be set to alpha?

[2021-10-08 11:59] markvdlaan93 opened #443 "Release baggage implementation"
I see that the baggage implementation is on master. Is there already known when the baggage implementation will be released? https://github.com/open-telemetry/opentelemetry-php/commit/1109aa5628700a3ccaed9c3956eb025c12f3d757

[2021-10-08 12:08] bobstrecansky commented on #443
@markvdlaan93 - we will be sure to cut a release soon.  Note that this is still alpha software, but we would be happy to receive feedback!

[2021-10-08 12:25] bobstrecansky commented on #220
@Blacksmoke16 is correct; `opentelemetry-php-contrib` would be the place for the instrumentation!  Thanks for you ideals on this @tidal; looking forward to helping out any way you need!

[2021-10-09 01:26] Blacksmoke16 opened #444 "Define `SpanExporterInterface#forceFlush`"
See https://github.com/open-telemetry/opentelemetry-specification/blob/v1.7.0/specification/trace/sdk.md#forceflush-2.

_Originally posted by @Blacksmoke16 in https://github.com/open-telemetry/opentelemetry-php/pull/439#r723822089_

[2021-10-09 01:28] Blacksmoke16 opened #445 "Support `schemaUrl`"
See https://github.com/open-telemetry/opentelemetry-specification/blob/v1.7.0/specification/trace/api.md#get-a-tracer and https://github.com/open-telemetry/oteps/blob/main/text/0152-telemetry-schemas.md.

_Originally posted by @Blacksmoke16 in https://github.com/open-telemetry/opentelemetry-php/pull/439#discussion_r723821913_

[2021-10-09 01:30] Blacksmoke16 opened #446 "Better leverage psalm enum typing on `SpanExporterInterface#export`"
Update `SpanExporterInterface#export` to leverage psalm enum typing as  `STATUS_*`.

_Originally posted by @Blacksmoke16 in https://github.com/open-telemetry/opentelemetry-php/pull/439#discussion_r723822216_

[2021-10-09 01:31] Blacksmoke16 opened #447 "Optimize `baggage` header parsing logic"
Current implementation works, but could be updated to be more performant/efficient.

_Originally posted by @bobstrecansky in https://github.com/open-telemetry/opentelemetry-php/pull/437#discussion_r721869389_

[2021-10-09 01:52] bobstrecansky commented on #220
Yes; that is the pattern that the other language SIGs (including the Collector) are following now.

[2021-10-09 02:29] tidal opened #448 "Library has a dependency on PSR7/PSR17 interfaces - Exporter factory methods have a dependency on an concrete implementation (Guzzle)"
**Describe your environment**
This bug occures in the 0.0.3 release as well as in current dev-main

**Steps to reproduce**
Run:
`composer require open-telemetry/opentelemetry nyholm/psr7 kriswallsmith/buzz`
Code:
`$factory = new OpenTelemetry\Sdk\Trace\ExporterFactory('foo)');`
`$exporter = $factory->fromConnectionString('jaeger+http://localhost:9412/api/v2/spans');`
or
`$exporter = OpenTelemetry\

[2021-10-09 02:42] Blacksmoke16 commented on #448
Related: https://github.com/open-telemetry/opentelemetry-php/issues/296.

Jaeger exporter needs extracted into its own type, versus relying on Zipkin.

[2021-10-09 02:57] tidal commented on #220
@Blacksmoke16 The problem is not even that Private Packagist is a paid service, but that it's meant to host proprietary packages. So users would have to add [additional configuration](https://getcomposer.org/doc/articles/handling-private-packages.md#usage) to even be able to load the packages.
However all packages/components of [Symfony](https://github.com/symfony/symfony) live in a mono repo as w

[2021-10-09 03:08] Blacksmoke16 commented on #220
@tidal Ahh fair enough, I missed the extra config part.

However, IMO, I wouldn't handicap the bundle just to integrate it into `open-telemetry-php`. It would be best to have a bundle that takes full advantage of Symfony's features, and figure out a distribution solution later. Not much we can really do to work around it it seems. At this point it's just a question of if they'd rather have a dedic

[2021-10-09 04:17] tidal commented on #220
Ok, I just tested a minimal symfony bundle living in `opentelemetry-php-contrib`:
https://github.com/tidal/opentelemetry-php-contrib/blob/sf-bundle-test/instrumentation/symfony/src/OpenTelemetryBundle.php

Adding the open-telemetry/opentelemetry-php-contrib package to a symfony project does result in the bundle to be detected and auto registered (config/bundles.php):
`
return [
    Symfony\Bundle\

[2021-10-09 05:15] prondubuisi commented on #220
Hello @bobstrecansky, I think this is the exact opposite. Every Package should be separate and self-containing I think. Communities like that of Symfony thrive in being just minimalist and using only what you need. So having a Symfony package that also has Laravel configs and configs for other frameworks would not really fly. cc @dkarlovi

[2021-10-09 05:18] prondubuisi commented on #220
Yeah, I agree. We should get working packages first and figure out how to publish them from https://github.com/open-telemetry/opentelemetry-php-contrib later.

[2021-10-09 06:01] tidal commented on #445
What kind of schema is this actually referring to? I could not find any answer to that in the spec or docs (or I'm blind).

[2021-10-09 13:01] Blacksmoke16 commented on #445
@tidal Mm yea, the spec doesn't make it super obvious what it is :/ I updated the OP to include some more context.

[2021-10-09 16:24] tidal commented on #220
Guys, please take a look at the configuration draft for the the symfony bundle. This draft yet only reflects possible configurations to wire up the tracing SDK via dependency injection. It does not yet take into account what is actually recorded and how. This ca be dealt with once the bundle can "tame" all the boilerplate code.
Most entries will have default values and there is (will be) validatio

[2021-10-09 17:40] Blacksmoke16 commented on #220
@tidal I think it's a good start!.

Unfortunately, the SDK doesn't really have a way to configure itself at the moment, so it's not immediately clear _what_ all needs to be configurable, or how that would be setup. Ideally once that is more ironed out the Symfony config could just forward the same config to it, then provide the configured types as services. Until then I think keeping things simple

[2021-10-09 18:36] #270 closed

[2021-10-10 14:35] tidal commented on #220
@Blacksmoke16  Thanks for your feedback!

Not yet, but I can take care of that. There is always the possibility to create and configure custom services and reference them with @my_service in SF configs.

Ok.

This should be no problem.

Symfony [Config ](https://symfony.com/doc/current/components/config.htm) and [Dependency Injection](https://symfony.com/doc/current/components/dependency_injection

[2021-10-10 16:45] tidal opened #449 "Make Clock respect a certain time zone."
**Is your feature request related to a problem?**
Systems, networks, etc. may span multiple time zones and tracing data should be able to be synced to a reference time zone (eg. UTC)

**Describe the solution you'd like**
Enable the Clock class to be set to a certain time zone.
Here is an example how this could be implemented:
https://github.com/lcobucci/clock/tree/2.1.x/src

**Describe alternative

[2021-10-10 16:49] Blacksmoke16 commented on #449
Why would you need to use a different timezone? The `Clock` implementation is based on Unix timestamps, which is what the spec requires, and is already timezone independent.

See https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/trace/api.md#time.

[2021-10-11 23:15] tidal commented on #220
Regarding extracting individual packages from the `opentelemetry-php-contrib` mono-repo:

This is the subtree splitter used by symfony: https://github.com/splitsh/lite
This is a subtree split as a service: https://www.subtreesplit.com/ . I have never used it, but it's free and the service is provided by the author of the DsnParser and used in the SDK and the nyholm/psr7 http client.

[2021-10-13 02:19] Grunet commented on #295
Here's what I noticed from a quick skim of [Java's implementation](https://github.com/open-telemetry/opentelemetry-java/blob/6ef3091cfb83946372da0d47d70acdf468c9e6c3/exporters/zipkin/src/main/java/io/opentelemetry/exporter/zipkin/ZipkinSpanExporter.java)

- "op.status_code" is instead "otel.status_code"
- "op.status_description" isn't present
- Has mentions of "otel.dropped_attributes_count" and "

[2021-10-13 17:19] #443 closed

[2021-10-14 02:53] Grunet commented on #295
Ah perfect! That at first glance looks like what the other languages have

I think the commonality between JS and Java's "tags" handling that PHP didn't have was the little bit of extra handling/logic around the status code and error. The other pieces around "tags" handling seemed to line up afaict

[2021-10-15 00:02] tidal opened #451 "Exporter factory, factory methods and creation could use some rework/cleanup"
**Is your request related to a problem?**

At the moment the creation of span exporters (especially through the factory methods and the factory) class is inconsistent in behavior and in some scenarios broken. However in downstream instrumentations (for example Symfony Bundle) a generic way to instantiate exporters is needed to allow configuration.

1. ~~"fromConnectionString" factory methods in [J

[2021-10-15 03:15] tidal commented on #451
@Grunet
I'm relaltively new to the repo  as well, though I gave the package a try some months ago.

These are just some things which popped up while figuring out a way to [provide configuration ](https://github.com/tidal/otel-apiplatform-example/blob/config-draft/api/config/packages/open_telemetry.yaml) for the SDK in the Symfony Bundle and wiring up the individual parts, so I ent through a lit of

[2021-10-15 04:45] tidal commented on #415
A quick fix for this issue would be to cast the iterator to an array in cases where array behavior is expected but an iterable given.
PHP's function [iterator_to_array](https://www.php.net/manual/en/function.iterator-to-array.php) would do the job here.

[2021-10-15 04:52] tidal commented on #426
In addition it would be good to use snake case for the file names of the examples, as camel case is usually only used for classes, interfaces and traits.

[2021-10-16 19:06] Grunet commented on #295
So I re-read the spec and a few things cropped up other than the things already mentioned above

- Java/Python don't seem to support the "Remote Endpoint" section of the spec (and JS has a TODO) whereas it seems like other languages might
- The spec mentions in 2 places handling converting from Zipkin format back into OTLP format, but I can't find any evidence of any language having implemented th

[2021-10-16 19:07] Grunet commented on #295
I think I'll go ahead and get started on the easier, better understand things that need changing for PHP, and in parallel try to sort out what to do about these new concerns (the need for an inverse converter being the main one I think)

[2021-10-18 03:42] tidal commented on #448
@Blacksmoke16
You might want to take a look at https://github.com/open-telemetry/opentelemetry-php/issues/451 where I outlined some of the issues with the factory. I'd appreciate your feedback/ideas.

[2021-10-18 03:52] tidal commented on #448
Also it might be a good idea to create a dedicated http client/wrapper as suggested in https://github.com/open-telemetry/opentelemetry-php/issues/223 to only have one dependency in the http based exporters.
[PHP-HTTP](https://docs.php-http.org/en/latest/) would come in handy in that case. It's kind of a defacto standard (sits on top of PSR7 and was the base for PSR18) and allows for plugins like c

[2021-10-21 06:00] tidal opened #452 "Http based exporters require a port and a path in enpoint url"
**Steps to reproduce**

Example for Zipikin exporter:

[code]

**What is the expected behavior?**

An exporter instance to be created.

**What is the actual behavior?**

`InvalidArgumentException: Endpoint should have scheme, host, port and path`

**Additional context**

Collector endpoints should be accessible through reverse proxies, load balancers, etc., which may hide the endpoint port and/or

[2021-10-21 06:02] tidal commented on #452
related: https://github.com/open-telemetry/opentelemetry-php/issues/451 , https://github.com/open-telemetry/opentelemetry-php/issues/448

[2021-10-30 10:52] tidal commented on #448
I will start to work on this issue, as well as on the related issues regarding the factory/factories and http transport (https://github.com/open-telemetry/opentelemetry-php/issues/452, https://github.com/open-telemetry/opentelemetry-php/issues/451) . I will try to create small PRs (starting with the bugs), so we later can maybe have a discussion on more opinionated things. For example, I have crea

[2021-10-30 17:55] bobstrecansky commented on #220
Sorry for the additional work!  It's very much appreciated!  Running CI and reviewing.

[2021-10-30 23:51] tidal commented on #220
@bobstrecansky
Don't worry, I have been working on Symfony projects since its version 1, so I new upfront what work this will include.

[2021-10-31 12:09] SeanHood commented on #383
WIP can be found here: https://github.com/open-telemetry/opentelemetry-php/compare/main...SeanHood:otlp-config-opts

Haven't made to many changes recently

[2021-10-31 12:12] SeanHood commented on #448
@tidal I haven't touched it in a while, the rabbit hole got deep. I have pushed the WIP: https://github.com/open-telemetry/opentelemetry-php/compare/main...SeanHood:otlp-config-opts

[2021-10-31 12:18] SeanHood opened #458 "OtlpHttp Export: Duplication of error handling in export function"
Noticed this recently, I think the `catch` will be used in reality but currently I think the tests are using the `if` statements.

Tests would need a refactor, but I think maybe it's best to drop the two `if` statements.

https://github.com/open-telemetry/opentelemetry-php/blob/08916531be23c6d1334cef5209403f8d4d59ce22/src/Contrib/OtlpHttp/Exporter.php#L162-L166

https://github.com/open-telemetry/o

[2021-10-31 12:19] bobstrecansky commented on #458
This makes sense to me.

[2021-10-31 12:43] tidal commented on #448
@SeanHood
Thanks, I will have a look and ponder a bit on what might be a good solution to have a unified approach for all exporters.

[2021-11-01 22:51] brettmc commented on #426
It seems to me that most of the original examples are really developer-focussed integration/regression tests - any thoughts on moving them out of `examples` and into `regression` or something like that? (happy to do this, and get them working again, if they're still useful and required).

[2021-11-02 12:59] Blacksmoke16 commented on #426
There's also an `Integration` namespaces in `tests/SDK` that could be a good place for some of these types of examples.

I still think the examples would be better served showing how to use higher level concepts of the library (e.g. simple versus parent/child) instead needing one for every tiny feature of the lib. Possibly this would also be a good place for textual docs that can just talk about t

[2021-11-02 16:40] tidal commented on #426
@Blacksmoke16
I agree. The exporter setup is kind of straightforward, especially when one has basic understanding of distributed tracing. Other parts of the SDK/API/Spec are not as intuitive to understand. So for the SF bundle I had to dig through a lot of code
and spec docs to make things work. There is nothing wrong with reading the spec (while it's not always an easy read for non native English

[2021-11-06 08:47] tidal opened #574 "[opentelemetry-php-contrib] SdkBundle: Extend documentation of configuration"
The SdkBundle documentation could use same be improvements in regards of the configuration.
- [ ] Show how to enable/disable the SDK or parts of it in different environements (dev, staging, prod, etc.)
- [ ] Show how to configure Resource Limits and Attributes.
- [ ] Show how to configure different Span Samplers, especially the ParentBased Sampler and how to reference custom Samplers.
- [ ] Show h

[2021-11-06 08:48] tidal opened #573 "[opentelemetry-php-contrib] Sdk Bundle: Make sure environment variables work in configuration"
- Make sure environment variables can be referenced in the  configuration as intended.
- This is not fully tested yet. Will need some intergration tests.

[2021-11-06 08:52] tidal opened #572 "[opentelemetry-php-contrib] Sdk Bundle: Implement configuration and utilization of SDK Metric components."
As for now the SdkBundle only offers configuration of the Trace components of the SDK. It should be possible to do the same with the Metrics components.

[2021-11-06 09:00] tidal opened #571 "[opentelemetry-php-contrib] Sdk Bundle: Create a recipe for the bundle"
- [ ] Create a [recipe](https://github.com/symfony/recipes) for the bundle, so the bundle will be automatically registered.
- [ ] Recipe should contain basic(!) configuration and env vars.
- [x] ~~Create a PR at [symfony/recipes-contrib](https://github.com/symfony/recipes-contrib) to publich the recipe.
(Might not be needed anymore, since recipes can be self hosted now)~~

This has to be on hold u

[2021-11-06 09:22] tidal opened #570 "[opentelemetry-php-contrib] SdkBundle: Make Configuration handling better maintainable and reduce technical debt"

[2021-11-06 09:35] tidal opened #569 "[opentelemetry-php-contrib] Sdk Bundle: Create Service Tags and Compiler Passes"
In order to decouple configuration of custom implemetations of API/SDK interfaces better from the configuration of the bundle, Compiler Passes should be implemented to make said calsses taggable. This will also allow to offload some of the logic in the OtelSdkExtension class to the Compiler Passes.
- Create a Compiler Pass for Trace Samplers
- Create a Compiler Pass for Span Processors
- Create a

[2021-11-06 09:40] tidal commented on #220
@bobstrecansky
I believe this task can be closed now. If have created some follow up tasks over at [open-telemetry/opentelemetry-php-contrib/issues](https://github.com/open-telemetry/opentelemetry-php-contrib/issues/) (and probably create some more), in case someone is interested in helping out with improvement or further development.

[2021-11-06 10:28] tidal commented on #298
Related: https://github.com/open-telemetry/opentelemetry-php/pull/460#issuecomment-962429788

[2021-11-06 10:28] tidal commented on #219
Related: https://github.com/open-telemetry/opentelemetry-php/pull/460#issuecomment-962429788

[2021-11-07 15:12] tidal commented on #301
I can take this on (after I finished the exporter factory issues, which however relate to this), and I guess no one is working this yet.
Basically I solved a lot of he tasks involved already in the [Symfony SDKBundle](https://github.com/open-telemetry/opentelemetry-php-contrib/tree/bcd4c4a5996e41fe47615928f2e032bc05b04203/instrumentation/symfony/OtelSdkBundle), though there need to be some adjustm

[2021-11-08 22:51] brettmc opened #462 "TracerProvider factory"
Per spec (https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/sdk-environment-variables.md#opentelemetry-environment-variable-specification): "SDKs `MAY` choose to allow configuration via the environment variables in this specification". It looks like all but one env var required to allow configuring all aspects of a trace provider have been defined. I proposed th

[2021-11-09 04:48] tidal commented on #462
That's good. However I have worked with dozens of companies over the years, and I found out, people do the strangest things, which may not be best pratices. Or in other words, different companies may have different requirements. I also found out "You ain't gonna need it" is a principle which is not really compatible with creating libaries for companies, as there may be a need that configuration ha

[2021-11-09 16:22] bobstrecansky commented on #462
I think this would be a worthwhile endeavor!

[2021-11-12 19:16] tidal opened #464 "Several classes violate direction of dependency between (sub) packages"
**What is the expected behavior?**
The dependency between (sub) packages should create a DAC (Directed Acyclic Graph). [According to the spec](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/library-guidelines.md#opentelemetry-client-generic-design) (sub) packages should be distributable as separate packages.

**What is the actual behavior?**
At the moment sev

[2021-11-14 11:29] brettmc commented on #221
Sampling has been refactored recently (in head, not yet in a released version), which moves the responsibility for sampling decisions into the tracer. Since a user doesn't need to interact with the sampler anymore, this issue might be no longer required? (In fact, in the simple/default case, you don't even need to provide a sampler any more, and you'll get parent-based always-on sampling).

[2021-11-15 13:16] tidal commented on #301
Another option for configuration might be [thephpleague/config](https://github.com/thephpleague/config). It's a more simplistic approach than [symfony/config](https://symfony.com/doc/current/components/config.html) and creates a data structure, which comes close to a 'well-defined struct'.

[2021-11-15 16:51] #448 closed

[2021-11-16 00:37] brettmc opened #473 "`ResourceInfo` needs a dedicated factory"
I believe `ResoerceInfo` needs a dedicated factory. It's overloaded with factory methods, while creating objects is not its main responsibility. However this could be changed in a later PR.

_Originally posted by @tidal in https://github.com/open-telemetry/opentelemetry-php/pull/469#r748851138_

[2021-11-18 21:39] brettmc commented on #462
Implemented in https://github.com/open-telemetry/opentelemetry-php/pull/469

[2021-11-18 21:39] #462 closed

[2021-11-19 16:24] tidal opened #481 "Update README"
The readme is a bit out of sync with latest development and could use some polishing as well.

- [X] Current requirements to install the library should be documented.
- Maybe add a short documentation of additional (or all) make targets.
- There is a lot of redundancy, which does not really help readability.

[2021-11-19 16:57] tidal opened #482 "Proposal: Make gRPC PHP extension optional"
Proposed change:
- Move grpc-ext to dev requirements in composer.json
- Add a suggest entry for grpc-ext in composer.json
- Document in README (and docs). see: https://github.com/open-telemetry/opentelemetry-php/issues/481

Reasons for the proposal:
- The gRPC extension is not a dependency of the API or the SDK, but only one contrib exporter (atm).
- Compiling the extension can takes up to 10-20 m

[2021-11-21 19:12] #452 closed

[2021-11-21 23:51] brettmc opened #484 "packagist auto-update"
`dev-main` on packagist.org is dated 11-Nov - is there an automated process to update packages?
eg, see https://packagist.org/about#how-to-update-packages

[2021-11-22 17:09] bobstrecansky commented on #484
I'm not sure about this but I'd also be curious to know.

[2021-11-22 17:11] #295 closed

[2021-11-22 21:18] brettmc commented on #382
@hrodic - there is an example now that covers your request. Please check it out, feedback welcome. Can this issue be closed now?

[2021-11-22 23:28] brettmc commented on #324
@bobstrecansky  - I think this has been resolved by https://github.com/open-telemetry/opentelemetry-php/pull/406 - I just tried it out and I can add links via SpanBuilder, export them and see them in jaeger.

[2021-11-23 00:51] brettmc commented on #484
There is a note on the [packagist page](https://packagist.org/packages/open-telemetry/opentelemetry) that `This package is *not* auto-updated` - I think that a maintainer would need to set this up (@nekufa is listed as the maintainer in packagist, perhaps one to discuss in SIG this week)

[2021-11-23 14:30] nekufa commented on #484
Greet, glad to hear you are on the go to the release.
I can't configure autoupdate due my github repository permissions.
So, I've added @bobstrecansky as maintainer, and now anyone else can be added by Bob.

Hope this should be enough.
If i can help anything else - feel free to contact me.

[2021-11-24 02:11] Grunet commented on #296
I'll go ahead and plan on tackling this.

1st thing is that the above Jaeger spec link is stale. [Here's one pointing to the latest version](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/trace/sdk_exporters/jaeger.md).

From a quick skim of it it seems like there may be 2 or 3 sections shared with the Zipkin exporter, but it may make sense to just start from

[2021-11-24 19:21] brettmc commented on #302
Implemented in https://github.com/open-telemetry/opentelemetry-php/pull/469 - I think this issue can be closed.

[2021-11-25 15:19] brettmc commented on #383
I've started working on this, PR coming soon once I self-review.

[2021-11-26 04:53] brettmc commented on #482
I assumed this would go ahead, and so made http+protobuf the default in #488

[2021-11-28 23:24] #302 closed

[2021-11-28 23:49] #324 closed

[2021-12-01 05:22] kishannsangani commented on #225
Hey @bobstrecansky, can you please assign this issue to me?

[2021-12-01 22:00] brettmc commented on #301
I like the look of thephpleague/config - having an organised/structured config does seem nice, and I like the dot-notation access.
Do we need to be able to inject more config providers into it, though? (config from environment, at least).
I mentioned in SIG today that I had a rough idea for config (which doesn't use any 3rd party libraries):
`Config\ConfigProviderInterface.php`
[code]
Add some con

[2021-12-01 23:53] tidal commented on #301
@brettmc
Looks good, I had something very similar in mind. I was also thinking of only using the underlying [nette/schema](https://github.com/nette/schema), but if you like the the get/set/has access and the dot notation of thephpleague/config, that's totally fine with me. However you can take a look at nette/schema to get a better clue, what's possible with the Expect classes.
Do we want to settl

[2021-12-02 02:16] brettmc commented on #301
@tidal - I think `nette/schema` is really good just by itself - it supports nested objects, and has a `processMultiple()` method which can accept multiple data sets (ie, user-provided + from-environment).
re: costs of parsing yaml - I'm inclined to leave that for now, it feels like a user problem: "you can use whatever config mechanism you like, provided you can convert it to an array that matches

[2021-12-02 03:07] tidal commented on #301
Ok. cool.

Yes, I agree. This could be solved by instrumenting libraries/frameworks or the user. But we culd also offer one solution in the contrib repo later on.

Looks good, however keep in mind that according to the spec multiple exporters/processors should be configurable as well as custom implementations of sampler, processor and exporter.
You can take a look at all the config  options for th

[2021-12-02 10:23] brettmc commented on #301
@tidal - first draft of config: https://github.com/open-telemetry/opentelemetry-php/pull/498
It's just generating the config out to a stdClass, but it looks like we could cast that to a real class for better visibility. I've based the structure loosely on the symfony sdk bundle.

[2021-12-02 22:13] brettmc opened #499 "Proposal: create an `experimental` dir"
Idea from @tidal in https://github.com/open-telemetry/opentelemetry-php/pull/498#issuecomment-984831495

To consider:
- namespace
- autoloader (dev only?)
- should not be published to packagist?

[2021-12-02 22:45] tidal commented on #499
Yes!
If it's a special one (eg. `OpenTelemetry/Experimental`) it could also host modified version of existing files.

Yes!

Yes!

[2021-12-03 04:33] Grunet commented on #499
Just for reference I think [this search](https://grep.app/search?q=%28&filter[repo.pattern][0]=open-telemetry&filter[path.pattern][0]=experimental) captures the other repos that do something like this (or at least some of them perhaps)

[2021-12-03 05:38] Grunet commented on #296
In-flight PRs relevant to this to keep in mind

- #337
- #482

Interesting [issue](https://github.com/open-telemetry/opentelemetry-java-instrumentation/issues/1973) from Java that has some interesting info/context around this.  From there I found the [SDK env variables for Jaeger](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/sdk-environment-variables.md#jae

[2021-12-03 18:35] tidal opened #500 "Create B3 Propagator"
**Is your feature request related to a problem?**
`W3C tracecontext` is not yet supported "everywere" plus B3 propagation is part of the [Spec Compliance Matrix](https://github.com/open-telemetry/opentelemetry-specification/blob/main/spec-compliance-matrix.md#context-propagation).

**Describe the solution you'd like**
Two Propagator implementations. One for B3 [Single Headers](https://github.com/o

[2021-12-03 18:35] tidal commented on #500
I'll work on that.

[2021-12-04 01:47] tidal commented on #499
@Grunet
Thank you, I did not know that such a great name like "grep.app" exists (no sarcasm, I love it!).
The features are cool too, btw.

[2021-12-04 23:22] tidal commented on #484
@bobstrecansky
Can the [packagist application](https://github.com/settings/connections/applications/a059f127e1c09c04aa5a) be added to the repo/org?
Otherwise we probably need to call packgist from CI to update.

[2021-12-04 23:55] brettmc commented on #499
Another thought - having `experimental` is good for trying things out, but it would also be useful to use it as a way to collaborate or have others try out prototype code. Having to submit a PR and merge to main is too much friction for collaboration.

[2021-12-05 01:16] tidal commented on #499
@brettmc
We could use the clones in https://github.com/otel-php for people to collaborate in the future.
I actually created them just to test the sub-splits, but we could keep them to have an easier way to collaborate.

[2021-12-06 13:54] #482 closed

[2021-12-06 13:55] bobstrecansky commented on #484
I've made a request to the maintainers of the opentelemetry project:

![image](https://user-images.githubusercontent.com/4099109/144858291-cd113192-75c6-4e21-850e-0dfc6a5d3fb1.png)

Hopefully we'll hear back from them shortly.

[2021-12-06 14:11] bobstrecansky commented on #499
It appears you've added this in https://github.com/open-telemetry/opentelemetry-php/pull/498, so I'm going to go ahead and close this issue for now.

[2021-12-06 14:11] #499 closed

[2021-12-06 16:55] lalex commented on #426
Could we rework or totally remove examples named `AlwaysOn...` as they show bad pattern of exposing `Sampler`s implementation? Client's code should not rely on sampling decisions made by samplers.

I've noticed it while browsing the source of the Symfony bundle: https://github.com/tidal/otel-sdk-bundle-example-sf5/blob/6b84645171d7f4fac06c82ec857291fb58ffecad/src/EventSubscriber/OtelKernelSubscrib

[2021-12-06 18:40] tidal commented on #426
That's not the source code of the Symfony Bundle. However I'm excited somebody found my easter egg, since I actually forgot about it,
I agree, that the sampling decisions should not be in the examples. They are more confusing, than helpful anyway.
One simple example for each sampler should be enough.

The sampling decisions are also used in the Symfony/Laravel tutorials, but what I'm more concerne

[2021-12-06 23:30] tigrannajaryan opened #504 "Is it possible to rename "instrumentation library" to "instrumentation scope"?"
This initially came from a [discussion](https://github.com/open-telemetry/opentelemetry-specification/pull/1236#issuecomment-970464780) about introducing Logger Name.

While discussing the issue during the spec SIG meeting we came to a conclusion that the intent for "instrumentation library" was actually to have an "instrumentation scope".

The "instrumentation library" is currently used throughou

[2021-12-07 05:06] Grunet commented on #296
- [Java's code](https://github.com/open-telemetry/opentelemetry-java/blob/e0854d6ac11cfe4c3794255d365b2272939674a4/exporters/jaeger-thrift/src/main/java/io/opentelemetry/exporter/jaeger/thrift/Adapter.java) for converting between OTLP and Jaeger's Thrift format looked reasonable enough to adapt from a first skim (at least I didn't notice anything obviously blocking, maybe excepting the [id handlin

[2021-12-07 08:28] tidal commented on #296
Yes, besides the class being called "Adapter" when it's not an adapter, but something like a [Message Translator](https://www.enterpriseintegrationpatterns.com/patterns/messaging/MessageTranslator.html).

Yes,  relying on something, which OpenTracing is effectively trying to replace, seems to be a bit odd. We could use the client (as an interim solution) and decouple it by using Adapter Pattern, b

[2021-12-07 16:56] tigrannajaryan commented on #504
It appears the conclusion of many SDKs is that this is not a possible change. Closing.

[2021-12-07 16:56] #504 closed

[2021-12-07 17:01] tidal commented on #504
@tigrannajaryan
Ok, FWIW, we wanted to discuss this in our meeting at Wednesday, but it should not have been a problem for us, and a 1 minute task with suitable refactoring tools.

[2021-12-07 17:15] tigrannajaryan commented on #504
@tidal Thanks for checking. This change is not possible in other SDKs and we need it everywhere or nowhere, so we are forced to back off and close this.

[2021-12-07 23:48] #220 closed

[2021-12-08 02:54] tidal commented on #328
This is not feasible as a generic feature of the exporter, as it pretty much depends on the [runtime](https://github.com/php-runtime/runtime), if this will create problems or not. So if anything this feature has to be turned on explicitly by the user/instrumentation.
The problems can occure mainly (but not only) in [PHP-FPM and traditional web servers](https://github.com/php-runtime/runtime#php-fp

[2021-12-08 15:01] tidal commented on #219
Closing this issue as according to the [spec](https://github.com/open-telemetry/opentelemetry-php/pull/460#issuecomment-962429788) the API/SDK must not throw unhandled exceptions and using exceptions to handle logic is expensive.

General error handling is covered in https://github.com/open-telemetry/opentelemetry-php/issues/298